@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(fonts/ecoicon.woff) format('woff');
}
body{
  font-family: 'PT Sans', sans-serif !important;
}
footer{
  font-size:18px;
}
.hideLinkDefault:hover{
  text-decoration:none !important;
}
.ignore-desktop{
  display:none;
}
.login-body{
   /*background: url('../img/bg.png') #F09609 !important;*/
   
}
.heading-part{
  background-attachment: fixed !important;
}
.div2{
  background: #fff !important;
  background-attachment: fixed !important;
  padding-bottom:30px;
  padding-top:10px;
}

.intro-video{
  border: 10px solid white;
  box-shadow: 0px 0px 30px black;
}

.div3{
  background-attachment: fixed !important;
}

.heading{
  font-size: 30px;
  text-align: center;
  letter-spacing: 2px;
  line-height: 35px;
}
.font-feature{
	font-size: 20px;
	padding-top: 40px;
	padding-bottom: 12px;	
	text-align: center;
	letter-spacing: 2px;
	line-height: 35px;

}
.signup
{
  font-size: 20px;
	padding-top: 100px;
	padding-bottom: 12px;	
	text-align: center;
	letter-spacing: 2px;
	line-height: 35px;

}
.img{

	letter-spacing: 2px;
	line-height: 50px;	
	height: 100%;
	width: 100%;
}
.space-panel1{
  padding-top: 30px;
}

h2{
	text-transform: uppercase;
}
input{
	display: flex;
	align-items:center;
}
#inputEmail3
{
 height: 40px;
 width:120%;
 background: #FDFCFB;
 letter-spacing: 1px;
 text-indent: 5%;
 border-radius: 5px 0px 0px 5px;
}
button{
	height: 40px;
	border-radius: 10px 10px 10px 10px;
	
}
/*form
{
	width: 700px;
	margin: 10% auto;
}*/

#signup {
  width: 90%;
  height: 40px;
  font-weight: bold;
  background: #312F2F;
  color:#fceacd ;
  letter-spacing: 1px;
  border-radius: 0 5px 5px 0;
  border: none;
  
}
#signup:hover {
  background: #000;
}

.divider {
    margin: 20px 0;
    line-height:10.5px;
    border-bottom:2px dashed #000000;
    color: #cccccc;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
}
.divider:before {
    content:"OR";
    color: #fceacd;
    border-radius: 100%;
    position:relative;
    padding:0 10px;
    top:5.5px;
    background:#000000;
}
.social{
  color: #fceacd;
  text-transform: uppercase;
}
.social #fb button{
  background: #45619D !important;
  border-radius: 3px 3px 3px 3px;
  text-transform: uppercase;
}
.social #gplus button{
  background-color: #D73D32;
  border-radius: 3px 3px 3px 3px !important;
  text-transform: uppercase;
}

.intro-heading{
  margin-top: 100px;
  color: white;
  font-size: 56px;
  text-stroke: 3.2px yellow;
  text-fill-color: white !important;
  -webkit-text-stroke: 3.2px white;
  -moz-text-stroke:3.2px white;
  -ms-text-stroke:3.2px white;
  -o-text-stroke:3.2px white;
  -webkit-text-fill-color: white !important;
  -moz-text-fill-color: white !important;
  -ms-text-fill-color: white !important;
  -o-text-fill-color: white !important;
}

.login-button{
  color: #333 !important;
  font-weight:bolder !important;
  background: -webkit-linear-gradient(left bottom, white 0%,black 199%) !important;
  background: -moz-linear-gradient(left bottom, white 0%,black 199%) !important;
  background: -o-linear-gradient(left bottom, white 0%,black 199%) !important;
  background: -ms-linear-gradient(left bottom, white 0%,black 199%) !important;
  border-color: #ccc !important;
}
.login-button:hover{
  background: -webkit-linear-gradient(left bottom, white 0%,black 99%) !important;
  background: -moz-linear-gradient(left bottom, white 0%,black 99%) !important;
  background: -o-linear-gradient(left bottom, white 0%,black 99%) !important;
  background: -ms-linear-gradient(left bottom, white 0%,black 99%) !important;
}

.footer-links p a{
  /*color:#A7A2A2 !important;*/
  color:#F5DAF7 !important;
}
.footer-links p a:hover{
  color:#DF3F00 !important;
  text-decoration: none !important;
}

.footer{
  min-height: 200px; 
  /*background:url('../img/try/pattern2.png') #BD0F0F !important;*/
  /*background: url('../img/editor/editorbg1.png'),-webkit-linear-gradient(top left,#060606,#DA0505,#060606) !important;*/
  background-attachment: fixed;
  color: white !important;
}


.arrow_box {
  position: relative;
  background: #fff !important;
  border: 4px solid black;
}
.arrow_box:after, .arrow_box:before {
  bottom: 100%;
  left: 60%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(238, 238, 238, 0);
  border-bottom-color: #fff;
  border-width: 30px;
  margin-left: 9px;
}
.arrow_box:before {
  border-color: rgba(238, 113, 60, 0);
  border-bottom-color:black;
  border-width: 36px;
  margin-left: 3px;
}

.arrow_box_both { 
    position: relative; 
}

.arrow_box_both:before { 
    border-color: rgba(194, 225, 245, 0); 
    border-bottom-color: #c2e1f5; 
    border-width: 36px; 
    left: 50%; 
    margin-left: -36px;
}


.arrow_box_both > div:after, .arrow_box_both > div:before { 
    top: 100%; 
    border: solid transparent; 
    content: " "; 
    height: 0; 
    width: 0;
    position: absolute;
} 
.arrow_box_both > div:after { 
    border-color: rgba(136, 183, 213, 0); 
    border-top-color: #fff;
    border-width: 30px;
    left: 50%; 
    margin-left: -30px; 
} 
.arrow_box_both > div:before { 
    border-color: rgba(194, 225, 245, 0); 
    border-top-color: #c2e1f5; 
    border-width: 36px; 
    left: 50%; 
    margin-left: -36px;
}

/*
* arrow right
*/
.arrow_box_right {
    position: relative;
    background: #ffffff;
    
}
.arrow_box_right:after, .arrow_box_right:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box_right:after {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #ffffff;
    border-width: 30px;
    margin-top: -30px;
}
.arrow_box_right:before {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #FFF;
    border-width: 31px;
    margin-top: -31px;
    margin-left: 8px;
    z-index:1;
}
.arrow_box_right_color:before{
  border-left-color: #fff !important
}
/**
* ANIMATION
***/

/* when hiding the picture */
.ng-hide-add         { animation:0.5s lightSpeedOut ease; }

/* when showing the picture */
.ng-hide      { animation:0.5s flipInX ease; }

/* ANIMATIONS (FROM ANIMATE.CSS) ======================== */
/* flip in */
@keyframes flipInX {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    transform: perspective(400px);
    transform: perspective(400px);
    transform: perspective(400px);
  }
}

/* light speed out */
@keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }

  100% {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}

@keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }

  100% {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}

.blurbg{
  background: url('../img/water1.png');
  -webkit-filter: blur(30px);
  -moz-filter:blur(30px);
  filter:blur(30px);
}

.list-features{
  font-size:20px;
  list-style-type: none;
  margin-top:50px;
}
.list-features li{
  line-height:1.5;
  padding-bottom:40px;
  color:white;
  text-align:left;
}
.list-features li span{
  color: #36C6D2 !important;
}

.style-2 input[type="text"] {
  padding: 10px !important;
  border: solid 5px #c9c9c9 !important;
  transition: border 0.3s !important;
  height: 50px;
}
.style-2 input[type="text"]:focus,
.style-2 input[type="text"].focus {
  border: solid 5px #969696;
}
.div4{
  background: #111;
}
/*
.div4{
  background-color:black;
  background-attachment: fixed;
background-image:
radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}
*/
/* ============================================================================================== 
Nick Mkrtchyan
http://www.facebook.com/sonick.pk
http://www.Mkrtchyan.zz.mu
================================================================================================= */


@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

.clouds{
    background:url(../img/login/clouds.png) repeat top center;
    z-index:3;
   background-attachment: fixed;
  -moz-animation:move-clouds-back 200s linear infinite;
  -ms-animation:move-clouds-back 200s linear infinite;
  -o-animation:move-clouds-back 200s linear infinite;
  -webkit-animation:move-clouds-back 200s linear infinite;
  animation:move-clouds-back 200s linear infinite;
}