.create-button{
	width: 80%;
	background: url('../img/editor/editorbg.png') #DF3F00 !important;
	border: 2px solid white !important;
	color: white !important;
	font-weight: bolder !important;
	text-transform: uppercase;
}
.create-button:hover{
	color:black !important;
	background: url('../img/editor/editorbg.png') white !important;
}
.my-drop-zone { border: dotted 3px lightgray; }
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { 
	border: dotted 3px black; 
	background: url('{{basePath}}img/editor/editorbg.png') #630404 !important;
}