@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(fonts/ATKpv8nLYAKUYexo8iqqrg.woff2) format('woff2');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(fonts/ecoicon.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(fonts/0XxGQsSc1g4rdRdjJKZrNPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url(fonts/PIPMHY90P7jtyjpXuZ2cLFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(fonts/lILlYDvubYemzYzN7GbLkOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}
html,body{
	/*background: url('../img/white_texture.png') #eee !important;*/
 /* background: url('../img/bg.png') #F09609 !important;*/
/* background: url('../img/editor/editorbg1.png') rgb(0, 109, 97) !important;*/
 background: black !important;
  /*background: #A55B88 !important;*/
  line-height: 1 !important;
	background-repeat: repeat;
	font-family: 'PT Sans', sans-serif !important;
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/login/loader.gif) center no-repeat #fff;
}

.footer-index{
  background: #111;
  border-top: 6px solid #DF3F00;
}
table{
  cursor: pointer;
}
.fa{
  color: black !important;
}
.navbar{
  border: none !important;
}
tags-input .tags .tag-item{
  background: #A55B88 !important;
  color: white !important;
}
.navbar-default{
	background-color: white !important;
  border-radius: 0px !important;
}

.space-panel{
  padding-top: 40px;
}

.ng-table th.sortable.sort-desc, .ng-table th.sortable.sort-asc{
  background-color: rgba(165,91,136,0.25) !important;
}
.navbar-nav a:hover{
  border-bottom: 3px solid white;
}
.navbar-nav .active > a{
	background: #DF3F00 !important;
  color: black !important;
  border-bottom: 3px solid white;
}
.navbar-nav .active > a span{
  background: url('../img/editor/editorbg1.png') rgb(0, 109, 97) !important;
  color: white !important;
}
.panel-heading{
	background-color: #f5f5f5 !important;
}
.panel-list{
  /*
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5) !important;
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.5) !important;
  -o-box-shadow: 0px 0px 10px rgba(0,0,0,.5) !important;
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.5) !important;*/
}
.panel-list:hover{
  box-shadow: 0px 0px 10px #000 !important;
}
.btn-primary{
	background-color: #22EC8F !important;
}
.sidebar{
	height: 100vh;
	padding-top:30px;
  /*background: black;*/
}
.row.page{
	margin-top: -40px !important;
	padding-top: 20px !important;
}
.ngTopPanel{
	background-color: #83FFC6 !important;
}

.progress-bar-success{
  background-color: #A55B88 !important;
}

/* Editor Page css */

.hotspot:hover{
  border: 1px solid black !important;
}

.thumbnail:hover{
  background-color: #A55B88;
}

.thumbnail-active{
  background-color: #A55B88 !important;
}

.list-group-item.video-thumbnail{
  border: 2px solid #eee;
}

.video-thumbnail:hover{
  border: 2px solid #A55B88 !important;
}

.video-thumbnail-active{
  border: 2px solid #A55B88 !important;
}

.blurbg{
  -webkit-transition-duration:2s;
  -webkit-filter: blur(30px);
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.ui-icon, .ui-widget-content .ui-icon {
    background-image: none !important;
}

.ui-resizable-n {
  top: 0;
  border-top: 1px dashed #000;
}
.ui-resizable-s {
  bottom: 0;
  border-bottom: 1px dashed #000;
}
.ui-resizable-e {
  right: 0;
  border-right: 1px dashed #000;
}
.ui-resizable-w {
  left: 0;
  border-left: 1px dashed #000;
}
.ui-resizable-ne,
.ui-resizable-se,
.ui-resizable-sw,
.ui-resizable-nw {
  background-color: yellow;
  border: 1px solid #000;
  background-image: none;
}
.ui-resizable-se {
  width: 9px !important;
  height: 9px !important;
  right: -5px !important;
  bottom: -5px !important;
  overflow: visible;
}

/*Overriding jquery stylings*/

.ui-slider-horizontal .ui-slider-range-min{
  background:yellow;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border-radius:100px;
  background:-webkit-linear-gradient(white,black) !important;
  border: 0px solid black !important;
}

.editable-buttons button{
  background: white !important;
}
.editable-buttons button span{
  color: black !important;
}