<div class="row" style="min-height: 100px;background:url({{basePath}}/img/editor/editorbg.png) #1A4F84;color:white; text-align:center;font-weight:bolder">
	<h2 style="font-weight:bolder;"><span class="glyphicon glyphicon-book"></span> TUTORIAL</h2>
</div>
<div class="container-fluid" style="min-height: 500px;background:white;">
	<div class="row">
		<div class="container-fluid" style="background:white;min-height: 500px;">
        <div class="row">
            <div class="col-md-10 col-md-offset-1" style="height: 400px;margin-top:20px; background: #eee;border-radius:10px;">
                <div class="row">
                    <iframe style="display:block; margin: 50px auto;" width="560" height="315" src="https://www.youtube.com/embed/-dc9sLE4S_o" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
	</div>
</div>