
<div class="modal-header">
    <h3 class="modal-title" style="color: #A55B88 !important">Field: <span style="color: black;">{{data.name}} </span></h3>
</div>
<div class="modal-body">
    <div class="row form-group">
        <div class="col-sm-6">
            <label>Name :</label>
        </div>
        <div class="col-sm-6">
            <input type="text" ng-model="data.name" class="form-control">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-6">
            <label>Input Type :</label>
        </div>
        <div class="col-sm-6">
            <select class="form-control" ng-model="data.type">
                <option value="text">text</option>
                <option value="textarea">textarea</option>
                <option value="select">select</option>
                <option value="attachment">attachment</option>
            </select>
        </div>
    </div>
    <div class="row form-group" ng-if="data.type==='select'">
        <div class="col-sm-6">
            <label>Options</label>
        </div>
        <div class="col-sm-6">
            <tags-input  class="bootstrap" ng-model="data.options"  placeholder="Enter Options"></tags-input>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="saveCustomField(data)">Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
