<!DOCYTPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="<%=basePath%>css/adminstyle.css">
		<link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/angular-ui/build/angular-ui.css">
	    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/bootstrap/dist/css/bootstrap.css">
	    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/angular-xeditable/dist/css/xeditable.css">
	    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/ng-grid/ng-grid.css">
	    <link rel="stylesheet" type="text/css" href="<%=basePath%>js/angular-datepicker-master/dist/index.css">
	    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/fullcalendar/fullcalendar.css" />
	    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css">
	    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/ng-table/dist/ng-table.css">
	    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/ng-tags-input/ng-tags-input.css">
	    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/angular-chart.js/dist/angular-chart.css">
	    <link rel='stylesheet' type="text/css" href='<%=basePath%>css/font-awesome/css/font-awesome.css'>
	    <link rel='stylesheet' type="text/css" href='<%=basePath%>bower_components/textAngular/src/textAngular.css'>
	    <link rel='stylesheet' type="text/css" href='<%=basePath%>bower_components/ngtoast/dist/ngToast.css'>
	    <link rel='stylesheet' type="text/css" href='<%=basePath%>bower_components/ngtoast/dist/ngToast-animations.css'>
	    <link rel='stylesheet' type="text/css" href='<%=basePath%>bower_components/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.css'>
	    <link rel='stylesheet' type="text/css" href='<%=basePath%>bower_components/angular-loading-bar/build/loading-bar.css'>
	    <link rel='stylesheet' type="text/css" href='<%=basePath%>bower_components/angular-ui-notification/dist/angular-ui-notification.min.css'>
	    <link rel='stylesheet' type="text/css" href='<%=basePath%>bower_components/ngDialog/css/ngDialog.css'>
	    <link rel='stylesheet' type="text/css" href='<%=basePath%>bower_components/ngDialog/css/ngDialog-theme-default.css'>
	    <style>
	        [ng\: cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	            display: none !important;
	        }
    	</style>
	</head>
	<body>

		<div class="container">
			<div class="row" style="margin-top: 200px;">
				<div class="col-md-4 col-md-offset-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3>Login</h3>
						</div>
						<div class="panel-body">
							<form class="form" action="/adminlogin" method="POST">
								<input type="text" name="id" class="form-control" placeholder="id" /><br />
								<input type="text" name="password" class="form-control" placeholder="pass" />
								<br />
								<input class="btn btn-default btn-block" type="submit">
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>


		<!-- Libraries used in this app -->
    <script type="text/javascript" src="<%=basePath%>bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-xeditable/dist/js/xeditable.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/ng-grid/ng-grid-2.0.14.min.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/lodash/dist/lodash.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/restangular/dist/restangular.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-ui-calendar/src/calendar.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/fullcalendar/fullcalendar.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/fullcalendar/gcal.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="<%=basePath%>js/angular-datepicker-master/dist/index.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/ng-table/dist/ng-table.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/ng-table-export/ng-table-export.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/ng-tags-input/ng-tags-input.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-file-upload/angular-file-upload.min.js">
    </script>
    <script type="text/javascript" src="<%=basePath%>bower_components/Chart.js/Chart.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-chart.js/dist/angular-chart.js"></script>
    <script type="text/javascript" src='<%=basePath%>bower_components/textAngular/dist/textAngular-rangy.min.js'></script>
    <script type="text/javascript" src='<%=basePath%>bower_components/textAngular/dist/textAngular-sanitize.min.js'></script>
    <script type="text/javascript" src='<%=basePath%>bower_components/textAngular/dist/textAngular.min.js'></script>
    <script type="text/javascript" src='<%=basePath%>bower_components/angular-animate/angular-animate.js'></script>
    <script type="text/javascript" src='<%=basePath%>bower_components/ngtoast/dist/ngToast.js'></script>
    <script type="text/javascript" src='<%=basePath%>bower_components/moment/moment.js'></script>
    <script type="text/javascript" src='<%=basePath%>bower_components/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.js'></script>
    <script type="text/javascript" src='<%=basePath%>bower_components/angular-loading-bar/build/loading-bar.js'></script>
    <script src="<%=basePath%>bower_components/angular-fontselect/dist/libs/webfontloader.js"></script>
    <script src="<%=basePath%>bower_components/angular-fontselect/dist/angular-fontselect.js"></script>
    <script src="<%=basePath%>bower_components/ng-context-menu/dist/ng-context-menu.js"></script>
    <script src="<%=basePath%>bower_components/wiz-validation/wizValidation/wizValidation.js"></script>
    <script src="<%=basePath%>bower_components/angular-ui-notification/dist/angular-ui-notification.min.js"></script>
    <script src="<%=basePath%>bower_components/ngDialog/js/ngDialog.js"></script>
	</body>
</html>