<!DOCTYPE html>
<html ng-app="mang" ng-cloak>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>css/style.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/angular-ui/build/angular-ui.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/angular-xeditable/dist/css/xeditable.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/ng-grid/ng-grid.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>js/angular-datepicker-master/dist/index.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/fullcalendar/fullcalendar.css" />
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/ng-table/dist/ng-table.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/ng-tags-input/ng-tags-input.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/angular-chart.js/dist/angular-chart.css">
    <link rel='stylesheet' type="text/css" href='<%=basePath%>css/font-awesome/css/font-awesome.css'>
    <link rel='stylesheet' type="text/css" href='<%=basePath%>bower_components/textAngular/src/textAngular.css'>
    <link rel='stylesheet' type="text/css" href='<%=basePath%>bower_components/ngtoast/dist/ngToast.css'>
    <link rel='stylesheet' type="text/css" href='<%=basePath%>bower_components/ngtoast/dist/ngToast-animations.css'>
    <link rel='stylesheet' type="text/css" href='<%=basePath%>bower_components/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.css'>
    <link rel='stylesheet' type="text/css" href='<%=basePath%>bower_components/angular-loading-bar/build/loading-bar.css'>
    <link rel='stylesheet' type="text/css" href='<%=basePath%>bower_components/angular-ui-notification/dist/angular-ui-notification.min.css'>
    <link rel='stylesheet' type="text/css" href='<%=basePath%>bower_components/ngDialog/css/ngDialog.css'>
    <link rel='stylesheet' type="text/css" href='<%=basePath%>bower_components/ngDialog/css/ngDialog-theme-default.css'>
    <link rel='stylesheet' type="text/css" href='<%=basePath%>bower_components/ng-joyride/ng-joyride.css'>
    <!--link rel="stylesheet" type="text/css" href="<%=basePath%>lib/plans/reset.css"-->
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>
    <style>
    .toolbar{
        padding-top: 10px !important;
    }
    ul.toolbar li{
        border: 1px solid #A55B88 !important;
        cursor: pointer;
    }
    ul.toolbar li:hover{

        box-shadow: 0px 0px 2px black;
    }
    ul.toolbar li a:hover{
        background-color: white !important;
    }
    .list-anchor{

        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
    ul.assets li{
        margin-bottom: 10px;
        height: 70px;
    }
    .position-fixed{
        position: fixed;
    }

    #resizable { width: 150px; height: 150px; padding: 0.5em; }
    #resizable h3 { text-align: center; margin: 0; }
    .ui-resizable-helper { border: 2px dotted #650D43; }

    </style>

</head>

<body ng-controller="EditorPageController">
    <div class="row navbar navbar-default" style="background: url('<%=basePath%>img/bg.png') black !important;margin-bottom: 0px;">
        <div class="col-md-9" ng-controller="NavigationController">
            <a class="navbar-brand" style="color: white;" href="/">
                <span style="color:white !important;" class="fa fa-chevron-circle-left"></span>
                <span style="font-weight: bolder;">SENSEMAGIK</span> Studio <sup style="color:orange;font-weight:bold;">BETA</sup>
            </a>
            <ul class="nav navbar-nav">
                <li><a style="color:white;" href="/#/studio/list"><span></span> Dashboard</a></li>
                <li><a style="color:white;" href="/#/pricing"><span></span> Pricing</a></li>
                <li><a style="color:white;" href="/#/studio/list"><span></span> Tutorial</a></li>
                <li><a style="color:white;" href="/#/studio/list"><span></span> Help Center</a></li>
                <li><a style="color:white;" href="/#/studio/list"><span></span> FAQ</a></li>
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right col-md-2" style="cursor:pointer;">
            <li><a style="color:white;"><i style="color: white !important" class="fa fa-cog"></i></a>
            </li>
            <li><a style="color:white;"><i style="color: white !important" class="fa fa-question-circle"></i></a>
            </li>
            <li><a style="color:white;" href="/logout"><span class="glyphicon glyphicon-log-out"></span></a>
            </li>
        </ul>
    </div>
    <div class="row container-fluid" style="background: white !important;">
        <div class="editor-body container-fluid" style="background: white !important;">
            <div class="row" style="background: white !important;">
                <div class="col-md-2" style="height: 100vh; background: #404950;">
                    <div class="row" style="background: rgb(0, 109, 97) !important;margin-bottom: 20px;color: white;height: 40px;">
                        <h4 style="text-align: center;"><span class="fa fa-cog" style="color:white !important;"></span> Settings</h4>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="list-group" style="cursor:pointer">
                                <li class="list-group-item">TYPE</li>
                                <li class="list-group-item" ng-click="local.magikTarget.augmenttype='image';augmenttypeChanged();"><span class="fa fa-picture-o"></span>  Image  <span class="pull-right fa fa-check" ng-if="local.magikTarget.augmenttype=='image'"></span></li>
                                <li class="list-group-item" ng-click="local.magikTarget.augmenttype='video';augmenttypeChanged();"><span class="fa fa-film"></span>  Video  <span class="pull-right fa fa-check" ng-if="local.magikTarget.augmenttype=='video'"></span></li>
                            </ul>
                        </div>
                    </div><br />
                    <div class="row" style="color:white">
                        {{local.magikTarget.imagehotspot | json}}
                    </div>
                    <div class="row">
                        <button class="btn btn-default btn-block" ng-click="publish(local.magikTarget)" ng-if="!local.magikTarget.published">
                            <div class="row">
                                <div class="col-sm-12" style="text-align:center;">
                                    <span class="fa fa-mobile-phone" style="font-size: 20px;"> PUBLISH</span>
                                </div>
                                
                            </div>
                        </button>
                        <button class="btn btn-default btn-block" style="text-align:center;" ng-if="local.magikTarget.published=='processing'">
                            <span class="fa fa-mobile-phone" style="font-size: 20px;"> PROCESSING</span>
                        </button>
                        <button class="btn btn-default btn-block" style="text-align:center;" ng-if="local.magikTarget.published=='success'">
                            <span class="fa fa-mobile-phone" style="font-size: 20px;"> LIVE</span>
                        </button>
                    </div>
                    
                    <!-- Audio Option for future -->
                    <!--div class="row">
                        <div class="col-sm-6">
                            <p><span class="fa fa-volume-up"></span> Audio</p>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-sm btn-default"><span class="fa fa-cloud-upload"></span> Upload</button>
                        </div>
                    </div>
                    <hr />
                    <div class="row" style="background: skyblue !important;margin-bottom: 20px;color: white;height: 40px;">
                        <h4 style="text-align: center;"><span class="fa fa-share" style="color:white !important;"></span> Share</h4>
                        <div class="row" style="margin-top:20px;padding-top: 10px;text-align:center;">
                            <span class="btn btn-default"><span class="fa fa-facebook-official"></span></span>
                            <span class="btn btn-default"><span class="fa fa-google-plus-square"></span></span>
                        </div>
                    </div-->
                </div>
                <div class="col-md-1" style="background: #231E1E; height: 100vh;">
                    <div class="row" style="background: #872A00 !important;margin-bottom: 20px;color: white;height: 40px;">
                        <h4 style="text-align: center;"><span class="fa fa-wrench" style="color:white !important;"></span> Tools</h4>
                    </div>
                    <div class="row">
                        <ul style="list-style-type: none; cursor:pointer;margin:0; padding: 0;" class="assets">
                            <li ng-if="local.magikTarget.augmenttype=='image'" style="text-align: center;" ng-click="openTextEditor()">
                               <img src="<%=basePath%>img/pencil.png" height="50" width="50" />
                            </li>
                            <li ng-if="local.magikTarget.augmenttype=='image'" style="text-align: center;" ng-click="browseTemplates()">
                                <img src="<%=basePath%>img/picture.png" height="50" width="50" />
                            </li>
                            <li ng-if="local.magikTarget.augmenttype=='video'" style="text-align: center;" ng-click="openVideoModal()">
                                <img src="<%=basePath%>img/video.png" height="50" width="50" />
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row" style="background: #8A9C50;">
                        <div class="col-md-7" style="">
                            <h4><span class="fa fa-pencil" style="color: white !important;"></span> <a href="#" style="color: white;" editable-text="local.magikTarget.name" onaftersave="augmenttypeChanged()">{{ local.magikTarget.name || "Untitled Magik" }}</a></h4>
                        </div>
                        <div class="col-md-1" style="height: 40px;color: white;">
                            <h4 ng-if="local.magikTarget.published=='success'">
                                <i class="fa fa-circle" style="color: rgb(13, 205, 30) !important;font-size: 14px;"></i> Live 
                            </h4>
                            <h4 ng-if="local.magikTarget.published=='duplicate'">
                                <i class="fa fa-circle" style="color: red !important;font-size: 14px;"></i> This Magik already exists! Cannot be published 
                            </h4>
                        </div>
                        <div class="col-md-2" style="border-right: 1px solid black;height: 40px;">
                            <h4 style="color: white;" ng-if="local.magikTarget.rating"><span class="fa fa-heart" style="color: #872A00 !important;"></span> Health :   
                                <span ng-if="local.magikTarget.rating > 3" style="color: green;">Good</span>
                                <span ng-if="local.magikTarget.rating == 3" style="color: orange;">Average</span>
                                <span ng-if="local.magikTarget.rating < 3" style="color: red;">Bad</span>
                            </h4>
                        </div>
                        <div class="col-md-2" style="padding-top: 15px;">
                            <div adjust-slider="{{magik.sliderPosition}}" id="slider"></div>
                        </div>
                    </div>
                    <div class="row editor-part" style="height: 600px; background: url('<%=basePath%>img/editor/editorbg2.png') whitesmoke; overflow: auto; border: 1px solid white;box-shadow: 0px 0px 3px black inset;" >
                        <div class="hotspotEditor" style="background: url('{{local.magikTarget.imgurl}}'); background-repeat: no-repeat;background-position: center top; height: {{localImageSize.height * magik.proportion}}px; width: {{localImageSize.width * magik.proportion}}px;background-size: contain; margin: 10px auto; overflow: hidden;position: relative;">
                            <div class="hotspot arrow_box_right" style="height:{{local.magikTarget.texthotspots.height || '30%'}}; width: {{local.magikTarget.texthotspots.width || '20%'}}; left: {{local.magikTarget.texthotspots.left || '0%'}}; top: {{local.magikTarget.texthotspots.top || '0%'}}; position:absolute; border: 1px dashed black;overflow: hidden;" ng-if="local.magikTarget.texthotspots.value.length > 0 && local.magikTarget.augmenttype=='image'" text-hotspot-draggable class="panel panel-default position-fixed" data-target="menu-1" ng-class="{ 'highlight': highlight, 'expanded' : expanded }"  text-hotspot-resizable>
                                <div ng-bind-html="local.magikTarget.texthotspots.value"></div>
                                <div style="height: 50px; padding: 4px; background: rgba(0,0,0,0.5);position: absolute; top:0px;right: -22px;">
                                    <span class="glyphicon glyphicon-pencil" style="color: white;" ng-click="browserTemplates()"></span><br />
                                    <span class="glyphicon glyphicon-remove" style="color: white;" ng-click="removeTemplate()"></span>
                                </div>
                            </div>
                            <div class="image-hotspot" ng-show="local.magikTarget.augmenttype=='image' && local.magikTarget.imagehotspot.url" id="imagehotspot" image-hotspot-draggable image-hotspot-resizable style="left: {{local.magikTarget.imagehotspot.left || '0%'}}; top:{{local.magikTarget.imagehotspot.top || '0%'}}; height:{{local.magikTarget.imagehotspot.height || '10%'}}; width: {{magikTarget.imagehotspot.width || '20%'}};background: url('{{local.magikTarget.imagehotspot.url}}') rgba(0,0,0,0);background-size: 100% 100%;background-repeat: no-repeat;" >
                                <div style="height: 50px; padding: 4px; background: rgba(0,0,0,0.5);position: absolute; top:0px;right: -22px;">
                                    <span class="glyphicon glyphicon-pencil" style="color: white;" ng-click="browserTemplates()"></span><br />
                                    <span class="glyphicon glyphicon-remove" style="color: white;" ng-click="removeTemplate()"></span>
                                </div>
                            </div>
                            <div class="videohotspot" style="width: 80%; position: relative; height: 40%; left: 10%; top: 30%; background: rgba(0,0,0,.7);" ng-if="local.magikTarget.augmenttype=='video'">
                                <video height="100% " width="100% " controls ng-if="local.magikTarget.videohotspot.url">
                                    <source src="{{local.magikTarget.videohotspot.url}} " type="video/mp4 ">
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--div class="dropdown position-fixed" id="menu-1">
      <ul class="dropdown-menu" role="menu">
        <li>
          <a class="pointer" role="menuitem" tabindex="1"
             ng-click="panel.highlight = true">
             Resize
          </a>
        </li>
        <li>
          <a class="pointer" role="menuitem" tabindex="2"
             ng-click="panel.highlight = false">
             Remove
          </a>
        </li>
      </ul>
    </div-->
    
    <footer style="min-height: 200px; background:url('<%=basePath%>img/editor/editorbg1.png') #111213 !important;color: #A7A2A2 !important;">
        <div class="container">
            <div class="row">
                <div class="col-md-3" style="height: 128px;padding-top:20px;">
                    <img src="<%=basePath%>img/logos/sensemagik-orange.png" style="width: 100%;">
                </div>
                <div class="col-md-9" style="color: whitesmoke;">
                    <h4 style="color: #A7A2A2 !important;margin-top: 25px;line-height: 1.8;"> <span style="font-weight: bolder;color:white !important;">SenseMagik Studio</span> is a cloud-based do-it-yourself (#DIY) Augmented Reality software that offers quality professional tools within reach of everyone. It helps to create Augmemted reality images,videos like never before.</h4>
                </div>
            </div>
            <div class="row" style="color: #A7A2A2 !important;">
                <div class="col-md-4 footer-links" style="color: #A7A2A2;">
                    <h3 style="font-weight: bold;color: white !important;">Quick Links</h3>
                    <h4><a href="/privacy-policy">Privacy Policy</a></h4>
                    <h4><a href="/terms">Terms</a></h4>
                    <h4><a href="/feedback">Feedback</a></h4>
                    <h4><a href="/company">Company</a></h4>
                </div>
                <div class="col-md-4 footer-links" style="color: #A7A2A2;">
                    <h3 style="font-weight: bold;color: white !important;">Support</h3>
                    <h4><a href="/help">Help Center</a></h4>
                    <h4><a href="/tutorial">Tutorial</a></h4>
                    <h4><a href="/pricing">Pricing</a></h4>
                    <h4><a href="/contact">Contact</a></h4>
                </div>
                <div class="col-md-4 footer-links" style="color: #A7A2A2;">
                    <h3 style="font-weight: bold;color: white !important;">SenseMagik Technologies Pvt Ltd</h3>
                    <p>1B, Bharath Avenue, Saraswathy nagar, Selaiyur Post, Chennai- 600073.</p>
                    <p>sensemagik@gmail.com</p>
                    <p>+91 8056527917</p>
                </div>
            </div>
        </div>
        <br />
        <div class="row" style="text-align: center;height: 50px; background: black;padding-top: 20px;">
           <p style="vertical-align:middle;"> Copyright &copy; 2015 SenseMagik Technologies Pvt Ltd. All Rights Reserved</p>
        </div>
    </footer>


    <!-- Libraries used in this app -->
    <script type="text/javascript" src="<%=basePath%>bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-xeditable/dist/js/xeditable.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/ng-grid/ng-grid-2.0.14.min.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/lodash/dist/lodash.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/restangular/dist/restangular.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-ui-calendar/src/calendar.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/fullcalendar/fullcalendar.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/fullcalendar/gcal.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="<%=basePath%>js/angular-datepicker-master/dist/index.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/ng-table/dist/ng-table.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/ng-table-export/ng-table-export.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/ng-tags-input/ng-tags-input.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-file-upload/angular-file-upload.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/Chart.js/Chart.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-chart.js/dist/angular-chart.js"></script>
    <script type="text/javascript" src='<%=basePath%>bower_components/textAngular/dist/textAngular-rangy.min.js'></script>
    <script type="text/javascript" src='<%=basePath%>bower_components/textAngular/dist/textAngular-sanitize.min.js'></script>
    <script type="text/javascript" src='<%=basePath%>bower_components/textAngular/dist/textAngular.min.js'></script>
    <script type="text/javascript" src='<%=basePath%>bower_components/angular-animate/angular-animate.js'></script>
    <script type="text/javascript" src='<%=basePath%>bower_components/ngtoast/dist/ngToast.js'></script>
    <script type="text/javascript" src='<%=basePath%>bower_components/moment/moment.js'></script>
    <script type="text/javascript" src='<%=basePath%>bower_components/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.js'></script>
    <script type="text/javascript" src='<%=basePath%>bower_components/angular-loading-bar/build/loading-bar.js'></script>
    <script src="<%=basePath%>bower_components/angular-fontselect/dist/libs/webfontloader.js"></script>
    <script src="<%=basePath%>bower_components/angular-fontselect/dist/angular-fontselect.js"></script>
    <script src="<%=basePath%>bower_components/ng-context-menu/dist/ng-context-menu.js"></script>
    <script src="<%=basePath%>bower_components/wiz-validation/wizValidation/wizValidation.js"></script>
    <script src="<%=basePath%>bower_components/angular-ui-notification/dist/angular-ui-notification.min.js"></script>
    <script src="<%=basePath%>bower_components/ngDialog/js/ngDialog.js"></script>
    <script src="<%=basePath%>bower_components/satellizer/satellizer.js"></script>
    <script src="<%=basePath%>bower_components/ng-joyride/ng-joyride.js"></script>
    <script src="<%=basePath%>lib/cloudinary/jquery.cloudinary.js"></script>
    <script src="<%=basePath%>lib/cloudinary/angular.cloudinary.js"></script>
    <script src="<%=basePath%>lib/cloudinary/config.js"></script>
    <script src="<%=basePath%>bower_components/angular-prompt/dist/angular-prompt.js"></script>
    <!-- Lib Ends -->
    <script>
        angular.module('mang.appConfig', []).
        provider("config", function() {
            this.config = {
                basePath: '<%=basePath%>',
                userid: '<%=userid%>',
                username: '<%=username%>',
                useremail: '<%=email%>',
                userrole: '<%=userrole%>',
                profilepic: '<%=profilepic%>',
                plan: '<%=plan%>',
                token: '<%=token%>'
            };
            this.$get = function() {
                return this.config;
            };
        });
    </script>
    <!-- Local file dependencies-->
    <script type="text/javascript" src="<%=basePath%>js/app.js"></script>
    <script type="text/javascript" src="<%=basePath%>js/nav.js"></script>
    <script type="text/javascript" src="<%=basePath%>modules/studio/controllers/main.js"></script>
    <script type="text/javascript" src="<%=basePath%>modules/studio/controllers/EditorPageController.js"></script>
    <script type="text/javascript" src="<%=basePath%>modules/admin/controllers/main.js"></script>
    <script type="text/javascript" src="<%=basePath%>modules/pricing/controllers/pricing.js"></script>
    <!--
    <script type="text/javascript" src="<%=basePath%>modules/projects/controllers/main.js"></script>
    <script type="text/javascript" src="<%=basePath%>modules/projects/controllers/analysis.js"></script>
    <script type="text/javascript" src="<%=basePath%>modules/tickets/controllers/main.js"></script>
    <script type="text/javascript" src="<%=basePath%>modules/logs/controllers/main.js"></script>
    <script type="text/javascript" src="<%=basePath%>modules/calendar/controllers/main.js"></script>
    <script type="text/javascript" src="<%=basePath%>modules/members/controllers/main.js"></script>
    <script type="text/javascript" src="<%=basePath%>modules/accounts/controllers/main.js"></script>
    <script type="text/javascript" src="<%=basePath%>modules/statistics/controllers/main.js"></script>
    <script type="text/javascript" src="<%=basePath%>modules/messages/controllers/main.js"></script>
    <script type="text/javascript" src="<%=basePath%>modules/profile/controllers/main.js"></script>
    <script type="text/javascript" src="<%=basePath%>modules/admin/controllers/main.js"></script>
    <script type="text/javascript" src="<%=basePath%>modules/categorization/controllers/main.js"></script>-->

    <script type="text/ng-template" id="custom/pager">
        < ul class = "pager ng-cloak" > < li ng - repeat = "page in pages"
        ng - class = "{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
        ng - show = "page.type == 'prev' || page.type == 'next'"
        ng -
        switch = "page.type" > < a ng -
        switch -when = "prev"
        ng - click = "params.page(page.number)"
        href = "" > & laquo;
        Previous < /a>
            <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a > < /li>
            <li>
            
            <!--div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 5}" ng-click="params.count(5)" class="btn btn-default">5</button > < button type = "button"
        ng - class = "{'active':params.count() == 10}"
        ng - click = "params.count(10)"
        class = "btn btn-default" > 10 < /button>
            </div-- > < /li>
        </ul >
    </script>
    <!--script type="text/javascript" src="js/modules/directives/"></script-->
</body>

</html>