<div class="modal am-fade-and-scale" style="position:absolute;top:30%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--span class="fa fa-remove" style="position:absolute;right:5px;top:5px;color:grey !important;" ng-click="cancel()"></span>
            <div class="modal-header" style="background:url('apps/mang/img/editor/editorbg.png') yellow;">
            	<h3>Forgot password <span class="fa fa-question-circle"></span></h3>
            </div-->
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Forgot Password ? </h4>
            </div>
            <div class="modal-body">
            	<form class="form-horizontal" ng-if="!passwordResetSent">
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-2">
                            <input type="email" class="form-control" ng-model="magik.email" id="inputEmail3" name="user" placeholder="NAME@EXAMPLE.COM" >
                        </div>
                        <div class="col-md-3">
                            <button ng-click="magik.resetPassword(magik.email)" class="form-control" id="signup">EMAIL ME</button>
                        </div>
                    </div>
                </form>
                <h4 ng-if="passwordResetSent" style="text-align:center;">Password reset link has been sent to your email</h4>
            </div>
        </div>
    </div>
</div>