<!DOCTYPE html>
<html ng-app="mang" >

<head>
    <meta charset="UTF-8">
    <title>SenseMagik Studio Beta | Create Augmented Reality online</title>
    <meta name="description" content="SenseMagik Studio is a DIY Augmented Reality studio online where you can superimpose visual image or video over real world physical object.">
    <meta name="keywords" content="augmented reality,online tool,magik,sensemagik,online augmentation">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>css/style.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>css/loginstyle.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>css/animation.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>css/studio.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/angular-ui/build/angular-ui.min.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/angular-xeditable/dist/css/xeditable.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/ng-grid/ng-grid.min.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>js/angular-datepicker-master/dist/index.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/fullcalendar/fullcalendar.css" />
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/ng-table/dist/ng-table.min.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/ng-tags-input/ng-tags-input.min.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/angular-chart.js/dist/angular-chart.css">
    <link rel='stylesheet' type="text/css" href='<%=basePath%>css/font-awesome/css/font-awesome.min.css'>
    <link rel='stylesheet' type="text/css" href='<%=basePath%>bower_components/textAngular/src/textAngular.css'>
    <link rel='stylesheet' type="text/css" href='<%=basePath%>bower_components/ngtoast/dist/ngToast.min.css'>
    <link rel='stylesheet' type="text/css" href='<%=basePath%>bower_components/ngtoast/dist/ngToast-animations.min.css'>
    <link rel='stylesheet' type="text/css" href='<%=basePath%>bower_components/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.min.css'>
    <link rel='stylesheet' type="text/css" href='<%=basePath%>bower_components/angular-loading-bar/build/loading-bar.min.css'>
    <link rel='stylesheet' type="text/css" href='<%=basePath%>bower_components/angular-ui-notification/dist/angular-ui-notification.min.css'>
    <link rel='stylesheet' type="text/css" href='<%=basePath%>bower_components/ngDialog/css/ngDialog.min.css'>
    <link rel='stylesheet' type="text/css" href='<%=basePath%>bower_components/ngDialog/css/ngDialog-theme-default.min.css'>
    <link rel='stylesheet' type="text/css" href='<%=basePath%>bower_components/ng-joyride/ng-joyride.css'>
    <link rel='stylesheet' type="text/css" href='<%=basePath%>lib/plans/css/colorfultpt.css'>
    <!--link rel="stylesheet" type="text/css" href="<%=basePath%>lib/plans/reset.css"-->
    <style>
        [ng\: cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-65584621-1', 'auto');
      ga('send', 'pageview');

    </script>
</head>

<body ng-cloak>
    <section ng-controller="NavigationController"  >
        <nav class="navbar navbar-default main-navbar" style=" background: rgba(0,0,0,0.5) !important;margin-bottom:0px;">
            <div class="container-fluid">
                <div class="navbar-header" style="padding-left:20px;">
                    <a class="navbar-brand" style="color: white;" href="#/home"><span style="font-weight: bolder;">SENSEMAGIK</span> Studio <sup style="color:orange;font-weight:bold;">BETA</sup></a>
                </div>
                <div>
                    <ul class="nav navbar-nav" style="font-size: 16px;line-height:0px;">
                        <li ng-class="{active: isActive('{{item.state}}')}" ng-repeat="item in mang.navbar"><a href="#{{item.link}}" style="color:white;"><span class="{{item.classname}}"></span> {{item.name}}</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        
                        <li><a href="" style="color:whitesmoke;">Welcome <%=username%> ! </a>
                        </li>
                        <li><a href="" style="text-transform:uppercase;color: #DF3F00 !important;font-weight: bolder;"><i class="fa fa-shield" style="color:white !important;"></i> <%=plan%> PLAN</a>
                        </li>
                        <li ui-sref="profile" ng-class="{active: isActive('profile')}"><a href="" style="color:white !important;"><span class="fa fa-user" style="color:white !important;"></span> Profile</a>
                        </li>
                        <li><a href="/logout" style="color:white !important;"><span class="glyphicon glyphicon-log-out"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <div class="se-pre-con"></div>
    <ui-view class="content-page"></ui-view>
    
    <footer style="min-height: 200px;" class="footer-index">
        <div class="container">
            <div class="row">
                <div class="col-md-3" style="height: 128px;padding-top:20px;">
                    <img src="<%=basePath%>img/logos/sensemagik-orange.png" style="width: 100%;">
                </div>
                <div class="col-md-9" style="color: whitesmoke;">
                    <p style="color: #F5DAF7 !important;margin-top: 25px;line-height: 1.8;"> <span style="font-weight: bolder;color:white !important;">SenseMagik Studio</span> is a cloud-based do-it-yourself (#DIY) Augmented Reality software that offers quality professional tools within reach of everyone. It helps to create Augmemted reality images,videos like never before.</p>
                </div>
            </div>
            <div class="row" style="color: #A7A2A2 !important;">
                <div class="col-md-4 footer-links" style="color: #A7A2A2;">
                    <h3 style="font-weight: bold;color: white !important;">Quick Links</h3>
                    <p><a href="/privacy-policy">Privacy Policy</a></p>
                    <p><a href="/terms">Terms</a></p>
                    <p><a href="/company">Company</a></p>
                </div>
                <div class="col-md-4 footer-links" style="color: #A7A2A2;">
                    <h3 style="font-weight: bold;color: white !important;">Support</h3>
                    <p><a href="/tutorial">Tutorial</a></p>
                    <p><a href="/contact">Contact</a></p>
                    <p><a href="http://blog.sensemagik.com/">Blog</a></p>
                </div>
                <div class="col-md-4 footer-links" style="color: #A7A2A2;">
                    <h3 style="font-weight: bold;color: white !important;">SenseMagik Technologies Pvt Ltd</h3>
                    <p>1B, Bharath Avenue, Saraswathy nagar, Selaiyur Post, Chennai- 600073.</p>
                    <p>sensemagik@gmail.com</p>
                    <p>+91 8056527917</p>
                </div>
            </div>
        </div>
        <br />
        <div class="" style="text-align: center;height: 50px; background: black;padding-top: 20px;">
           <p style="vertical-align:middle; color:white !important;"> Copyright &copy; 2015 SenseMagik Technologies Pvt Ltd. All Rights Reserved</p>
        </div>
    </footer>
    <!-- Libraries used in this app -->
    <script type="text/javascript" src="<%=basePath%>bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-xeditable/dist/js/xeditable.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/ng-grid/ng-grid-2.0.14.min.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/lodash/dist/lodash.min.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/restangular/dist/restangular.min.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-ui-calendar/src/calendar.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/fullcalendar/fullcalendar.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/fullcalendar/gcal.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="<%=basePath%>js/angular-datepicker-master/dist/index.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/ng-table/dist/ng-table.min.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/ng-table-export/ng-table-export.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/ng-tags-input/ng-tags-input.min.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-file-upload/angular-file-upload.min.js">
    </script>
    <script type="text/javascript" src="<%=basePath%>bower_components/Chart.js/Chart.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-chart.js/dist/angular-chart.min.js"></script>
    <script type="text/javascript" src='<%=basePath%>bower_components/textAngular/dist/textAngular-rangy.min.js'></script>
    <script type="text/javascript" src='<%=basePath%>bower_components/textAngular/dist/textAngular-sanitize.min.js'></script>
    <script type="text/javascript" src='<%=basePath%>bower_components/textAngular/dist/textAngular.min.js'></script>
    <script type="text/javascript" src='<%=basePath%>bower_components/angular-animate/angular-animate.min.js'></script>
    <script type="text/javascript" src='<%=basePath%>bower_components/ngtoast/dist/ngToast.min.js'></script>
    <script type="text/javascript" src='<%=basePath%>bower_components/moment/moment.js'></script>
    <script type="text/javascript" src='<%=basePath%>bower_components/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.min.js'></script>
    <script type="text/javascript" src='<%=basePath%>bower_components/angular-loading-bar/build/loading-bar.min.js'></script>
    <script src="<%=basePath%>bower_components/angular-fontselect/dist/libs/webfontloader.js"></script>
    <script src="<%=basePath%>bower_components/angular-fontselect/dist/angular-fontselect.min.js"></script>
    <script src="<%=basePath%>bower_components/ng-context-menu/dist/ng-context-menu.min.js"></script>
    <script src="<%=basePath%>bower_components/angular-ui-notification/dist/angular-ui-notification.min.js"></script>
    <script src="<%=basePath%>bower_components/ngDialog/js/ngDialog.min.js"></script>
    <script src="<%=basePath%>bower_components/satellizer/satellizer.min.js"></script>
    <script src="<%=basePath%>bower_components/ng-joyride/ng-joyride.js"></script>
    <script src="<%=basePath%>lib/cloudinary/jquery.cloudinary.js"></script>
    <script src="<%=basePath%>lib/cloudinary/angular.cloudinary.js"></script>
    <script src="<%=basePath%>lib/cloudinary/config.js"></script>
    <script src="<%=basePath%>bower_components/angular-prompt/dist/angular-prompt.min.js"></script>

    <!-- Lib Ends -->
    <script>
        $(window).load(function(){
             console.log('loaded');
            // $('body').removeClass('blurbg');
             //$('.loader').css('display','none');
             $(".se-pre-con").fadeOut("slow");
         });
        angular.module('mang.appConfig', []).
        provider("config", function() {
            this.config = {
                basePath: '<%=basePath%>',
                userid: '<%=userid%>',
                username: '<%=username%>',
                useremail: '<%=email%>',
                userrole: '<%=userrole%>',
                profilepic: '<%=profilepic%>',
                api: '<%=api%>',
                plan: '<%=plan%>',
                token: '<%=token%>',
                uploadUrl: 'https://api.cloudinary.com/v1_1/sensemagik/upload',
                uploadPreset: 'kspknm67'
            };
            this.$get = function() {
                return this.config;
            };
        });
    </script>
    <!-- Local file dependencies-->
    <script type="text/javascript" src="<%=basePath%>js/app.js"></script>
    <script type="text/javascript" src="<%=basePath%>js/nav.js"></script>
    <script type="text/javascript" src="<%=basePath%>modules/studio/controllers/main.js"></script>
    <script type="text/javascript" src="<%=basePath%>modules/studio/controllers/EditorPageController.js"></script>
    <script type="text/javascript" src="<%=basePath%>modules/studio/directives/main.js"></script>
    <script type="text/javascript" src="<%=basePath%>modules/admin/controllers/main.js"></script>
    <script type="text/javascript" src="<%=basePath%>modules/pricing/controllers/pricing.js"></script>
    <script type="text/javascript" src="<%=basePath%>modules/profile/controllers/main.js"></script>
    <script type="text/javascript" src="<%=basePath%>modules/help/controllers/main.js"></script>
    <script type="text/javascript" src="<%=basePath%>modules/tutorial/controllers/tutorial.js"></script>
    <script type="text/javascript" src="<%=basePath%>modules/faq/controllers/faq.js"></script>
    <!--script type="text/javascript" src="js/modules/directives/"></script-->

</body>

</html>