<!DOCTYPE html>
<html ng-app="login">
<head>
    <title>SenseMagik Studio Beta | Create Augmented Reality online</title>
    <meta name="description" content="SenseMagik Studio is a DIY studio online that allows you to create Augmented reality with images and videos. Sign up for free account today and start creating augmentations aka magiks.">
    <meta name="keywords" content="augmented reality, AR in chennai,augmented reality apps, augmented reality company, augmented reality company chennai,Augmented reality in india,image augmentation, video augmentation,create augmented reality online" />
    <meta name="author" content="metatags generator">
    <meta name="robots" content="index, follow">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>css/style.css">
    <link rel="stylesheet" type="text/css"   media="only screen and (min-width: 900px) and (max-width:2500px), only screen and (min-device-width: 900px) and (max-device-width: 2500px)" href="<%=basePath%>css/loginstyle.css">
    <link rel="stylesheet" type="text/css" media="only screen and (max-width: 899px), only screen and (max-device-width: 899px)" href="<%=basePath%>css/loginstyle-small-device.css" />
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/angular-ui/build/angular-ui.min.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/ng-table/dist/ng-table.min.css">
    <link rel='stylesheet' type="text/css" href='<%=basePath%>bower_components/angular-ui-notification/dist/angular-ui-notification.min.css'>
    <link rel='stylesheet' type="text/css" href='<%=basePath%>css/font-awesome/css/font-awesome.min.css'>
    <link rel='stylesheet' type="text/css" href='<%=basePath%>bower_components/angular-motion/dist/angular-motion.min.css'>
    <link rel='stylesheet' type="text/css" href='<%=basePath%>bower_components/bootstrap-additions/dist/bootstrap-additions.min.css'>
    <link href='https://fonts.googleapis.com/css?family=Exo+2:400,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' type="text/css" href='<%=basePath%>bower_components/ngDialog/css/ngDialog.min.css'>
    <link rel='stylesheet' type="text/css" href='<%=basePath%>bower_components/ngDialog/css/ngDialog-theme-default.min.css'>
    <link href="<%=basePath%>bower_components/angular-carousel/dist/angular-carousel.min.css" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Sansita+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Amita:700' rel='stylesheet' type='text/css'>
    <style>
        body: before {
            background-image: url('<%=basePath%>img/1.png') !important;
            -webkit-filter: blur(3px);
        }
        .godown{
            cursor:pointer;
            transition-duration: 1s;
            text-shadow: 0px 4px 6px black;
        }
        .godown:hover{
            transform: scale(.8);
            transition-duration: 1s;
            -webkit-animation: sonarEffect 1.3s ease-out 75ms;
            -moz-animation: sonarEffect 1.3s ease-out 75ms;
            animation: sonarEffect 1.3s ease-out 75ms;
        }
        @-webkit-keyframes sonarEffect {
            0% {
                opacity: 0.3;
            }
            40% {
                opacity: 0.5;
                text-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
            }
            100% {
                text-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
                -webkit-transform: scale(1.5);
                opacity: 0;
            }
        }
        @-moz-keyframes sonarEffect {
            0% {
                opacity: 0.3;
            }
            40% {
                opacity: 0.5;
                text-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
            }
            100% {
                text-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
                -moz-transform: scale(1.5);
                opacity: 0;
            }
        }
        @keyframes sonarEffect {
            0% {
                opacity: 0.3;
            }
            40% {
                opacity: 0.5;
                text-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
            }
            100% {
                text-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
                transform: scale(1.5);
                opacity: 0;
            }
        }
        a.pricing-button:hover{
            text-decoration: none;
        }

        blockquote {
          background: #F5F5F5;
          border-left: 10px solid #ccc;
          margin: 1.5em 10px;
          padding: 0.5em 10px;
          quotes: "\201C""\201D""\2018""\2019";
        }
        blockquote:before {
          color: #ccc;
          content: open-quote;
          font-size: 4em;
          line-height: 0.1em;
          margin-right: 0.25em;
          vertical-align: -0.4em;
        }
        .intro-heading{
            /*
            font-family: 'Exo 2', sans-serif;
            font-style: italic;*/
            font-family: 'Sansita One', cursive;
        }
        .instruct{
            font-family: 'Amita', cursive;
        }
        .instruct-icons{
            text-shadow: 1px 9px 5px black;
        }
        .ngdialog.ngdialog-theme-default{
            padding-top: 95px;
        }
        .ngdialog.ngdialog-theme-default .ngdialog-content{
            width:807px;
        }
    </style>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-65584621-1', 'auto');
      ga('send', 'pageview');
    </script>
</head>
<!--Navbar-->

<body class="login-body" ng-controller="LoginController" body-loading>
    <div class="se-pre-con"></div>
    <nav class="navbar navbar-default  login-navbar" style="margin-bottom: 0px !important; background: rgba(0,0,0,0.5) !important; ">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" style="color: white;" href="/"><span style="font-weight: bolder;">SENSEMAGIK</span> Studio <sup style="color:orange;font-weight:bold;">BETA</sup></a>
            </div>
            <form class="navbar-form navbar-right navbar-login-form" role="search" ng-submit="login()" >
                <div class="form-group">
                    <div class="input-group" style="width: 200px;">
                        <div class="input-group-addon" style="background: transparent;color: white;"><span class="glyphicon glyphicon-envelope"></span></div>
                        <input type="email" class="form-control" placeholder="Email" ng-model="user.email">
                    </div>
                    <div class="input-group" style="width: 200px;">
                        <div class="input-group-addon" style="background: transparent;color: white;"><span class="glyphicon glyphicon-lock"></span></div>
                        <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
                    </div>
                </div>
                <button type="submit" style="background: transparent;color: white;" class="btn btn-default"><i class="glyphicon glyphicon-log-in"></i></button>

                <!--span style="color:white !important;font-size: 20px;position:relative;top:10px;left:10px;" ng-click="forgetPassword()" class="fa fa-question-circle"><span style="font-size:10px;vertical-align:middle;">Forget Password</span></span -->
                <span ng-click="forgetPassword()" style="color:white;cursor:pointer;margin-left:10px;">Forgot password?</span>
            </form>
        </div>
    </nav>
    
    <!--Signup Part-->
    <div class="container-fluid heading-part" style="background-color: {{magik.bg}}">
        <div class="row signup" style="min-height: 650px; color: black;">
            <div class="col-md-4">
                <div class="row">
                    <div class="" style="position:absolute;top:100px;">
                        <ul style="list-style-type:none;">
                            <li ng-repeat="color in magik.backgroundColors" style="height:30px;width:30px;background: {{color}};border:2px solid white;" ng-click="magik.bg=color"></li>
                        </ul>    
                    </div>
                    <div class="col-md-4 col-md-offset-2 ignore-mobile" style="height: 433px;width: 266px;background: url('<%=basePath%>img/login/sensemagik-loginpage_comp.png');background-position:center;background-size: 90%;background-repeat:no-repeat;position:relative;">
                        <i style="color:white !important;position:absolute;left: 250px;top:28px;font-size: 37px !important;" class="fa fa-cog fa-spin"></i>
                        <i style="color:white !important;position:absolute;left: 250px;top: 70px;font-size: 50px !important;" class="fa fa-cog fa-spin"></i>
                        <i style="color:white !important;position:absolute;left: 290px;top: 50px; font-size: 30px !important;" class="fa fa-cog fa-spin"></i>
                    </div>
                </div>
                <div class="row" style="margin-top:14px;">
                    <div class="col-md-12 ignore-mobile">
                        <img src="<%=basePath%>img/google.png" alt="google" style="height: 50px;"/>
                        <p style="color:white;"><span style="color:white !important;" class="fa fa-apple"></span> Coming soon</p>
                        <!--img src="<%=basePath%>img/login/appstore.png" style="height: 50px;"/-->
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <h1 class="intro-heading">Creating Augmented Reality is easy!</h1>
                <div class="row ignore-desktop">
                    <p style="color:white;">(Use our Studio from Desktop)</p>
                </div>
                <div class="row ignore-mobile" style="margin-top: 30px;">
                    <div class="col-md-3 col-md-offset-3">
                        <a href="/tutorial" class="hideLinkDefault"><button class="btn btn-default btn-block login-button"><span class="glyphicon glyphicon-send"></span> TUTORIAL</button></a>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-default btn-block login-button" ng-click="isSignup = !isSignup"><span class="glyphicon glyphicon-pencil"></span> SIGN UP</button>
                    </div>
                </div>
                <div class="row" style="padding-top:50px;" ng-if="isSignup">
                    <div class="col-md-10 col-md-offset-1 arrow_box" style="background: white !important; min-height: 100px; border: 5px solid black;border-radius: 15px;padding-top: 10px;padding-bottom: 10px;">
                        <form class="form-horizontal" ng-submit="signup()">
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-2">
                                    <input type="email" class="form-control" ng-model="magik.email" id="inputEmail3" name="user" placeholder="NAME@EXAMPLE.COM" >
                                </div>
                                <div class="col-md-3">
                                    <button class="form-control" id="signup">SIGN UP</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <h3 style="text-align:center;color:#fff;vertical-align:bottom;"><img src="<%=basePath%>img/login/free.png" style="height:60px;width:60px;" alt="date"/> Until Jan 15,2015</h3>
                <div class="row" style="color:#eee;margin-top:30px;">
                    <!--div class="col-md-4 col-md-offset-2" style="border:2px solid #eee;min-height:63px;">
                        <p style="text-align:center;color:#fff;vertical-align:middle;">SIGN IN WITH <span class="btn " ng-click="authenticate('facebook')"><span class="fa fa-facebook"  style="color:blue !important;font-size:22px;"></span> </p>
                    </div-->
                    <div class="col-md-4 col-md-offset-2" style="border:2px solid #eee;min-height:63px; cursor:pointer;" ng-click="authenticate('facebook')">
                        <p style="text-align:center;color:#fff;vertical-align:middle;padding-top:7px;">SIGN IN WITH <span class="fa fa-facebook-square" style="color:blue !important;font-size:22px;" ></span> </p>
                    </div>
                    <div class="col-md-4" style="border:2px solid #eee;min-height:63px; cursor:pointer;" ng-click="scrollTonext()">
                        <p style="text-align:center;color:#fff;vertical-align:middle;padding-top:7px;">DOWNLOAD APP <span class="fa fa-android" style="color:lightgreen !important;font-size:22px;" ></span> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--section one-->
    <div class="container-fluid div2" id="div2">
        <div class="row" style="min-height: 350px;  color: black; padding-top:42px; padding-bottom:10px;">
            <div class="col-md-5 col-md-offset-1" >
                <p style="color:#888 !important;text-align:center;font-weight:bolder;text-transform:uppercase;font-size:30px;">How to Use ?</p>
                <br />
                <img src="<%=basePath%>img/login/Loginpage1.jpg" alt="video" style="cursor:pointer;" height="100%" width="100%" ng-click="openVideo()"/>
            </div>
            <div class="col-md-5 " >
                <p style="color:#888 !important;text-align:center;font-weight:bolder;text-transform:uppercase;font-size:30px;">try</p>
                <br />
                <img src="<%=basePath%>img/login/Loginpage2.jpg" alt="gallery" style="cursor:pointer;" height="100%" width="100%" ng-click="openGallery()"/>
            </div>
        </div>
        <hr />
        <div class="row" style="text-align:center;">
            <p style="letter-spacing:.1em;font-size:24px;">Visit our blog for latest updates   <a href="http://www.blog.sensemagik.com" target="_blank"><span class="fa fa-external-link" style="color:#38033C !important;"></span></a></p>
        </div>
    </div>

    <!--section two-->
    <div class="container-fluid div3 " style="padding-bottom: 80px;background: {{magik.bg}} !important;">
        <div class="" style="min-height: 300px; color: black;">
            <div class="row">
                <div class="col-md-12">
                    <p style="margin-top:30px;color:#eee !important;text-align:center;font-weight:bolder;text-transform:uppercase;font-size:30px;">Creating Augmented Reality is as simple as</p>
                </div>
            </div>
            <div class="row arrow_box_both" style="margin-top:20px;">
                <div class="col-md-10 col-md-offset-1">
                   <div class="row" style="color:white;border: 10px solid white;box-shadow: 0px 0px 30px black;">
                        <div class="col-md-4 font-feature arrow_box_right" style="background:transparent;">
                            <span class="fa fa-cloud-upload instruct-icons" style="color:white !important;font-size:125px;"></span>
                            <p class="instruct">Upload Image</p>
                        </div>
                        <div class="col-md-4 font-feature arrow_box_right arrow_box_right_color" style="background: transparent;">
                            <span class="fa fa-search instruct-icons" style="color:white !important;font-size:125px;"></span>
                            <p class="instruct">Browse Templates</p>
                        </div>
                        <div class="col-md-4 font-feature" style="background: transparent;">
                            <span class="fa fa-mobile instruct-icons" style="color:white !important;font-size:125px;"></span>
                            <p class="instruct">Publish to app</p>
                        </div>
                   </div> 
                </div>
            </div>
        </div>
    </div>
    <!--
    <div class="container" style="background: url('<%=basePath%>img/concept.jpg'); background-size:contain; background-repeat: no-repeat;height: 900px; width: 100%;background-position: center;margin-top: 10px;margin-bottom: 10px;">
        <!--img src="<%=basePath%>img/concept.jpg" style="width: 80%; height: 900px;" / >
    </div-->
    <p style="margin:30px;color:#eee !important;text-align:center;font-weight:bolder;text-transform:uppercase;font-size:30px;">Why SenseMagik Studio?</p>
    <div class="container-fluid div4 " id="tutorial" style="min-height: 700px; margin-top: 10px; margin-bottom: 10px; padding-bottom: 30px;background-attachment:fixed;">
        <br />
        <div class="row" style="margin-top:30px;">
            <div class="col-md-6">
                <img src="<%=basePath%>img/login/bulb_comp.png" alt="bulb" style="width:100%;transform:scale(1.2);"/>
            </div>
            <div class="col-md-3" style="color:#A29B9B;text-align:center;">
                <p style="font-weight: 500;font-size:28px;">FOR BUSINESS</p>
                <!--h4 style="font-size:20px;">Great business starts with great marketing</h4-->
                <ul class="list-features">
                    <li><span class="fa fa-cube"></span> Create Augmented Reality ads</li>
                    <li><span class="fa fa-youtube-play"></span> Share your marketing videos through our studio</li>
                    <li><span class="fa fa-bullhorn"></span> Organize Augmented Reality events during Product release</li>
                </ul>
            </div>    
            <div class="col-md-3" style="color:#A29B9B;text-align:center;border-left:1px solid #444;">
                <p style="font-weight: 500;font-size:28px;">FOR PERSONAL</p>
                <!--h4>Choose from our templates / upload your own and make your wishes unique and surprising</h4-->
                <ul class="list-features">
                    <li><span class="fa fa-diamond"></span> Create interesting greetings for your friends</li>
                    <li><span class="fa fa-envelope"></span> Share your messages in a unique way</li>
                    <li><span class="fa fa-child"></span> Express your feelings through our templates</li>
                </ul>
            </div>    
        </div>
        
    </div>
    <div class="container-fluid" id="download" style="min-height: 200px;background: white;box-shadow: 0px 4px 5px black inset;padding:20px;">
        <div class="row">
            <div class="col-md-10 col-md-offset-1" style="border-radius: 3px;border:2px solid #eee;padding:20px;">
                <div class="row">
                    <div class="col-md-2 col-md-offset-1" >
                        <img src="<%=basePath%>img/login/qrcode.png" alt="qr" style="height:153px;border: 5px solid {{magik.bg}}" />
                    </div>
                    <div class="col-md-9" style="text-align:center;font-size:28px;">
                        <p>Scan this QR Code to get "Sensemagik AR" app to your mobile</p>
                        <p>OR</p>
                        <p>Go to this <a href="https://play.google.com/store/apps/details?id=com.SenseMagik.studio">link</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Footer-->
    <div style="position:fixed;bottom: 20px;right:20px;z-index:2000;">
        <button class="btn btn-default"  data-template-url="{{basePath}}/templates/livefeedback.tpl.html" data-placement="right" data-animation="am-slide-right" bs-aside="aside" data-container="body">What do you feel  <span class="fa fa-question-circle"></span> </button>
    </div>
    <!--footer class="footer" style="background: {{magik.bg}} !important;">
        <div class="container">
            <div class="row">
                <div class="col-md-3" style="height: 128px;padding-top:20px;">
                    <img src="<%=basePath%>img/logos/sensemagik-orange-min.png" alt="logo" style="width: auto;height:100%;display:block;margin-left:auto;margin-right:auto;">
                </div>
                <div class="col-md-9" style="color: whitesmoke;">
                    <p style="color: #F5DAF7 !important;margin-top: 25px;line-height: 1.8;"> <span style="font-weight: bolder;color:white !important;">SenseMagik Studio</span> is a cloud-based do-it-yourself (#DIY) Augmented Reality software that offers quality professional tools within reach of everyone. It helps to create Augmemted reality images,videos like never before.</p>
                </div>
            </div>
            <div class="row" style="color: #A7A2A2 !important;">
                <div class="col-md-4 footer-links" style="color: #A7A2A2;">
                    <h3 style="font-weight: bold;color: white !important;">Quick Links</h3>
                    <p><a href="/privacy-policy">Privacy Policy</a></p>
                    <p><a href="/terms">Terms</a></p>
                    <p><a href="/feedback">Feedback</a></p>
                    <p><a href="/company">Company</a></p>
                </div>
                <div class="col-md-4 footer-links" style="color: #A7A2A2;">
                    <h3 style="font-weight: bold;color: white !important;">Support</h3>
                    <p><a href="/help">Help Center</a></p>
                    <p><a href="/tutorial">Tutorial</a></p>
                    <p><a href="/pricing">Pricing</a></p>
                    <p><a href="/contact">Contact</a></p>
                </div>
                <div class="col-md-4 footer-links" style="color: #F5DAF7;line-height: 1.4;font-weight:bolder;">
                    <h3 style="font-weight: bold;color: white !important;">SenseMagik Technologies Pvt Ltd</h3>
                    <p>1B, Bharath Avenue, Saraswathy nagar, Selaiyur Post, Chennai- 600073.</p>
                    <p>sensemagik@gmail.com</p>
                    <p>+91 8056527917</p>
                </div>
            </div>
        </div>
        <br />
        <div class="" style="text-align: center;height: 50px; background: black;padding-top: 20px;">
           <p style="vertical-align:middle;"> Copyright &copy; 2015 SenseMagik Technologies Pvt Ltd. All Rights Reserved</p>
        </div>
    </footer-->
    <ng-include src="'<%=basePath%>templates/footer.html'" onload="basePath = '<%=basePath%>'"></ng-include>

    <script type="text/ng-template" id="watch-video">
        <div class="row" >
            <div class="col-md-6" style="height:300px;">
                <!--iframe width="100%" height="100%" src="https://www.youtube.com/embed/GDXdNASNCZE" frameborder="0" allowfullscreen></iframe-->
                <iframe src="https://player.vimeo.com/video/144837895?byline=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <div class="col-md-6" style="height:300px;">
                <iframe src="https://player.vimeo.com/video/144846958?byline=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="watch-gallery">
        <div class="row" >
            <div class="col-md-2">
                <img src="{{slide.image}}" ng-click="setCurrent(slide.image)" ng-repeat="slide in slides" class="thumbnail" style="width:100px;height:100px;"/>
            </div> 
            <div class="col-md-10" style="">
                <img src="{{currentImage}}" style="height:100%;width:100%;" />
            </div>
        </div>
        <br />
        <div class="row" style="background: yellow;text-align:center;">
            <div class="col-md-4">
                <h4 style="font-size:14px !important;">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle-o fa-stack-2x"></i>
                      <i class="fa fa-stack-1x">1</i>
                    </span>
                    Download SenseMagik app
                </h4>
            </div>
            <div class="col-md-4">
                <h4 style="font-size:14px !important;">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle-o fa-stack-2x"></i>
                      <i class="fa fa-stack-1x">2</i>
                    </span>
                    Scan the above image
                </h4>
            </div>
            <div class="col-md-4">
                <h4 style="font-size:14px !important;">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle-o fa-stack-2x"></i>
                      <i class="fa fa-stack-1x">3</i>
                    </span>
                    View the magik
                </h4>
            </div>
        </div>
    </script>
    <!-- Libraries used in this app -->
    
    <script type="text/javascript" src="<%=basePath%>bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/lodash/dist/lodash.min.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/restangular/dist/restangular.min.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="<%=basePath%>bower_components/angular-ui-notification/dist/angular-ui-notification.min.js"></script>
    <script src="<%=basePath%>bower_components/satellizer/satellizer.js"></script>
    <script src="<%=basePath%>bower_components/angular-strap/dist/angular-strap.min.js"></script>
    <script src="<%=basePath%>bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>
    <script src="<%=basePath%>bower_components/ngDialog/js/ngDialog.min.js"></script>
    <script src="<%=basePath%>bower_components/angular-touch/angular-touch.min.js"></script>
    <script src="<%=basePath%>bower_components/angular-carousel/dist/angular-carousel.min.js"></script>
    <!-- Lib Ends -->
    

    <!-- Local file dependencies-->
    <script type="text/javascript" src="<%=basePath%>js/app.js"></script>
    <script type="text/javascript" src="<%=basePath%>js/LoginController.js"></script>
    
    
    <!--script type="text/javascript" src="js/modules/directives/"></script-->
    <script type="text/javascript">
        $(window).load(function(){
             console.log('loaded');
            // $('body').removeClass('blurbg');
             //$('.loader').css('display','none');
             $(".se-pre-con").fadeOut("slow");
         });
        angular.module('login.appConfig', []).
        provider("config", function() {
            this.config = {
                basePath: '<%=basePath%>'
            };
            this.$get = function() {
                return this.config;
            };
        });
    </script>
</body>

</html>