<!DOCTYPE html>
<html>
	<head>
		<title>SenseMagik Studio | Reset password</title>
		<link rel="stylesheet" type="text/css" href="<%=basePath%>/bower_components/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="<%=basePath%>/bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css">
	</head>
	<body>
		<div class="row" style="margin-top: 50px;">
			<div class="col-md-4 col-md-offset-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<form class="form-horizontal">
							<div class="input-group">
								<div class="col-sm-6">
									<label>Password</label>
								</div>
								<div class="col-sm-6">
									<input type="hidden" name="token" value="<%=token%>" />
									<input type="hidden" name="email" value="<%=email%>" />
									<input type="password" id="password" class="form-control" name="password" />
								</div>
							</div>
							<div class="input-group">
								<div class="col-sm-6">
									<label>Confirm Password</label>
								</div>
								<div class="col-sm-6">
									<input type="password" id="confpassword" class="form-control" name="confpassword" />
								</div>
							</div>
							<div class="input-group">
								<button onclick="submitdata()" class="btn btn-lg btn-default">SUBMIT</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="<%=basePath%>/bower_components/jquery/dist/jquery.js"></script>
	<script type="text/javascript">
	$("form").submit(function(e){
	    e.preventDefault()
	});
	function submitdata(){
		console.log($('#password')[0].value);
		if($('#password')[0].value != $('#confpassword')[0].value){
			alert('Password mismatch');
		}else{

			$.ajax({
				type: "POST",
				url: 'resetpassword/reset',
				data: data
			})
		}
	}
		
	</script>
</html>