<style>
.profpic:hover{
	opacity: .5;
}
</style>
<div class="container">
	<div class="panel panel-success">
		<div class="panel-heading" style="background-color: #eee !important">
			<div class="row">
				<div class="col-md-6">
					<h3 ><span class="glyphicon glyphicon-user"></span>Update Member
					<button class="btn btn-danger" ng-click="editUser()"><span class="glyphicon glyphicon-edit"></span> Edit</button>
					</h3>

				</div>
			</div>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-2" style="height: 150px;">
					<div class="profpic" style="width: 100%;height: 100%;background:url('{{profilepic}}');background-repeat: no-repeat;background-size: contain;position: relative;" ng-click="openFileBrowser()">
						<span class="glyphicon glyphicon-plus" style="width: 100%;" ></span>
					</div>
					<input type="file" id="file" nv-file-select uploader="uploader" style="display:none;" />
				</div>
				<div class="col-md-4">
					<label>Name</label>
					<input type="text" ng-model="user.name" class="form-control" />
					<label>Choose your username</label>
					<input type="text" class="form-control" ng-bind="user.username" />
				</div>
				<div class="col-md-4">
					<label>Password</label>
					<input type="password" class="form-control" />
					<label>Repeat Password</label>
					<input type="password" ng-model="user.password" class="form-control" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">	
					<label>Email</label>
					<input type="email" ng-model="user.email" class="form-control" />
				</div>
				<div class="col-md-4">
					<label>Gender</label>
					<div class="list-group">
                        <a href="javascript:void(0)" ng-click="user.gender = 'male'" class="list-group-item">Male<span ng-if="user.gender == 'male'" class="glyphicon glyphicon-ok pull-right"></span></a>
                        <a href="javascript:void(0)" ng-click="user.gender = 'female'" class="list-group-item">Female<span ng-if="user.gender == 'female'" class="glyphicon glyphicon-ok pull-right"></span></a>
                    </div>
				</div>
				<div class="col-md-4">

				</div>
			</div>
		</div>
	</div>
</div>