<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h3 ><span class="fa fa-users"></span> Members</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4" style="text-align:center;overflow-wrap: break-word;"  ng-repeat="user in mang.usersList">
			<div class="panel panel-success">
				<div class="panel-heading" ng-if="admin">
					<span class="glyphicon glyphicon-edit" ui-sref="members.edit({id: user._id})"></span>
					<span class="glyphicon glyphicon-remove" style="color:red;padding-left: 10px;" ng-click="deleteMember(user._id)"></span>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-6">
							<div style="background-image: url('{{user.profilepic || profilepic}}');background-repeat: no-repeat;background-size: contain;height: 100px;"></div>
						</div>
						<div class="col-xs-6">
							<h4>{{user.username}}</h4>
							<p>{{user.email}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
