<div class="row" style="min-height: 100px;background:url({{basePath}}/img/editor/editorbg.png) #781A84;color:white; text-align:center;font-weight:bolder">
  <h2 style="font-weight:bolder;"><span class="fa fa-question-circle" style="color:white !important;"></span> FAQ</h2>
</div>
<div class="container-fluid" style="min-height: 500px; color:white;background:white;padding-top:20px;">
  <accordion close-others="oneAtATime" style="color:black;">
    <accordion-group heading="What is the size of video I could upload ?" is-open="status.isFirstOpen" >
      You can upload video file with maximum of 15MB. 
    </accordion-group>
    <accordion-group heading="How long will it takes for publishing a magik ?" is-open="status.isSecondOpen">
      It will take between 10 to 30 minutes. If it doesn't publish after 45 minutes to 1 hour, please contact Sensemagik support team.  
    </accordion-group>
    <accordion-group heading="Can I try Sensemagik for free ?" is-open="status.isThirdOpen">
      Yes. There is a free plan with limited number of magiks by which you could experience sensemagik. 
    </accordion-group>
  </accordion>
  <div class="row" style="color:black;">
    <div class=" col-md-5 ">
      <h3>Why it takes so long to publish a magik? </h3>
      <p>
        The technology used by sensemagik analyses the duplicate image among global sensemagik users and activates them in app only when it is unique. The processing time will be much reduced in near future.
      </p>
      
      <h3>Can I use free plan for commercial purpose? </h3>
      <p>
        Yes. But the free plan is restricted with number of views above which you need to upgrade the plan for getting more views from your customers. 
      </p>
      
      <h3>I need a custom Augmented Reality application </h3>
      <p>
      We provide custom and personalized Augmented Reality application development at much lower rates. Contact our support team for more details.
      </p>

    </div>
    <div class="col-md-5 col-md-offset-1">
      <h3>Why it shows 'duplicate' after publishing ?</h3>
      <p>
        It means that the image you have uploaded as a magik is already been used by someother sensemagik user. If you have copyright over the image, you can report to sensemagik support team. 
      </p>

      <h3>Can I make changes and republish the same magik ?</h3>
      <p>
        Yes you can. But the publish count will be accounted for your plan. 
      </p>
    </div>

  </div>
</div>