<style>
.onoffswitch {
    position: relative; width: 60px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 36px; padding: 0; line-height: 36px;
    border: 2px solid #CCCCCC; border-radius: 36px;
    background-color: #FFFFFF;
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 36px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 22px;
    border: 2px solid #CCCCCC; border-radius: 36px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #49E845;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #49E845;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px; 
}
</style>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <h3><span class="fa fa-bell"></span> Notification</h3>
            </div>
        </div>
        <hr />
       <div class="row">
            <div class="col-md-3">
                <h5>Email Newsletters: </h5>
            </div>
            <div class="col-md-6">
                <div class="onoffswitch">
                    <input type="checkbox" ng-model="profile.notification.newsletter" ng-change="saveProfile()" class="onoffswitch-checkbox" id="myonoffswitch">
                    <label class="onoffswitch-label" for="myonoffswitch">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
       </div>
       <div class="row">
            <div class="col-md-3">
                <h5>Publish Email Notifications: </h5>
            </div>
            <div class="col-md-6">
                <div class="onoffswitch">
                    <input type="checkbox" ng-model="profile.notification.publish_notification" ng-change="saveProfile()" class="onoffswitch-checkbox" id="myonoffswitch1">
                    <label class="onoffswitch-label" for="myonoffswitch1">
                        <span class="onoffswitch-inner1"></span>
                        <span class="onoffswitch-switch1"></span>
                    </label>
                </div>
            </div>
       </div> 
    </div>
</div>