<div class="row profile-page" style="min-height: 100px;background:url({{basePath}}/img/editor/editorbg.png) #0AC378;color:white; text-align:center;font-weight:bolder">
	<h2 style="font-weight:bolder;"><span class="glyphicon glyphicon-user"></span> My Profile</h2>
</div>
<div class="container-fluid" style="padding-top: 15px; background: #fff;min-height: 500px;">
	<div class="col-md-2">
		<ul class="list-group" style="text-align:center;cursor:pointer;">
			<li class="list-group-item" ui-sref="profile.view" ><span class="fa fa-user"></span> Profile</li>
			<li class="list-group-item" ui-sref="profile.notification"><span class="fa fa-bell"></span> Notification</li>
			
		</ul>
	</div>
	<div class="col-md-10">
		<ui-view></ui-view>
	</div>
</div>
