<span class="fa fa-remove" style="position:absolute;right:5px;top:5px;color:grey !important;" ng-click="cancel()"></span>
<div class="modal-header">
	<h4>Upload</h4>
</div>
<div class="modal-body" style="margin-top:20px;">
	<div class="row">
		<div class="col-md-12" style="text-align:center;vertical-align:middle;" ng-if="!isAnalysing">
			<span class="fa fa-cloud-upload" ng-click="openFile()" style="font-size: 130px;background:url('{{basePath}}img/editor/editorbg.png') #0AC378;-webkit-background-clip: text;-webkit-text-fill-color: transparent;"></span>
			
			<h5>( Only jpg, png & Max: 10mb )</h5>
		</div>
		<div class="col-md-12" style="text-align:center;vertical-align:middle;" ng-if="isAnalysing">
			<div class="progress">
			  	<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="{{analysisProgress}}%" aria-valuemin="0" aria-valuemax="100" style="width: {{analysisProgress}}%">
			    	<span class="sr-only">100% Complete (success)</span>
			  	</div>
		  	</div>
		</div>
	</div>
</div>