<div class="alert alert-danger" ng-if="!profile.active">
  <strong><span class="glyphicon glyphicon-alert"></span> Account not verified. </strong> Please verify your email address to avoid deactivation. <a>Resend email</a>
</div>
<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-md-2">
				<cl-image public-id="{{profile.public_id}}"  popover-placement="bottom" popover="Click to change" popover-trigger="mouseenter" ng-click="changeProfilePic()" ng-if="profile.public_id" format="png" style="display:block;margin-left:auto;margin-right:auto;">
                  <cl-transformation height="100" width="100" crop='pad' quality="20"/>
                </cl-image>
				<span ng-if="!profile.profilepic" class="fa fa-user" style="font-size: 130px;" popover-placement="bottom" popover="Click to change" popover-trigger="mouseenter" ng-click="changeProfilePic()"></span>
			</div>
			<div class="col-md-8" style="text-align:left;">
				<h3 ng-if="!magik.edit">{{profile.name}}</h3>
				<input type="text" ng-if="magik.edit" ng-model="profile.name" class="form-control"/>
			</div>
			<div class="col-md-2">
				<button class="btn btn-block btn-default" ng-if="!magik.edit" ng-click="magik.edit=true"><span class="glyphicon glyphicon-edit"></span> EDIT</button>
				<button class="btn btn-block btn-default" ng-if="magik.edit" ng-click="magik.edit=false;saveProfile(profile)"><span class="glyphicon glyphicon-edit"></span> SAVE</button>
				<button class="btn btn-block btn-default" ng-if="magik.edit" ng-click="reset();magik.edit=false;"><span class="glyphicon glyphicon-remove"></span> CANCEL</button>
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="col-md-6">
				<label>Email: </label>
				<input type="text" ng-model="profile.email" disabled/>
			</div>
			<div class="col-md-3 form-group">
				<label>Password: </label>
				<div class="input-group" ng-init="type='password'">
					<input type="{{type}}" ng-model="profile.password" class="form-control" ng-if="!magik.edit" disabled/>
					<input type="{{type}}" ng-model="profile.password" class="form-control" ng-if="magik.edit"/>
					<div class="input-group-addon">
						<span class="fa fa-eye" ng-mouseover="type='text'" ng-mouseleave="type='password'"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="margin-top:10px;">
			<div class="col-md-6">
				<label>Date of Birth: </label>
				<h5 ng-if="!magik.edit">{{profile.dob | date}} </h5>
				<input type="date" ng-model="profile.dob" ng-if="magik.edit" />
			</div>
			<div class="col-md-6">
				<label>Sex: </label><br />
				<select ng-model="profile.sex" disabled ng-if="!magik.edit">
					<option value="male">Male</option>
					<option value="female">Female</option>
				</select>
				<select ng-model="profile.sex" ng-if="magik.edit">
					<option value="male">Male</option>
					<option value="female">Female</option>
				</select>
			</div>
		</div>
	</div>
</div>
<input type="file" style="display:none;" id="file" nv-file-select uploader="uploader" ng-model="file"/>

