<div class="modal-header">
	<h3>Add Template</h3>
</div>
<div class="modal-body" style="text-align: center;">
	<div ng-if="!isAnalysingTemplate">
		<div nv-file-drop uploader="uploader" style="padding: 50px;width: 100%; background: #eee;">
			<h4>Drop your Image (Max: 5MB)</h4>
		</div>
		<h4>Or</h4>
		<h4><button class="btn btn-default btn-lg" ng-click="uploadImage()"><span class="fa fa-cloud-upload"></span> Choose & Upload</button></h4>
		
		<input type="file" style="display:none;" id="file" nv-file-select uploader="uploader"/>
		<hr />
	</div>
	<div ng-if="isAnalysingTemplate">
		<h4>Analysing your Template .. Please Wait</h4>
		<div class="progress" ng-if="isAnalysing">
		  <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="{{templateAnalysisProgress}}%" aria-valuemin="0" aria-valuemax="100" style="width: {{templateAnalysisProgress}}%">
		    <span class="sr-only">100% Complete (success)</span>
		  </div>
		</div>
	</div>
</div>
<div class="modal-footer">
</div>