<div class="container">
	<div class="row">
		<div class="col-md-3">
			<ul class="list-group" style="cursor: pointer;" ng-init="show='Templates'">
				<li class="list-group-item" ng-click="show='Templates'"><span class="fa fa-picture-o"></span> Templates</li>
				<li class="list-group-item" ng-click="show='Template Categories'"><span class="fa fa-picture-o"></span> Template Categories</li>
				<li class="list-group-item"  ng-click="show='Videos'"><span class="fa fa-film"></span> Videos</li>
			</ul>
		</div>
		<div class="col-md-9">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-6">
							<h3><span class="fa fa-picture-o"></span> {{show}}</h3>
						</div>
						<div class="col-md-1 col-md-offset-5">
							<br />
							<button class="btn btn-sm btn-default" ng-click="addTemplateModal()" ng-if="show !='Template Categories'"><span class="fa fa-plus"></span> Add </button>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div class="list-group" style="max-height: 500px; overflow: auto;" ng-if="show=='Templates'">
						<div class="list-group-item" ng-repeat="item in magik.templates">
							<div class="row">
								<div class="col-md-3">
									<img src="{{item.url}}" style="height: 100px; width: 120px;" />
								</div>
								<div class="col-md-5">
									<h4>{{item.name}}</h4>
								</div>
								<div class="col-md-2">
									<select class="form-control" ng-model="item.cat_id" ng-change="editTemplate(item)">
										<option ng-selected="category._id == item.cat_id"  ng-repeat="category in magik.templateCategories" value="{{category._id}}">{{category.name}}</option>
									</select>
								</div>
								<div class="col-md-2">
									<span class="btn btn-sm btn-danger" ng-click="deleteTemplate(item)"><span class="fa fa-remove"></span> Delete</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row" ng-if="show=='Template Categories'">
						<div class="row">
							<div class="col-md-3" style="text-align: center;"><h4>Category Name</h4></div>
							<div class="col-md-5"><input type="text" style="width: 100%;" class="form-control" ng-model="categoryname"></div>
							<div class="col-md-2"><input type="text" style="width: 100%;" class="form-control" placeholder="Icon" ng-model="categoryicon"/></div>
							<div class="col-md-2"><button class="btn btn-default btn-block" ng-click="addCategory(categoryname,categoryicon)"><span class="fa fa-plus"></span> Add</button></div>
						</div>
						<div class="row"  style="margin-top: 20px;">
							<table ng-table="tableParams" template-pagination="custom/pager" class="table table-hover table-bordered" style="width: 90%; margin-left: 30px;text-align: center;">
								<tr ng-repeat="item in $data" ng-repeat="item in magik.templateCategories">
									<td data-title="'SNo'" width="50">
										<span>{{$index + 1}}</span>
									</td>
									<td data-title="'Name'" width="200">
										<span ng-if="!item.$edit"><span class="{{item.icon}}"></span>  {{item.name}}</span>
										<span ng-if="item.$edit">
											<input type="text" ng-model="item.icon" placeholder="icon" />
											<input type="text" ng-model="item.name" placeholder="Name" />
										</span>
									</td>
									<td data-title="''" width="200">
										<span class="btn btn-default btn-sm" ng-if="!item.$edit" ng-click="item.$edit = true"><span class="fa fa-pencil"></span>  Edit</span>
										<span class="btn btn-default btn-sm" ng-if="item.$edit" ng-click="item.$edit = false;editCategory(item);"><span class="fa fa-pencil"></span>  Ok</span>
										<span class="btn btn-danger btn-sm"><span class="fa fa-remove"></span>  Remove</span>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>