<style>
.fileover{
	background: black !important;
}
</style>

<div class="row" style="padding-top:70px;padding-bottom:20px;min-height:500px; background:white;">
	<div class="col-md-5 col-md-offset-1">
		<h2 style="color: black;"><img ng-src="{{basePath}}/icons/rocket.png" style="height: 50px; width: 50px;" /> Create Magik  <sup class="fa fa-question-circle" popover-placement="right" popover="'Magik' denotes the target for Augmented Reality" popover-trigger="mouseenter" style="font-size:20px;color:black !important;"></sup></h2>
		<hr />
		<button class="btn btn-default" ng-if="!isAnalysing && !magik.currentTargetid" ui-sref="studio.new">Go to create page</button>
		<div>
			<h4 ng-if="isAnalysing">Analysing.. Please Wait {{analysisProgress}}%</h4>
			<h4 ng-if="!isAnalysing && magik.currentTargetid">Great ! Everything seems fine ! Proceed with last step </h4>
			<div class="progress" ng-if="isAnalysing">
			  <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="{{analysisProgress}}%" aria-valuemin="0" aria-valuemax="100" style="width: {{analysisProgress}}%">
			    <span class="sr-only">100% Complete (success)</span>
			  </div>
			</div>
			<a class="btn btn-default" ng-if="!isAnalysing && magik.currentTargetid" ui-sref="studio.edit({id: magik.currentTargetid})"><span class="fa fa-arrow-right"></span> Next</a>
		</div>
	</div>
	<div class="col-md-4 col-md-offset-1">
		<div class="panel panel-default" style="margin-top: 20px;">
			<div class="panel-heading" style="background-color: #fff !important ; text-align: center;border-bottom: 1px solid goldenrod !important;">
				<h4 style="text-align: center;">Instructions</h4>
			</div>
			<div class="panel-body">
				<ul class="list-group">
					<li class="list-group-item"><span class="fa fa-picture-o" style="margin-right:15px;"></span>Upload only .jpg & .png images </li>
					<li class="list-group-item"><span class="fa fa-square" style="margin-right:15px;"></span>Do not upload plain color images</li>
					<li class="list-group-item"><span class="fa fa-cube" style="margin-right:15px;"></span>Augmentation health for magik will be showed only after magik is published</li>
					<li class="list-group-item"><span class="fa fa-copy" style="margin-right:15px;"></span>Duplicate magik will be known only after publishing</li>
				</ul>
			</div>
		</div>
	</div>
</div>


