<style>
	ul.assets li{
        margin-bottom: 10px;
        height: 70px;
    }
</style>
<div class="edit-page" style="background: white !important" load-top>
	<div class="row container-fluid" style="background: white !important;">
        <div class="editor-body container-fluid" style="background: white !important;">
            <div class="row" style="background: white !important;">
                <div class="col-md-2" style="height: 100vh; background: #404950;">
                    <div class="row" style="background: rgb(0, 109, 97) !important;margin-bottom: 20px;color: white;height: 40px;">
                        <h4 style="text-align: center;"><span class="fa fa-cog" style="color:white !important;"></span> Settings</h4>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="list-group" style="cursor:pointer">
                                <li class="list-group-item">TYPE</li>
                                <li class="list-group-item" ng-click="local.magikTarget.augmenttype='image';augmenttypeChanged();"><span class="fa fa-picture-o"></span>  Image  <span class="pull-right fa fa-check" ng-if="local.magikTarget.augmenttype=='image'"></span></li>
                                <li class="list-group-item" ng-click="local.magikTarget.augmenttype='video';augmenttypeChanged();"><span class="fa fa-film"></span>  Video  <span class="pull-right fa fa-check" ng-if="local.magikTarget.augmenttype=='video'"></span></li>
                            </ul>
                        </div>
                    </div><br />
                    <div class="row" style="text-align:center;">
                       	<span class="btn btn-sm btn-default" ng-if="!local.magikTarget.published && !local.magikTarget.status" ng-click="publish(local.magikTarget);"><span class="fa fa-cloud"></span> Publish</span>

                        <span class="btn btn-sm btn-default" ng-if="local.magikTarget.published=='duplicate'" style="background-color: red;color: white;" disabled><span class="fa fa-remove"></span> Duplicate</span>

                        <span class="btn btn-sm btn-default" style="background-color: orange;" ng-if="local.magikTarget.published=='processing'" disabled><i class="fa fa-spinner fa-pulse"></i> Processing</span>

                        <span class="btn btn-sm btn-default" style="background-color: orange;" ng-if="local.magikTarget.published=='requesting' || local.magikTarget.status=='processing'" disabled><i class="fa fa-spinner fa-pulse"></i> Requesting</span>

                        <span class="btn btn-sm btn-default"  style="background-color: #90FF90;" ng-if="local.magikTarget.published=='success'"><span class="fa fa-circle" style="color: green !important;"></span> Live</span>

                        <span class="btn btn-sm btn-danger" ng-if="local.magikTarget.published=='success'" ng-click="deleteVwsTarget(local.magikTarget)"><span class="fa fa-stop" ></span> STOP</span>

                        <span class="btn btn-sm btn-default" ng-if="!local.magikTarget.published || local.magikTarget.published=='success' || local.magikTarget.published=='duplicate'" ng-click="deleteTarget(local.magikTarget._id)"><span class="fa fa-trash-o" style="color: red !important;"></span></span>
                    </div>
                    
                    <!-- Audio Option for future -->
                    <!--div class="row">
                        <div class="col-sm-6">
                            <p><span class="fa fa-volume-up"></span> Audio</p>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-sm btn-default"><span class="fa fa-cloud-upload"></span> Upload</button>
                        </div>
                    </div>
                    <hr />
                    <div class="row" style="background: skyblue !important;margin-bottom: 20px;color: white;height: 40px;">
                        <h4 style="text-align: center;"><span class="fa fa-share" style="color:white !important;"></span> Share</h4>
                        <div class="row" style="margin-top:20px;padding-top: 10px;text-align:center;">
                            <span class="btn btn-default"><span class="fa fa-facebook-official"></span></span>
                            <span class="btn btn-default"><span class="fa fa-google-plus-square"></span></span>
                        </div>
                    </div-->
                </div>
                <div class="col-md-1" style="background: #231E1E; height: 100vh;">
                    <div class="row" style="background: #872A00 !important;margin-bottom: 20px;color: white;height: 40px;">
                        <h4 style="text-align: center;"><span class="fa fa-wrench" style="color:white !important;"></span> Tools</h4>
                    </div>
                    <div class="row">
                        <ul style="list-style-type: none; cursor:pointer;margin:0; padding: 0;" class="assets">
                            <!--li style="text-align: center;" ng-click="openTextEditor()">
                               <img ng-src="{{basePath}}img/pencil.png" height="50" width="50" />
                            </li-->
                            <li ng-if="local.magikTarget.augmenttype=='image'" style="text-align: center;" ng-click="browseTemplates()">
                                <img ng-src="{{basePath}}img/picture.png" height="50" width="50" />
                            </li>
                            <li ng-if="local.magikTarget.augmenttype=='video'" style="text-align: center;" ng-click="openVideoModal()">
                                <img ng-src="{{basePath}}img/video.png" height="50" width="50" />
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row" style="background: #8A9C50;">
                        <div class="col-md-7" style="">
                            <h4><span class="fa fa-pencil" style="color: white !important;"></span> <a href="#" style="color: white;" editable-text="local.magikTarget.name" onaftersave="augmenttypeChanged()">{{ local.magikTarget.name || "Untitled Magik" }}</a></h4>
                        </div>
                        <div class="col-md-1" style="height: 40px;color: white;">
                            <h4 ng-if="local.magikTarget.published=='success'">
                                <i class="fa fa-circle" style="color: rgb(13, 205, 30) !important;font-size: 14px;"></i> Live 
                            </h4>
                            <h4 ng-if="local.magikTarget.published=='duplicate'">
                                <i class="fa fa-circle" style="color: red !important;font-size: 14px;"></i> This Magik already exists! Cannot be published 
                            </h4>
                        </div>
                        <div class="col-md-2" style="border-right: 1px solid black;height: 40px;">
                            <h4 style="color: white;" ng-if="local.magikTarget.rating"><span class="fa fa-heart" style="color: #872A00 !important;"></span> Health :   
                                <span ng-if="local.magikTarget.rating > 3" style="color: green;">Good</span>
                                <span ng-if="local.magikTarget.rating == 3" style="color: orange;">Average</span>
                                <span ng-if="local.magikTarget.rating < 3" style="color: red;">Bad</span>
                            </h4>
                        </div>
                        <div class="col-md-2" style="padding-top: 15px;">
                            <div adjust-slider="{{magik.sliderPosition}}" id="slider"></div>
                        </div>
                    </div>

                    <div class="row editor-part" ng-style="{'background': 'url({{ basePath }}img/editor/editorbg.png) whitesmoke'}" style="height: 600px; overflow: auto; border: 1px solid white;box-shadow: 0px 0px 3px black inset;" >
                        <div class="hotspotEditor" style="background:url({{local.magikTarget.imgurl}}) whitesmoke;background-repeat: no-repeat;background-position: center top; height: {{localImageSize.height * magik.proportion +'px'|| 'auto'}}; width: {{localImageSize.width * magik.proportion+'px' || 'auto'}};background-size: contain; margin: 10px auto; overflow: hidden;position: relative;" ng-if="backgroundLoaded">
                            <div class="hotspot arrow_box_right" style="background:transparent;height:{{local.magikTarget.texthotspots.height || '30%'}}; width: {{local.magikTarget.texthotspots.width || '20%'}}; left: {{local.magikTarget.texthotspots.left || '0%'}}; top: {{local.magikTarget.texthotspots.top || '0%'}}; position:absolute; border: 1px dashed black;overflow: hidden;" ng-if="local.magikTarget.texthotspots.value.length > 0" text-hotspot-draggable class="panel panel-default position-fixed" data-target="menu-1" ng-class="{ 'highlight': highlight, 'expanded' : expanded }"  text-hotspot-resizable>
                                <div ng-bind-html="local.magikTarget.texthotspots.value"></div>
                                <div style="height: 50px; padding: 4px; background: rgba(0,0,0,0.5);position: absolute; top:0px;right: 0px;">
                                    <span class="glyphicon glyphicon-pencil" style="color: white;" ng-click="openTextEditor()"></span><br />
                                    <span class="glyphicon glyphicon-remove" style="color: white;margin-top:10px;" ng-click="removeTextHotspot()"></span>
                                </div>
                            </div>
                            <div class="image-hotspot" ng-if="local.magikTarget.augmenttype=='image' && local.magikTarget.imagehotspot.url" id="imagehotspot" image-hotspot-draggable image-hotspot-resizable ng-style="{'background': 'url({{local.magikTarget.imagehotspot.url}}  rgba(0,0,0,0))'}" style="background:url({{local.magikTarget.imagehotspot.url}}) rgba(0,0,0,0);left: {{local.magikTarget.imagehotspot.left || '0%'}}; top:{{local.magikTarget.imagehotspot.top || '0%'}}; height:{{local.magikTarget.imagehotspot.height || '10%'}}; width: {{local.magikTarget.imagehotspot.width || '20%'}};background-size: 100% 100%;background-repeat: no-repeat;" >
                                <div style="height: 50px; padding: 4px; background: rgba(0,0,0,0.5);position: absolute; top:-5px;right: -26px;">
                                    <span class="glyphicon glyphicon-pencil" style="color: white;" ng-click="browseTemplates();$event.stopPropogation();"></span><br />
                                    <span class="glyphicon glyphicon-remove" style="color: white;margin-top:10px;" ng-click="removeTemplate()"></span>
                                </div>
                            </div>
                            <div class="videohotspot" style="width: 80%; position: relative; height: 40%; left: 5%; top: 10%; background: rgba(0,0,0,.7);" ng-if="local.magikTarget.augmenttype=='video' && local.magikTarget.videohotspot.url">
                                <!--video height="100% " width="100% " controls ng-if="local.magikTarget.videohotspot.url" poster="https://res.cloudinary.com/sensemagiktest/video/upload/c_scale,q_59,w_579/v1443260237/{{local.magikTarget.videohotspot.public_id}}.jpg">
                                    <source src="{{local.magikTarget.videohotspot.url}}" type="video/mp4 ">
                                </video-->
                                <iframe height="100% " width="100% =" allowfullscreen autoplay="false" controls ng-if="local.magikTarget.videohotspot.url" ng-src="{{local.magikTarget.videohotspot.url}}"></iframe>
                            </div>
                        </div>
                        <div ng-if="!backgroundLoaded" style="background:url({{preloader}});background-repeat: no-repeat;background-position: center top; height: 100px; width: 100px;background-size: contain; margin: 10px auto; overflow: hidden;position: relative;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="file" style="display:none;" id="file" nv-file-select uploader="imageuploader"/>
<input type="file" style="display:none;" id="videofile" nv-file-select uploader="videouploader"/>