<style>

.arrow_box_left {
    position: relative;
    background: #88b7d5;
    border: 4px solid #DF3F00;
    box-shadow: 2px 2px 20px black;
    -webkit-box-shadow: 2px 2px 20px black;
    -moz-box-shadow: 2px 2px 20px black;
    -o-box-shadow: 2px 2px 20px black;
}
.arrow_box_left:after, .arrow_box_left:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box_left:after {
    border-color: rgba(136, 183, 213, 0);
    border-right-color: white;
    border-width: 30px;
    margin-top: -30px;
}
.arrow_box_left:before {
    border-color: rgba(194, 225, 245, 0);
    border-right-color: #DF3F00;
    border-width: 36px;
    margin-top: -36px;
}

.arrow_box_right {
    position: relative;
    background: #ffffff;
    border: 4px solid #ffffff;
    box-shadow: -2px 2px 20px black;
    -webkit-box-shadow: -2px 2px 20px black;
    -moz-box-shadow: -2px 2px 20px black;
    -o-box-shadow: -2px 2px 20px black;
}
.arrow_box_right:after, .arrow_box_right:before {
    left: 97%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box_right:after {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #ffffff;
    border-width: 30px;
    margin-top: -29px;
}
.arrow_box_right:before {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #DF3F00;
    border-width: 32px;
    margin-top: -30px;
    z-index: 0;
}
.orange-bg{
    background:url('sensemagik-app//img/editor/editorbg1.png') #38033C;
    background-attachment: fixed;
}
.white-bg{
    background:white;
    
}
.list-section{
    border-top: 4px solid black;
}
.ngdialog.ngdialog-theme-default{
            padding-top: 95px;
        }
.ngdialog.ngdialog-theme-default .ngdialog-content{
    width:700px;
}
</style>
<div class="hide" ng-joy-ride="startJoyRide" config="config" on-finish="onFinish()"  on-skip="onFinish()"></div>
    <div class="container-fluid" style="min-height: 800px;background:white;">

        <div class="row orange-bg" style="padding-top:30px;">
            <div class="alert alert-danger" ng-if="magik.user.active==false" style="width:80%;text-align:center;display:block;margin-left:auto;margin-right:auto;margin-top:0;">
              <strong><span class="glyphicon glyphicon-alert"></span> Account not verified. </strong> Please verify your email address to avoid deactivation. <a ng-click="resendActivate()">Resend email</a>
            </div>
        </div>
        <div class="row orange-bg">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <h1 style="color: white;font-weight: bolder;text-align:center;">Dashboard</h1>
                    </div>
                    <div class="col-md-2 col-md-offset-7" style="padding-top: 30px;">
                        <button class="btn btn-default create-button" ui-sref="studio.new"><img ng-src="{{basePath}}/icons/rocket.png" style="height: 20px; width: 20px;" /> Create Magik</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row orange-bg" ng-animate="'animate'">
            <div class="col-md-12" style="text-align: center; color: white;">
                <h3>Welcome to SenseMagik Studio! Kickstart your Augmented Reality journey today!</h3>
            </div>
        </div>
        <div class="row orange-bg" style="padding-top: 20px;padding-bottom:20px;">
            <div class="col-md-2">
                <img ng-src="{{basePath}}/icons/teacher.png" style="height: 250px; width: 250px;" />
            </div>
            <div id="step1" class="col-md-3 col-md-offset-1 arrow_box_left" style="border: 3px solid #DF3F00; border-radius: 15px;min-height: 150px;background: white;padding: 20px;">
                <h4>Hey! Am Einstein , Wanna know how to use this Studio ?</h4>
                <button class="btn btn-default btn-sm pull-center" ui-sref="tutorial"><i class="fa fa-book"></i> Tutorial</button>
            </div>
            <div id="step2" class="col-md-2 col-md-offset-1 arrow_box_right" style="border: 3px solid #DF3F00; border-radius: 15px;min-height: 120px;background: white;" >
                <h4>No Thanks! Am an expert in it since last night</h4>
                <button class="btn btn-default" ui-sref="studio.new" style="margin-bottom: 5px;"><img ng-src="{{basePath}}/icons/rocket.png" style="height: 20px; width: 20px;" /> Start</button>
            </div>
            <div class="col-md-2">
                <img ng-src="{{basePath}}/icons/tony.png" style="height: 250px; width: 250px;" />
            </div>
        </div>
        <div class="row white-bg list-section" style="text-align: center; color: black;">
            <h3 ng-if="magik.targets.length > 0">Great !! You have created {{magik.targets.length}} Magik<span ng-if="magik.targets.length>1">s</span></h3>
            <h3 ng-if="magik.targets.length == 0">Start creating your Magik now !</h3>
        </div>
        <div class="row white-bg" ng-if="magik.targets.length > 0">
            <div class="col-md-2">
                
            </div>
            <div class="col-md-1 col-md-offset-9">
                <!--button class="btn btn-default pull-right"><span class="fa fa-dollar"></span> Upgrade</button-->
            </div>
        </div>
        <div class="row white-bg"  style="min-height: 100px; margin-bottom: 20px;padding-top: 30px;text-align:center;" ng-if="magik.targets.length < 1">
            <span class="fa fa-magic" style="font-size:200px;margin-top:30px;color:#F9DEAD !important;"></span>
        </div>
        <div class="row white-bg"  style="min-height: 100px; margin-bottom: 20px;padding-top: 20px;" ng-if="magik.targets.length > 0">
            <div class="col-md-3" ng-repeat="item in magik.targets" ng-if="listStyle=='box'" ng-animate="'animate'">
                <div class="panel panel-success panel-list">
                    <div class="panel-heading" style="background-color: #fff !important ; text-align: center;border-bottom: 1px solid goldenrod !important;">
                        <h4>{{item.name}}</h4>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-8 col-sm-offset-2" style="height: 100px;">
                            <cl-image public-id="{{item.public_id}}" format="png" style="display:block;margin-left:auto;margin-right:auto;">
                              <cl-transformation height="100" width="100" crop='pad' quality="20"/>
                            </cl-image>
                        </div>
                    </div>
                    <div class="panel-footer" style="text-align: center;background-color: #FFFFFF !important;">
                        <a ui-sref="studio.edit({id: item._id})" ng-if="item.published!='requesting' && item.published!='processing' && item.published !='success'" >  <span class="btn btn-sm btn-default"><span class="fa fa-pencil"></span> Edit</span>
                        </a>

                        <span class="btn btn-sm btn-default" ng-if="!item.published && !item.status" ng-click="magik.publish(item);"><span class="fa fa-cloud"></span> Publish</span>

                        <span class="btn btn-sm btn-default" ng-if="item.published=='duplicate'" style="background-color: red;color: white;" ng-click="showDuplicate()"><span class="fa fa-remove"></span> Duplicate</span>

                        <span class="btn btn-sm btn-default" style="background-color: orange;" ng-if="item.published=='processing'" disabled><i class="fa fa-spinner fa-pulse"></i> Processing</span>

                        <span class="btn btn-sm btn-default" style="background-color: orange;" ng-if="item.published=='requesting' || item.status=='processing'" disabled><i class="fa fa-spinner fa-pulse"></i> Requesting</span>

                        <span class="btn btn-sm btn-default"  style="background-color: #90FF90;" ng-if="item.published=='success'"><span class="fa fa-circle" style="color: green !important;"></span> Live</span>

                        <span class="btn btn-sm btn-danger" ng-if="item.published=='success'" ng-click="deleteVwsTarget(item)"><span class="fa fa-stop" ></span> STOP</span>

                        <span class="btn btn-sm btn-default" ng-if="!item.published || item.published=='success' || item.published=='duplicate'" ng-click="deleteTarget(item._id)"><span class="fa fa-trash-o" style="color: red !important;"></span></span>

                        <span class="btn btn-sm btn-default" ng-click="viewTarget(item.imgurl,item.public_id)"><span class="fa fa-expand"></span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script type="text/ng-template" id="enter-password">
    <h3><span class="fa fa-lock"></span> Set your password</h3><br /><br />
    <div class="row">
        <form class="col-md-10 col-md-offset-1">
            <div class="row">
                <input type="password" class="form-control" ng-model="password" placeholder="Password" />
            </div><br />
            <div class="row">
                <button class="btn btn-primary btn-block" ng-click="savePassword(password)">Save</button>
            </div>
        </form>
    </div>
</script>
<script type="text/ng-template" id="upgrade-error">
    <h3>Upgrade your plan for more MAGIKS</h3><br /><br />
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <button class="btn btn-default btn-block">VIEW PRICING</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="password-saved">
    <h4>Your password has been saved</h4>
</script>
<script type="text/ng-template" id="multiple-publish-error">
    <h4>Please wait for previous processes to complete</h4>
</script>
<script type="text/ng-template" id="complete-registration">
    <h4>Please complete your registration to continue</h4>
    <button class="btn btn-default" ui-sref="profile">Next</button>
</script>
<script type="text/ng-template" id="activate-error">
    <h4>Please verify your account to publish</h4>
</script>
<script type="text/ng-template" id="delete-magik">
    <h4>Deleting Magik. Please Wait</h4>
</script>
<script type="text/ng-template" id="view-target" class="preview">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            
            <cl-image public-id="{{ngDialogData.public_id}}" format="png" style="width:100%">
              <cl-transformation overlay="badge" gravity="south_east"/>
            </cl-image>
        </div>
    </div>
</script>

