<div class="row" style="padding-top:50px;padding-bottom:40px;min-height:500px; background:white;">
	<div class="col-md-5 col-md-offset-1">
		<h2 style="color: black;"><img ng-src="{{basePath}}/icons/rocket.png" style="height: 50px; width: 50px;" /> Create Magik  <sup class="fa fa-question-circle" popover-placement="right" popover="'Magik' denotes the target for Augmented Reality" popover-trigger="mouseenter" style="font-size:20px;color:black !important;"></sup></h2>
		<hr />
		<div nv-file-drop uploader="uploader">
			<div nv-file-over="" uploader="uploader" over-class="another-file-over-class" class="well my-drop-zone" style="text-align: center;color: #ddd; height: 200px; padding-top: 20px;background: url('{{basePath}}img/editor/editorbg.png') #C32020;">
				<h4>Drop your Image (Max: 5MB)</h4>
				<h5>{{file}}</h5>
				<h2 class="glyphicon glyphicon-cloud" ng-click="uploadImage()" style="color: white;font-size: 100px;text-shadow: 0px 0px 12px black;cursor:pointer;" popover-placement="right" popover="Click to choose file" popover-trigger="mouseenter"></h2>
				<input type="file" style="display:none;" id="file" nv-file-select uploader="uploader" ng-model="file"/>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-md-offset-1">
		<div class="panel panel-default" style="margin-top: 20px;">
			<div class="panel-heading" style="background-color: #fff !important ; text-align: center;border-bottom: 1px solid goldenrod !important;">
				<h4 style="text-align: center;">Instructions</h4>
			</div>
			<div class="panel-body">
				<ul class="list-group">
					<li class="list-group-item"><span class="fa fa-picture-o" style="margin-right:15px;"></span>Upload only .jpg & .png images </li>
					<li class="list-group-item"><span class="fa fa-square" style="margin-right:15px;"></span>Do not upload plain color images</li>
					<li class="list-group-item"><span class="fa fa-cube" style="margin-right:15px;"></span>Augmentation health for magik will be showed only after magik is published</li>
					<li class="list-group-item"><span class="fa fa-copy" style="margin-right:15px;"></span>Duplicate magik will be known only after publishing</li>
				</ul>
			</div>
		</div>
	</div>
</div>