<div class="modal-body" style="padding-bottom: 30px;">
	<h4 style="color: goldenrod;"><i style="font-size: 20px;color: goldenrod !important;" class="fa fa-cloud-upload"></i> PUBLISHING YOUR MAGIK</h4>
	<hr />
	<div class="row" style="text-align:center;">
		<h4 class="col-md-10 col-md-offset-1">Please be patient while your request has been queued. It will take <i>15 to 30 minutes</i> to reflect in SENSEMAGIK application</h4>
	</div>
	<div class="row" style="margin-top:20px;">
		<div class="col-md-8 col-md-offset-2" style="border: 1px solid #DAA542;border-radius: 10px;">
			<div class="row">
				<div class="col-md-2 col-md-offset-1">
					<span class="fa fa-mobile" style="font-size:130px !important;color:darkgoldenrod !important;"></span>
				</div>
				<div class="col-md-9">
					<h3 style="color:darkgoldenrod;">Download Sensemagik application to view the magik</h3>
				</div>
			</div>
		</div>
	</div>
	
</div>
