<div class="modal-header">
    <h3 class="modal-title" style="color: #A55B88 !important"><span class="fa fa-search"></span> Browse Templates </h3>
</div>
<div class="modal-body" ng-init="show=='templates'">
	<tabset justified="true">
    	<tab heading="Templates">
            <div class="row" ng-if="magik.templates.length < 1" style="text-align:center;">
                <span class="fa fa-picture-o" style="color: #666 !important;font-size:200px;"></span>
                <h4>No Templates Present</h4>
            </div>
    		<br />
            <div class="row" ng-if="magik.templates.length > 0">
                <div class="col-md-4">
                    <h4 style="text-align: center;">Categories</h4>
                    <div class="list-group" style="cursor:pointer">
                        <a class="list-group-item" ng-repeat="cat in magik.templatecategories" ng-click="magik.catid = cat._id"><span class="{{cat.icon}}"></span> {{cat.name}}</a>
                    </div>
                </div>
                <div class="col-md-8">
                <h4 style="text-align: center;">Templates</h4>
                    <div class="row well">
                        <div class="col-md-3" ng-repeat="item in magik.templates | filter:magik.catid" ng-click="magik.imagehotspotdata = item" >
                            <!--
                            <img src="{{item.url}}" height="100" width="100" class="thumbnail template-images" image-option style="cursor:pointer;" />
                            -->
                            <cl-image public-id="{{item.public_id}}" format="png" style="display:block;margin-left:auto;margin-right:auto;">
                              <cl-transformation height="100" width="100" crop='pad' quality="20"/>
                            </cl-image>
                        </div>
                    </div>
                </div>
                
            </div>
    	</tab>
        <tab heading="Gallery ({{magik.gallery.length}})">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-10 col-md-offset-1  well">
                    <div class="col-md-3" ng-if="magik.gallery.length > 0" ng-repeat="item in magik.gallery" ng-click="magik.imagehotspotdata = item" >
                        <!--img src="{{item.url}}" height="100" width="100" class="thumbnail template-images" image-option style="cursor:pointer;" /-->
                        <cl-image public-id="{{item.public_id}}" class="thumbnail template-images" image-option style="cursor:pointer;" format="png" style="display:block;margin-left:auto;margin-right:auto;">
                          <cl-transformation height="100" width="100" crop='pad' quality="20"/>
                        </cl-image>
                    </div>
                    <h3 ng-if="magik.gallery.length < 1">No Gallery found</h3>
                </div>
            </div>
        </tab>
    	<tab heading="Upload">
    		<div class="row" style="margin-top: 20px;">
    			<div class="col-sm-12">
                    <div nv-file-drop uploader="imageuploader"  ng-if="!isAnalysingImage">
                        <div nv-file-over="" uploader="imageuploader" over-class="another-file-over-class" class="well my-drop-zone" style="text-align: center;color: #ddd; height: 200px; padding-top: 20px;background: url('{{basePath}}img/editor/editorbg.png') #C32020;">
                            <h4>Drop your Image (Max: 5MB)</h4>
                            <h5>{{file}}</h5>
                            <h2 class="glyphicon glyphicon-cloud" ng-click="magik.uploadImage()" style="color: white;font-size: 100px;text-shadow: 0px 0px 12px black;cursor:pointer;" popover-placement="right" popover="Click to choose file" popover-trigger="mouseenter"></h2>
                        </div>
                    </div>
                    <div class="progress" ng-if="isAnalysingImage">
                      <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="{{ImageAnalysisProgress}}%" aria-valuemin="0" aria-valuemax="100" style="width: {{ImageAnalysisProgress}}%">
                        <span class="sr-only">100% Complete (success)</span>
                      </div>
                    </div>
                </div>
            </div>
    	</tab>
    </tabset>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="insertTemplate(magik.imagehotspotdata)"><span class="fa fa-smile-o"></span> Insert</button>
    <button class="btn btn-default" ng-click="cancel()"><span class="fa fa-remove"></span> Cancel</button>
</div>