<div class="modal-header">
	<h3 class="modal-title" style="color: #A55B88 !important">Insert Text</h3>
</div>
<div class="modal-body" ng-cloak>
	<div text-angular ng-model="local.magikTarget.texthotspots.value" >
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="addTextHotspot(local.magikTarget.texthotspots.value)"><span class="fa fa-smile-o"></span> Add</button>
    <button class="btn btn-default" ng-click="cancel()"><span class="fa fa-remove"></span>  Cancel</button>
</div>