<div class="modal-header"> 
    <h3 class="modal-title" style="color: #A55B88 !important"><span class="fa fa-film"></span> Video</h3>
</div>
<div class="modal-body">
    <tabset justified="true">
    	<tab heading="Templates">
    		<h4 ng-if="magik.videotemplates.length < 1">No Templates Present</h4>
            <br />
            <div class="row" ng-if="magik.videotemplates.length > 0">
                <div class="col-md-4">
                    <h4 style="text-align: center;">Categories</h4>
                    <div class="list-group" style="cursor:pointer">
                        <a class="list-group-item" ng-repeat="cat in magik.videotemplatecategories" ng-click="magik.catid = cat._id"><span class="{{cat.icon}}"></span> {{cat.name}}</a>
                    </div>
                </div>
                <div class="col-md-8">
                    <h4 style="text-align: center;">Templates</h4>
                    <h6 style="text-align: center;">(Note: Videos with green background will be rendered transparent in app)</h6>
                    <br />
                    <div class="row" ng-if="magik.videotemplates.length > 0" style="max-height: 400px; overflow: auto;">
                        <div class="col-md-3 thumbnail template-images" ng-click="magik.videohotspotdata = video" ng-repeat="video in magik.videotemplates | filter:magik.catid" image-option>
                            <img  class="thumbnail" style="display:block;margin-left:auto;margin-right:auto;" ng-src="http://res.cloudinary.com/sensemagik/video/upload/v1444969931/{{video.public_id}}.jpg" height="100" width="100%"/>
                            <div class="caption" style="text-align:center;">
                               <span> {{video.name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    	</tab>
        <tab heading="Videos ({{magik.videos.length}})">
            <h4 style="text-align: center;" ng-if="magik.videos.length < 1">No Templates Present</h4>
            <br />
            <div class="row" ng-if="magik.videos.length > 0" style="max-height: 400px; overflow: auto;">
                <div class="col-md-3" ng-repeat="video in magik.videos">
                    <img ng-click="magik.videohotspotdata = video" class="thumbnail template-images" image-option style="display:block;margin-left:auto;margin-right:auto;" ng-src="http://res.cloudinary.com/sensemagik/video/upload/v1444969931/{{video.public_id}}.jpg" height="100" width="100%"/>
	    		</div>
    		</div>
    	</tab>
    	<tab heading="Upload New">
    		<div class="row" style="margin-top: 20px;">
                <div class="col-sm-12">
                    <div nv-file-drop uploader="videouploader" ng-if="!isAnalysingVideo">
                        <div nv-file-over="" uploader="videouploader" over-class="another-file-over-class" class="well my-drop-zone" style="text-align: center;color: #ddd; height: 200px; padding-top: 20px;background: url('{{basePath}}img/editor/editorbg.png') #C32020;">
                            <h4>Drop your Video (Max: 20MB)(.mp4 only)</h4>
                            <h2 class="glyphicon glyphicon-cloud" ng-click="uploadVideo()" style="color: white;font-size: 100px;text-shadow: 0px 0px 12px black;cursor:pointer;" popover-placement="right" popover-html="<p style='color:black;'>Click to choose file</p>" popover-trigger="mouseenter"></h2>
                        </div>
                    </div>
                    <div class="progress" ng-if="isAnalysingVideo">
                      <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="{{videoAnalysisProgress}}%" aria-valuemin="0" aria-valuemax="100" style="width: {{videoAnalysisProgress}}%">
                        <span class="sr-only">100% Complete (success)</span>
                      </div>
                    </div>
                </div>
            </div>
    	</tab>
    </tabset>
</div>

<div class="modal-footer ">
	<button class="btn btn-default" ng-click="addVideoHotspot(magik.videohotspotdata) "><span class="fa fa-smile-o"></span> Insert</button>
    <button class="btn btn-default" ng-click="cancel()"><span class="fa fa-remove"></span> Cancel</button>
</div>
