<!DOCTYPE html>
<html ng-app="admin">
	<head>
		<link rel="stylesheet" type="text/css" href="<%=basePath%>css/adminstyle.css">
		<link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/angular-ui/build/angular-ui.css">
	    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/bootstrap/dist/css/bootstrap.css">
	    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/angular-xeditable/dist/css/xeditable.css">
	    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/ng-grid/ng-grid.css">
	    <link rel="stylesheet" type="text/css" href="<%=basePath%>js/angular-datepicker-master/dist/index.css">
	    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/fullcalendar/fullcalendar.css" />
	    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css">
	    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/ng-table/dist/ng-table.css">
	    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/ng-tags-input/ng-tags-input.css">
	    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/angular-chart.js/dist/angular-chart.css">
	    <link rel='stylesheet' type="text/css" href='<%=basePath%>css/font-awesome/css/font-awesome.css'>
	    <link rel='stylesheet' type="text/css" href='<%=basePath%>bower_components/textAngular/src/textAngular.css'>
	    <link rel='stylesheet' type="text/css" href='<%=basePath%>bower_components/ngtoast/dist/ngToast.css'>
	    <link rel='stylesheet' type="text/css" href='<%=basePath%>bower_components/ngtoast/dist/ngToast-animations.css'>
	    <link rel='stylesheet' type="text/css" href='<%=basePath%>bower_components/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.css'>
	    <link rel='stylesheet' type="text/css" href='<%=basePath%>bower_components/angular-loading-bar/build/loading-bar.css'>
	    <link rel='stylesheet' type="text/css" href='<%=basePath%>bower_components/angular-ui-notification/dist/angular-ui-notification.min.css'>
	    <link rel='stylesheet' type="text/css" href='<%=basePath%>bower_components/ngDialog/css/ngDialog.css'>
	    <link rel='stylesheet' type="text/css" href='<%=basePath%>bower_components/ngDialog/css/ngDialog-theme-default.css'>
	    <link rel="stylesheet" type="text/css" href="<%=basePath%>lib/plans/master.css">
	    <style>
	        [ng\: cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	            display: none !important;
	        }
    	</style>
	</head>
	<body>

		<ui-view></ui-view>


		<!-- Libraries used in this app -->
    <script type="text/javascript" src="<%=basePath%>bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-xeditable/dist/js/xeditable.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/ng-grid/ng-grid-2.0.14.min.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/lodash/dist/lodash.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/restangular/dist/restangular.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-ui-calendar/src/calendar.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/fullcalendar/fullcalendar.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/fullcalendar/gcal.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="<%=basePath%>js/angular-datepicker-master/dist/index.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/ng-table/dist/ng-table.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/ng-table-export/ng-table-export.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/ng-tags-input/ng-tags-input.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-file-upload/angular-file-upload.min.js">
    </script>
    <script type="text/javascript" src="<%=basePath%>bower_components/Chart.js/Chart.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-chart.js/dist/angular-chart.js"></script>
    <script type="text/javascript" src='<%=basePath%>bower_components/textAngular/dist/textAngular-rangy.min.js'></script>
    <script type="text/javascript" src='<%=basePath%>bower_components/textAngular/dist/textAngular-sanitize.min.js'></script>
    <script type="text/javascript" src='<%=basePath%>bower_components/textAngular/dist/textAngular.min.js'></script>
    <script type="text/javascript" src='<%=basePath%>bower_components/angular-animate/angular-animate.js'></script>
    <script type="text/javascript" src='<%=basePath%>bower_components/ngtoast/dist/ngToast.js'></script>
    <script type="text/javascript" src='<%=basePath%>bower_components/moment/moment.js'></script>
    <script type="text/javascript" src='<%=basePath%>bower_components/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.js'></script>
    <script type="text/javascript" src='<%=basePath%>bower_components/angular-loading-bar/build/loading-bar.js'></script>
    <script src="<%=basePath%>bower_components/angular-fontselect/dist/libs/webfontloader.js"></script>
    <script src="<%=basePath%>bower_components/angular-fontselect/dist/angular-fontselect.js"></script>
    <script src="<%=basePath%>bower_components/ng-context-menu/dist/ng-context-menu.js"></script>
    <script src="<%=basePath%>bower_components/wiz-validation/wizValidation/wizValidation.js"></script>
    <script src="<%=basePath%>bower_components/angular-ui-notification/dist/angular-ui-notification.min.js"></script>
    <script src="<%=basePath%>bower_components/ngDialog/js/ngDialog.js"></script>
    <script src="<%=basePath%>bower_components/satellizer/satellizer.js"></script>
    <script>
        angular.module('admin.appConfig', []).
        provider("config", function() {
            this.config = {
                basePath: '<%=basePath%>',
                token: '<%=token%>',
                api: '<%=api%>',
                uploadUrl: 'https://api.cloudinary.com/v1_1/sensemagik/upload',
                uploadPreset: 'kspknm67'
                
            };
            this.$get = function() {
                return this.config;
            };
        });
    </script>
    <!-- local files-->
    <script type="text/javascript" src="<%=basePath%>admin/admin.js"></script>
    <script type="text/javascript" src="<%=basePath%>admin/controllers/dashboard.js"></script>
    <script type="text/javascript" src="<%=basePath%>admin/controllers/videotemplate.js"></script>

	</body>
</html>