<div class="row" style="min-height: 100px;background:url({{basePath}}/img/editor/editorbg.png) #84511A;color:white; text-align:center;font-weight:bolder">
	<h2 style="font-weight:bolder;"><span class="fa fa-desktop" style="color:white !important;"></span> HELP CENTER</h2>
</div>
<div class="container-fluid" style="min-height: 500px;background:white;padding-top: 20px;">
  <div class="row" style="margin-top: 20px;">
  	<div class="col-md-12">
  		<tabset style="color:black !important;">
  			<tab heading="Ask your query">
				<form class="form-horizontal" style="margin-top:30px;">
					<div class="col-md-6">
	  					<div class="form-group">
	  						<div class="col-sm-2">
	  							<label>Name: </label>
	  						</div>
	  						<div class="col-sm-10">
	  							<input type="text" class="form-control" style="color:black;" />
	  						</div>
	  					</div>
	  					<div class="form-group">
	  						<div class="col-sm-2">
	  							<label>Email: </label>
	  						</div>
	  						<div class="col-sm-10">
	  							<input type="email" class="form-control" style="color:black;" />
	  						</div>
	  					</div>
	  					<div class="form-group">
	  						<div class="col-sm-2">
	  							<label>Contact : </label>
	  						</div>
	  						<div class="col-sm-10">
	  							<input type="text" class="form-control" style="color:black;" />
	  						</div>
	  					</div>
	  					<div class="form-group">
	  						<div class="col-sm-12">
	  							<button class="btn btn-block btn-success">SUBMIT</button>
	  						</div>
	  					</div>
	  				</div>
	  				<div class="col-md-6">
	  					<div class="form-group">
	  						<div class="col-sm-2">
	  							<label>Query Description: </label>
	  						</div>
	  						<div class="col-sm-10">
	  							<textarea class="form-control" style="color:black;" rows="10"></textarea>
	  						</div>
	  					</div>
	  				</div>
  				</form>
  			</tab>
  			<tab heading="Report an issue">
  				<form class="form-horizontal" style="margin-top:30px;">
					<div class="col-md-6">
	  					<div class="form-group">
	  						<div class="col-sm-2">
	  							<label>Name: </label>
	  						</div>
	  						<div class="col-sm-10">
	  							<input type="text" class="form-control" style="color:black;" />
	  						</div>
	  					</div>
	  					<div class="form-group">
	  						<div class="col-sm-2">
	  							<label>Email: </label>
	  						</div>
	  						<div class="col-sm-10">
	  							<input type="email" class="form-control" style="color:black;" />
	  						</div>
	  					</div>
	  					<div class="form-group">
	  						<div class="col-sm-2">
	  							<label>Contact : </label>
	  						</div>
	  						<div class="col-sm-10">
	  							<input type="text" class="form-control" style="color:black;" />
	  						</div>
	  					</div>
	  					<div class="form-group">
	  						<div class="col-sm-12">
	  							<button class="btn btn-block btn-success">SUBMIT</button>
	  						</div>
	  					</div>
	  				</div>
	  				<div class="col-md-6">
	  					<div class="form-group">
	  						<div class="col-sm-2">
	  							<label>Issue Description: </label>
	  						</div>
	  						<div class="col-sm-10">
	  							<textarea class="form-control" style="color:black;" rows="10"></textarea>
	  						</div>
	  					</div>
	  				</div>
  				</form>
  			</tab>
  			<tab heading="Contact Sales & Marketing">
  				<form class="form-horizontal" style="margin-top:30px;">
					<div class="col-md-6">
	  					<div class="form-group">
	  						<div class="col-sm-2">
	  							<label>Name: </label>
	  						</div>
	  						<div class="col-sm-10">
	  							<input type="text" class="form-control" style="color:black;" />
	  						</div>
	  					</div>
	  					<div class="form-group">
	  						<div class="col-sm-2">
	  							<label>Email: </label>
	  						</div>
	  						<div class="col-sm-10">
	  							<input type="email" class="form-control" style="color:black;" />
	  						</div>
	  					</div>
	  					<div class="form-group">
	  						<div class="col-sm-2">
	  							<label>Contact : </label>
	  						</div>
	  						<div class="col-sm-10">
	  							<input type="text" class="form-control" style="color:black;" />
	  						</div>
	  					</div>
	  					<div class="form-group">
	  						<div class="col-sm-12">
	  							<button class="btn btn-block btn-success">SUBMIT</button>
	  						</div>
	  					</div>
	  				</div>
	  				<div class="col-md-6">
	  					<div class="form-group">
	  						<div class="col-sm-2">
	  							<label>Description: </label>
	  						</div>
	  						<div class="col-sm-10">
	  							<textarea class="form-control" style="color:black;" rows="10"></textarea>
	  						</div>
	  					</div>
	  				</div>
  				</form>	
  			</tab>
  		</tabset>
  	</div>
  </div>
</div>