<div class="container-fluid">
	<div class="row" style="background: white !important;">
		<h3>SenseMagik Admin</h3>
	</div>
	<div class="row">
		<div class="col-md-1" style="height: 100vh; background: black;">
			<div class="row" ui-sref-active="active arrow" style="text-align:center;margin-top: 0px;padding-top: 15px;padding-bottom: 15px;">
				<a ui-sref="dashboard.stats"><h3 class="glyphicon glyphicon-home" style="color: white;"></h3></a>
			</div>
			<div class="row" ui-sref-active="active" style="text-align:center;padding-top: 15px;padding-bottom: 15px;">
				<a ui-sref="dashboard.users"><h3 class="glyphicon glyphicon-user" style="color: white;"></h3></a>
			</div>
			<div class="row" ui-sref-active="active" style="text-align:center;padding-top: 15px;padding-bottom: 15px;">
				<a ui-sref="dashboard.pricing"><h3 class="fa fa-dollar" style="color: white;font-size: 25px;"></h3></a>
			</div>
			<div class="row" ui-sref-active="active" style="text-align:center;padding-top: 15px;padding-bottom: 15px;">
				<a ui-sref="dashboard.templates"><h3 class="glyphicon glyphicon-th-list" style="color: white;"></h3></a>
			</div>
			<div class="row" ui-sref-active="active" style="text-align:center;padding-top: 15px;padding-bottom: 15px;">
				<a ui-sref="dashboard.templatecategories"><h3 class="glyphicon glyphicon-th-large" style="color: white;"></h3></a>
			</div>
			<div class="row" ui-sref-active="active" style="text-align:center;padding-top: 15px;padding-bottom: 15px;">
				<a ui-sref="dashboard.videotemplates"><h3 class="glyphicon glyphicon-film" style="color: white;"></h3></a>
			</div>
			<div class="row" ui-sref-active="active" style="text-align:center;padding-top: 15px;padding-bottom: 15px;">
				<a ui-sref="dashboard.videotemplatecategories"><h3 class="glyphicon glyphicon-film" style="color: white;"></h3></a>
			</div>
			<div class="row" ui-sref-active="active" style="text-align:center;padding-top: 15px;padding-bottom: 15px;">
				<a ui-sref="dashboard.invite"><h3 class="glyphicon glyphicon-envelope" style="color: white;"></h3></a>
			</div>
		</div>
		<div class="col-md-9 col-md-offset-1 info-column">
			<ui-view></ui-view>
		</div>
	</div>
</div>