<div class="row" style="color: white;">
	<h3 style="font-weight: bolder; text-transform: uppercase;"><span class="fa fa-envelope"></span> Invite Email Template</h3>
</div>
<div class="panel panel-default">
	<div class="panel-body">
		<div text-angular ng-model="magikTarget.texthotspots.value" >
		</div>
	</div>
	<div class="panel-footer">
		<button class="btn btn-default">Save</button>
	</div>
</div>
