<div class="row" style="color: white;">
	<h3 style="font-weight: bolder; text-transform: uppercase;"><span class="fa fa-dollar"></span> Pricing</h3>
</div>
<div class="row" style="max-height: 500px; overflow-y:auto; overflow-x:hidden;">
	<form class="form-horizontal">
		<h4>Free Plan</h4>
		<div class="form-group">
			<label class="col-sm-2">Live</label>
			<div class="col-sm-10">
				<input type="number" class="form-control" ng-model="magik.pricing.free.live"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2">Revisions</label>
			<div class="col-sm-10">
				<input type="number" class="form-control" ng-model="magik.pricing.free.revisions"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2">Views</label>
			<div class="col-sm-10">
				<input type="number" class="form-control" ng-model="magik.pricing.free.views"/>
			</div>
		</div>

		<hr />

		<h4>Bronze Plan</h4>
		<div class="form-group">
			<label class="col-sm-2">Live</label>
			<div class="col-sm-10">
				<input type="number" class="form-control" ng-model="magik.pricing.bronze.live"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2">Revisions</label>
			<div class="col-sm-10">
				<input type="number" class="form-control" ng-model="magik.pricing.bronze.revisions"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2">Views</label>
			<div class="col-sm-10">
				<input type="number" class="form-control" ng-model="magik.pricing.bronze.views"/>
			</div>
		</div>

		<hr />
		<h4>Silver Plan</h4>
		<div class="form-group">
			<label class="col-sm-2">Live</label>
			<div class="col-sm-10">
				<input type="number" class="form-control" ng-model="magik.pricing.silver.live"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2">Revisions</label>
			<div class="col-sm-10">
				<input type="number" class="form-control" ng-model="magik.pricing.silver.revisions"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2">Views</label>
			<div class="col-sm-10">
				<input type="number" class="form-control" ng-model="magik.pricing.silver.views"/>
			</div>
		</div>
		<hr />

		<h4>Gold Plan</h4>
		<div class="form-group">
			<label class="col-sm-2">Live</label>
			<div class="col-sm-10">
				<input type="number" class="form-control" ng-model="magik.pricing.gold.live"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2">Revisions</label>
			<div class="col-sm-10">
				<input type="number" class="form-control" ng-model="magik.pricing.gold.revisions"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2">Views</label>
			<div class="col-sm-10">
				<input type="number" class="form-control" ng-model="magik.pricing.gold.views"/>
			</div>
		</div>
		<div class="form-group" style="text-align:center;">
			<button class="btn btn-default" ng-click="savePricing()" ng-if="magik.pricingisPresent">UPDATE</button>
			<button class="btn btn-default" ng-click="addPricing()" ng-if="!magik.pricingisPresent">ADD</button>
		</div>
	</form>
</div>