<div class="row" style="color: white;">
	<h3 style="font-weight: bolder; text-transform: uppercase;"><span class="glyphicon glyphicon-stats"></span> Stats</h3>
</div>
<div class="row">
	<h4>No of Users: {{magik.users.length}}</h4>
	<h4>No of Templates: {{magik.templates.length}}</h4>
	<h4>No of Template Categories: {{magik.templatecategories.length}}</h4>
	<h4>No of subscribers: {{magik.subscribers.length}}</h4>
</div>
<div class="row">
	<h3>SUBSCRIBERS    <a style="color:white;font-size: 17px;"><span class="glyphicon glyphicon-envelope"></span> MAIL</a></h3>
	<div class="row">
		<ul>
			<li ng-repeat="email in magik.subscribers">{{email.email}}</li>
		</ul>
	</div>
</div>
