<div class="row" style="color: white;">
	<h3>Templates <span class="btn btn-xs btn-primary" ng-click="addTemplateModal()"><span class="glyphicon glyphicon-plus"></span> Add</span></h3>
</div>
<div class="row">
	<div class="list-group" style="max-height: 500px; overflow: auto;">
		<div class="list-group-item" ng-repeat="item in magik.templates">
			<div class="row">
				<div class="col-md-3">
					<img src="{{item.url}}" style="height: 100px; width: 120px;" />
				</div>
				<div class="col-md-5">
					<h4>{{item.name}}</h4>
				</div>
				<div class="col-md-2">
					<select class="form-control" ng-model="item.cat_id" ng-change="editTemplate(item)">
						<option ng-selected="category._id == item.cat_id"  ng-repeat="category in magik.templatecategories" value="{{category._id}}">{{category.name}}</option>
					</select>
				</div>
				<div class="col-md-2">
					<span class="btn btn-sm btn-danger" ng-click="deleteTemplate(item)"><span class="fa fa-remove"></span> Delete</span>
				</div>
			</div>
		</div>
	</div>
</div>