<div class="row" style="color: white;">
	<h3>Users</h3>
</div>
<div class="row">
	<div class="col-md-4">
		<input type="text" class="form-control" ng-model="userdetail.name" placeholder="NAME" />
	</div>
	<div class="col-md-2">
		<button class="btn btn-block btn-default" ng-click="userdetail.plan='free'">FREE</button>
	</div>
	<div class="col-md-2">
		<button class="btn btn-block btn-default" ng-click="userdetail.plan='bronze'">BRONZE</button>
	</div>
	<div class="col-md-2">
		<button class="btn btn-block btn-default" ng-click="userdetail.plan='gold'">SILVER</button>
	</div>
	<div class="col-md-2">
		<button class="btn btn-block btn-default" ng-click="userdetail.plan='gold'">GOLD</button>
	</div>
</div>
<div class="row" style="margin-top: 10px;">
	<div class="col-md-6">
		<input type="text" class="form-control" placeholder="EMAIL" ng-model="userdetail.email"/>
	</div>
	<div class="col-md-6">
		<button class="btn btn-block btn-primary" >EMAIL ALL</button>
	</div>
</div>
<div class="row" style="margin-top: 20px;">
	<table class="table" style="background:white !important; color:black;text-align:center;">
		<tr style="text-align:center;">
			<th>SNO</th>
			<th>NAME</th>
			<th>EMAIL</th>
			<th>PLAN</th>
		</tr>
		<tr ng-repeat="user in magik.users | filter:userdetail">
			<td>{{$index+1}}</td>
			<td>{{user.name}}</td>
			<td>{{user.email}}</td>
			<td>{{user.plan}}</td>
			<td><span class="glyphicon glyphicon-new-window" ng-click="showUserData(user)"></span></td>
		</tr>
	</table>
</div>