<div class="row" style="color: white;">
	<h3>Video Template Categories</h3>
</div>
<div class="row">
	<div class="row">
		<div class="col-md-3" style="text-align: center;"><h4>Category Name</h4></div>
		<div class="col-md-5"><input type="text" style="width: 100%;" class="form-control" ng-model="categoryname"></div>
		<div class="col-md-2"><input type="text" style="width: 100%;" class="form-control" placeholder="Icon" ng-model="categoryicon"/></div>
		<div class="col-md-2"><button class="btn btn-default btn-block" ng-click="addCategory(categoryname,categoryicon)"><span class="fa fa-plus"></span> Add</button></div>
	</div>
	<div class="row"  style="margin-top: 20px;color:black;">
		<table ng-table="tableParamss" template-pagination="custom/pager" class="table table-hover table-bordered" style="width: 90%; margin-left: 30px;text-align: center;background: white !important;">
			<tr ng-repeat="item in $data" ng-repeat="item in magik.videotemplatecategories">
				<td data-title="'SNo'" width="50">
					<span>{{$index + 1}}</span>
				</td>
				<td data-title="'Name'" width="200">
					<span ng-if="!item.$edit"><span class="{{item.icon}}"></span>  {{item.name}}</span>
					<span ng-if="item.$edit">
						<input type="text" ng-model="item.icon" placeholder="icon" />
						<input type="text" ng-model="item.name" placeholder="Name" />
					</span>
				</td>
				<td data-title="''" width="200">
					<span class="btn btn-default btn-sm" ng-if="!item.$edit" ng-click="item.$edit = true"><span class="fa fa-pencil"></span>  Edit</span>
					<span class="btn btn-default btn-sm" ng-if="item.$edit" ng-click="item.$edit = false;editCategory(item);"><span class="fa fa-pencil"></span>  Ok</span>
					<span class="btn btn-danger btn-sm" ng-click="deleteCategory(item._id)"><span class="fa fa-trash"></span></span>
				</td>
			</tr>
		</table>
	</div>
	
</div>