<div class="row" style="color: white;">
	<h3>Video Templates <span class="btn btn-xs btn-primary" ng-click="addVideoTemplateModal()"><span class="glyphicon glyphicon-plus"></span> Add</span></h3>
</div>
<div class="row">
	<div class="list-group" style="max-height: 500px; overflow: auto;color:black;">
		<div class="list-group-item" ng-repeat="item in magik.videotemplates">
			<div class="row">
				<div class="col-md-1">
					<h3 style="color:black;">{{$index + 1}}</h3>
				</div>
				<div class="col-md-4">
					<img class="thumbnail template-images" image-option style="" ng-src="http://res.cloudinary.com/sensemagik/video/upload/v1444969931/{{item.public_id}}.jpg" height="100" width="100%"/>
    				<input type="text" ng-model="item.name"  ng-change="editTemplate(item)">
				</div>
				<div class="col-md-3">
					<span style="color:black;">Transparent</span>
					<input type="checkbox" class="form-control" ng-model="item.transparency" ng-change="editTemplate(item)"/>
				</div>
				<div class="col-md-2">
					<select class="form-control" ng-model="item.cat_id" ng-change="editTemplate(item)">
						<option ng-selected="category._id == item.cat_id"  ng-repeat="category in magik.videotemplatecategories" value="{{category._id}}">{{category.name}}</option>
					</select>
				</div>
				<div class="col-md-2">
					<span class="btn btn-sm btn-danger" ng-click="deleteTemplate(item)"><span class="fa fa-remove"></span> Delete</span>
				</div>
			</div>
		</div>
	</div>
</div>