<!DOCTYPE html>
<html ng-app>

<head>
    <title>Company | Sensemagik Studio</title>
    <meta name="description" content="Sensemagik studio allows you to create image and video augmented reality online" />
    <meta name="keywords" content="augmented reality, AR in chennai, augmented reality company, augmented reality company chennai,Augmented reality in india,image augmentation, video augmentation,create augmented reality online" />
    <meta name="author" content="metatags generator">
    <meta name="robots" content="index, follow">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>css/style.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>css/loginstyle.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/angular-ui/build/angular-ui.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/angular-xeditable/dist/css/xeditable.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/ng-grid/ng-grid.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>js/angular-datepicker-master/dist/index.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/fullcalendar/fullcalendar.css" />
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/ng-table/dist/ng-table.css">
    <link rel='stylesheet' type="text/css" href='<%=basePath%>bower_components/angular-ui-notification/dist/angular-ui-notification.min.css'>
    <link rel='stylesheet' type="text/css" href='<%=basePath%>css/font-awesome/css/font-awesome.css'>
    <link rel='stylesheet' type="text/css" href='<%=basePath%>lib/plans/css/colorfultpt.css'>
    <style>
        .part-2 div h3{
            font-weight:bolder;
        }
        .part-2 div p{
            font-size:20px;
            line-height: 1.3;
        }
    </style>
</head>
<!--Navbar-->

<body class="login-body">
    <nav class="navbar navbar-default login-navbar" style="margin-bottom: 0px !important; background: rgba(0,0,0,0.5) !important; ">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" style="color: white;" href="/"><span style="font-weight: bolder;">SENSEMAGIK</span> Studio <sup style="color:orange;font-weight:bold;">BETA</sup></a>
            </div>
            <div class="navbar-right">
                <h4><a style="color:white !important;" href="/login" class="fa fa-arrow-circle-left"> Back to home</a></h4>
            </div>

        </div>
    </nav>

    <!--Signup Part-->
    <div class="row" style="min-height: 100px;background:url(<%=basePath%>/img/editor/editorbg1.png) #38033C;color:white; text-align:center;font-weight:bolder">
            <h2 style="font-weight:bolder;">COMPANY</h2>
        </div>
    <div class="container-fluid" style="background:white;min-height: 500px;">
        <div class="row" style="padding-top:30px;">
            <div class="row" style="text-align:center;">
                <p class="col-md-10 col-md-offset-1" style="font-size:20px;line-height:1.5;">
                    SenseMagik is a startup based in Chennai with team of passionate youths who has keen interest in exploring different ways for providing professional technical service to customers. We have started the company seeding the Augmented Reality Technology and implementing them in various sections of market. We also provide personalized application for the customers based on the requirements. 

                </p>
                <img src="<%=basePath%>img/logos/sensemagik-orange.png" style="display:block;margin-top:180px;margin-left:auto;margin-right:auto;margin-bottom:50px;width: 300px;opacity:0.9;"/>
            </div>
            <div class="row part-2" style="text-align:center;margin-bottom:80px;">
                <div class="col-md-10 col-md-offset-1">
                    <h3>Business to Business Service</h3>
                    <p>
                        We provide augmented reality and related services for any businesses. Requirement for Augmented reality services is increasing world wide in different sectors of business and skilled companies in this particular domain is comparatively low. SenseMagik Technologies does lots of research in Augmented Reality technology to provide best possible invention to the businesses. 
                    </p>
                    <h3>Business to Consumer Service</h3>
                    <p>
                        We also provide augmented reality services directly to customers through producing augmented Invitation cards, greeting cards etc .. We interact directly with the customers and satisfy them by producing and delivering the service on time. We believe our success lies in delivery quality service and on-time delivery.
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <!--Footer-->

    <ng-include src="'<%=basePath%>templates/footer.html'" onload="basePath = '<%=basePath%>'"></ng-include>
    <!-- Libraries used in this app -->
    <script type="text/javascript" src="<%=basePath%>bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-xeditable/dist/js/xeditable.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/ng-grid/ng-grid-2.0.14.min.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/lodash/dist/lodash.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/restangular/dist/restangular.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-ui-calendar/src/calendar.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/fullcalendar/fullcalendar.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/fullcalendar/gcal.js"></script>
    <script type="text/javascript" src="<%=basePath%>js/angular-datepicker-master/dist/index.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/ng-table/dist/ng-table.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/ng-table-export/ng-table-export.js"></script>
    <script src="<%=basePath%>bower_components/ng-context-menu/dist/ng-context-menu.js"></script>
    <script src="<%=basePath%>bower_components/wiz-validation/wizValidation/wizValidation.js"></script>
    <script src="<%=basePath%>bower_components/angular-ui-notification/dist/angular-ui-notification.min.js"></script>
    <script src="<%=basePath%>bower_components/satellizer/satellizer.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-animate/angular-animate.min.js"></script>
    <!-- Lib Ends -->


    <!-- Local file dependencies-->
    <script type="text/javascript" src="<%=basePath%>js/app.js"></script>
    <script type="text/javascript" src="<%=basePath%>js/nav.js"></script>
    <script type="text/javascript" src="<%=basePath%>js/LoginController.js"></script>
    

    <!--script type="text/javascript" src="js/modules/directives/"></script-->
</body>

</html>