<!DOCTYPE html>
<html ng-app="loginExtra">

<head>
    <title>Contact | Sensemagik Studio</title>
    <meta name="description" content="Sensemagik studio allows you to create image and video augmented reality online. Details of company are present in this page" />
    <meta name="keywords" content="augmented reality, AR in chennai, augmented reality company, augmented reality company chennai,Augmented reality in india,image augmentation, video augmentation,create augmented reality online" />
    <meta name="author" content="metatags generator">
    <meta name="robots" content="index, follow">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>css/style.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>css/loginstyle.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/angular-ui/build/angular-ui.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/angular-xeditable/dist/css/xeditable.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/ng-grid/ng-grid.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>js/angular-datepicker-master/dist/index.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/fullcalendar/fullcalendar.css" />
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/ng-table/dist/ng-table.css">
    <link rel='stylesheet' type="text/css" href='<%=basePath%>bower_components/angular-ui-notification/dist/angular-ui-notification.min.css'>
    <link rel='stylesheet' type="text/css" href='<%=basePath%>css/font-awesome/css/font-awesome.css'>
    <link rel='stylesheet' type="text/css" href='<%=basePath%>lib/plans/css/colorfultpt.css'>
</head>
<!--Navbar-->

<body class="login-body" ng-controller="extraController">
    <nav class="navbar navbar-default login-navbar" style="margin-bottom: 0px !important; background: rgba(0,0,0,0.5) !important; ">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" style="color: white;" href="/"><span style="font-weight: bolder;">SENSEMAGIK</span> Studio <sup style="color:orange;font-weight:bold;">BETA</sup></a>
            </div>
            <div class="navbar-right">
                <h4><a style="color:white !important;" href="/login" class="fa fa-arrow-circle-left"> Back to home</a></h4>
            </div>
        </div>
    </nav>

    <!--Signup Part-->
    <div class="row" style="min-height: 100px;background:url(<%=basePath%>/img/editor/editorbg1.png) #38033C;color:white; text-align:center;font-weight:bolder">
        <h2 style="font-weight:bolder;">CONTACT</h2>
    </div>
    <div class="container-fluid" style="background:white;min-height: 500px;padding-top:30px;">
        <div class="row">
            <form class="panel panel-body" ng-if="!feedbackSent">
                <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                        <h4>Name</h4>
                    </div>
                    <div class="col-md-3">
                        <input type="text" ng-model="feedback.name" class="form-control" placeholder="Enter your name" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                        <h4>Email</h4>
                    </div>
                    <div class="col-md-3">
                        <input type="text" ng-model="feedback.email" class="form-control" placeholder="Enter your email" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                        <h4 ng-click="clicked()">Message</h4>
                    </div>
                    <div class="col-md-3">
                        <textarea type="text" rows="10" class="form-control" ng-model="feedback.message" placeholder="Enter your Message"></textarea>
                    </div>
                </div>
                <div class="row" style="margin-top:30px;">
                    <div class="col-md-3 col-md-offset-6">
                        <button class="btn btn-default btn-block" ng-click="sendFeedback(feedback)"><span class="fa fa-send"></span> SEND</button>
                    </div>
                </div>
            </form>
            <h3 style="text-align:center;" ng-if="feedbackSent"> Thanks for contacting us. We will get back to you soon. </h3>
        </div>
    </div>
    <!--Footer-->

    <ng-include src="'<%=basePath%>templates/footer.html'" onload="basePath = '<%=basePath%>'"></ng-include>
    <!-- Libraries used in this app -->
    <script type="text/javascript" src="<%=basePath%>bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-xeditable/dist/js/xeditable.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/ng-grid/ng-grid-2.0.14.min.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/lodash/dist/lodash.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/restangular/dist/restangular.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-ui-calendar/src/calendar.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/fullcalendar/fullcalendar.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/fullcalendar/gcal.js"></script>
    <script type="text/javascript" src="<%=basePath%>js/angular-datepicker-master/dist/index.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/ng-table/dist/ng-table.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/ng-table-export/ng-table-export.js"></script>
    <script src="<%=basePath%>bower_components/ng-context-menu/dist/ng-context-menu.js"></script>
    <script src="<%=basePath%>bower_components/wiz-validation/wizValidation/wizValidation.js"></script>
    <script src="<%=basePath%>bower_components/angular-ui-notification/dist/angular-ui-notification.min.js"></script>
    <script src="<%=basePath%>bower_components/satellizer/satellizer.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-animate/angular-animate.min.js"></script>
    <!-- Lib Ends -->


    <!-- Local file dependencies-->
    <script type="text/javascript" src="<%=basePath%>js/app.js"></script>
    <script type="text/javascript" src="<%=basePath%>js/nav.js"></script>
    <script type="text/javascript" src="<%=basePath%>js/LoginController.js"></script>
    

    <!--script type="text/javascript" src="js/modules/directives/"></script-->
</body>

</html>