<!DOCTYPE html>
<html>
	<head>
    	<link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/bootstrap/dist/css/bootstrap.css">
	</head>
	<body>
		<div class="container">
			<div class="row" style="margin-top:100px;">
				<div class="col-md-8 col-md-offset-2 panel panel-default" style="min-height:300px;">
					<div class="panel-body">
						<div class="row">
							<img src="<%=basePath%>img/logos/sensemagik-orange.png" style="height:100px;display:block;margin:0 auto;">
						</div>
						<h4>Choose your password</h4>
						<form class="row">
							<div class="form-group">
								<input type="password" class="form-control" id="password1" name="password1" placeholder="Password" />
							</div>
							<div class="form-group">
								<input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm Password" />
							</div>
							<div class="form-group">
								<input onclick="changePassword()" value="submit" class="btn btn-block btn-success" />
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="<%=basePath%>bower_components/jquery/dist/jquery.js"></script>
		<script>
			function changePassword(){
				console.log('oass');
				var password1 = $('#password1')[0].value;
				var password2 = $('#password2')[0].value;
				if(password1===password2){
					$.ajax({
						method: 'POST',
						url: '/savepassword'
					})
				}else{
					alert('Password mismatch');
				}
			}
		</script>
	</body>
</html>