<footer style="min-height: 200px; background:url('{{basePath}}img/editor/editorbg1.png') #38033C !important;color: #A7A2A2 !important;">
        <div class="container">
            <div class="row">
                <div class="col-md-3" style="height: 128px;padding-top:20px;">
                    <img src="{{basePath}}img/logos/sensemagik-orange.png" style="width: 100%;">
                </div>
                <div class="col-md-9" style="color: whitesmoke;">
                    <h4 style="color: #A7A2A2 !important;margin-top: 25px;line-height: 1.8;"> <span style="font-weight: bolder;color:white !important;">SenseMagik Studio</span> is a cloud-based do-it-yourself (#DIY) Agumented Reality software that offers quality professional tools within reach of everyone. It helps to create Augmemted reality images,videos like never before.</h4>
                </div>
            </div>
            <div class="row" style="color: #A7A2A2 !important;">
                <div class="col-md-4 footer-links" style="color: #A7A2A2;">
                    <h3 style="font-weight: bold;color: white !important;">Quick Links</h3>
                    <p><a href="/privacy-policy">Privacy Policy</a></p>
                    <p><a href="/terms">Terms</a></p>
                    <p><a href="/company">Company</a></p>
                </div>
                <div class="col-md-4 footer-links" style="color: #A7A2A2;">
                    <h3 style="font-weight: bold;color: white !important;">Support</h3>
                    <p><a href="/tutorial">Tutorial</a></p>
                    <p><a href="/contact">Contact</a></p>
                    <p><a href="http://blog.sensemagik.com/">Blog</a></p>
                </div>
                <div class="col-md-4 footer-links" style="color: #A7A2A2;">
                    <h3 style="font-weight: bold;color: white !important;">SenseMagik Technologies Pvt Ltd</h3>
                    <p>1B, Bharath Avenue, Saraswathy nagar, Selaiyur Post, Chennai- 600073.</p>
                    <p>sensemagik@gmail.com</p>
                    <p>+91 8056527917</p>
                </div>
            </div>
        </div>
        <br />
        <div class="row" style="text-align: center;height: 50px; background: black;padding-top: 20px;">
           <p style="vertical-align:middle;"> Copyright &copy; 2015 SenseMagik Technologies Pvt Ltd. All Rights Reserved</p>
        </div>
    </footer>