<div class="aside bs-docs-aside" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="aside-title">Feedback</h4>
      </div>
      <div class="aside-body bs-sidebar" style="float:right;overflow:auto;width:300px;">
        <form class="form" ng-submit="sendFeedback(feedback)" ng-if="!feedbackSent">
	        <div class="form-group">
        		<label for="email">Name:</label>
    			<input type="name" class="form-control" ng-model="feedback.name" id="email">
        	</div>
        	<div class="form-group">
        		<label for="email">Email address:</label>
    			<input type="email" class="form-control" ng-model="feedback.email" id="email">
        	</div>
        	<div class="form-group">
        		<label>Your Comments:</label>
    			<textarea rows="10" cols="10" class="form-control" ng-model="feedback.comments"></textarea>
        	</div>
        	<div class="form-group">
        		<button class="btn btn-default btn-block"><span class="glyphicon glyphicon-send"></span> SEND</button>
        	</div>
	    </form>
	    <h3 ng-if="feedbackSent">Thank you for your valuable feedback.. Have a good time</h3>
      </div>
	  <div class="aside-footer">
	  	
      </div> 
    </div>
  </div>
</div>