<!DOCTYPE html>
<html ng-app>

<head>
    <title>Privacy Policy | Sensemagik Studio</title>
    <meta name="description" content="Privacy policy for sensemagik can be found here. Sensemagik studio allows you to create image and video augmented reality online" />
    <meta name="keywords" content="augmented reality, AR in chennai, augmented reality company, augmented reality company chennai,Augmented reality in india,image augmentation, video augmentation,create augmented reality online" />
    <meta name="author" content="metatags generator">
    <meta name="robots" content="index, follow">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>css/style.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>css/loginstyle.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/angular-ui/build/angular-ui.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/angular-xeditable/dist/css/xeditable.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/ng-grid/ng-grid.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>js/angular-datepicker-master/dist/index.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/fullcalendar/fullcalendar.css" />
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/ng-table/dist/ng-table.css">
    <link rel='stylesheet' type="text/css" href='<%=basePath%>bower_components/angular-ui-notification/dist/angular-ui-notification.min.css'>
    <link rel='stylesheet' type="text/css" href='<%=basePath%>css/font-awesome/css/font-awesome.css'>
    <link rel='stylesheet' type="text/css" href='<%=basePath%>lib/plans/css/colorfultpt.css'>
    <style>
        .question{
            font-weight:bolder;
        }
        p{
            font-size:18px;
        }
    </style>
</head>
<!--Navbar-->

<body class="login-body">
    <nav class="navbar navbar-default login-navbar" style="margin-bottom: 0px !important; background: rgba(0,0,0,0.5) !important; ">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" style="color: white;" href="/"><span style="font-weight: bolder;">SENSEMAGIK</span> Studio <sup style="color:orange;font-weight:bold;">BETA</sup></a>
            </div>
            <div class="navbar-right">
                <h4><a style="color:white !important;" href="/" class="fa fa-arrow-circle-left"> Back to home</a></h4>
            </div>

        </div>
    </nav>

    <!--Signup Part-->
    <div class="row" style="min-height: 100px;background:url(<%=basePath%>/img/editor/editorbg1.png) #38033C;color:white; text-align:center;font-weight:bolder">
            <h2 style="font-weight:bolder;">PRIVACY POLICY</h2>
    </div>
    <div class="container-fluid" style="background:white;padding:50px;">
        <div class="row">
            <p>This privacy policy has been compiled to better serve those who are concerned with how their 'Personally identifiable information' (PII) is being used online. PII, as used in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.
            </p>
        </div>
        <div class="row">
            <p class="question">What personal information do we collect from the people that visit our blog, website or app?</p>
            <p>
                When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address, mailing address, phone number, credit card information or other details to help you with your experience.
            </p>
        </div>
        <div class="row">
            <p class="question">When do we collect information?</p>
            <p>
                We collect information from you when you register on our site, place an order, fill out a form or enter information on our site.
            </p>
        </div>
        <div class="row">
            <p class="question">How do we use your information?</p>
            <p>
                We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:
                <ul>
                    <li>To personalize user's experience and to allow us to deliver the type of content and product offerings in which you are most interested.</li>
                    <li>To improve our website in order to better serve you.</li>
                    <li>To allow us to better service you in responding to your customer service requests.</li>
                    <li>To quickly process your transactions.</li>
                    <li>To send periodic emails regarding your order or other products and services.</li>
                </ul>
            </p>
        </div>
        <div class="row">
            <p class="question">How do we protect visitor information?</p>
            <p>
                Our website is scanned on a regular basis for security holes and known vulnerabilities in order to make your visit to our site as safe as possible.

                We use regular Malware Scanning.

                Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. In addition, all sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL) technology.

                We implement a variety of security measures when a user places an order enters, submits, or accesses their information to maintain the safety of your personal information.

                All transactions are processed through a gateway provider and are not stored or processed on our servers.
            </p>
        </div>
        <div class="row">
            <p class="question">Do we use 'cookies'?</p>
            <p>
                Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. For instance, we use cookies to help us remember and process the items in your shopping cart. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.

                We use cookies to:
                      • Help remember and process the items in the shopping cart.
                      • Understand and save user's preferences for future visits.

                You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser (like Internet Explorer) settings. Each browser is a little different, so look at your browser's Help menu to learn the correct way to modify your cookies.
            </p>
        </div>
        <div class="row">
            <p class="question">If users disable cookies in their browser:</p>
            <p>
                If you disable cookies off, some features will be disabled It will turn off some of the features that make your site experience more efficient and some of our services will not function properly.

            </p>
        </div>
        <div class="row">
            <p class="question">Third Party Disclosure</p>
            <p>
                We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information.

            </p>
        </div>
        <div class="row">
            <p class="question">Third party links</p>
            <div class='grayText'><strong>Third party links</strong>
    </div>
    <br />
    <div class='innerText'>Occasionally, at our discretion, we may include or offer third party products or services on our website. These third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and
        activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.</div><span id='gooAd'></span>
    <br>
    <div class='blueText'><strong>Google</strong>
    </div>
    <br />
    <div class='innerText'>Google's advertising requirements can be summed up by Google's Advertising Principles. They are put in place to provide a positive experience for users. https://support.google.com/adwordspolicy/answer/1316548?hl=en
        <br>
        <br>
    </div>
    <div class='innerText'>We use Google AdSense Advertising on our website.</div>
    <div class='innerText'>
        <br>Google, as a third party vendor, uses cookies to serve ads on our site. Google's use of the DART cookie enables it to serve ads to our users based on their visit to our site and other sites on the Internet. Users may opt out of the use of the
        DART cookie by visiting the Google ad and content network privacy policy.
        <br>
    </div>
    <div class='innerText'>
        <br><strong>We have implemented the following:</strong>
    </div>
    <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> Remarketing with Google AdSense</div>
    <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> Demographics and Interests Reporting</div>
    <br>
    <div class='innerText'>We along with third-party vendors, such as Google use first-party cookies (such as the Google Analytics cookies) and third-party cookies (such as the DoubleClick cookie) or other third-party identifiers together to compile data regarding user interactions
        with ad impressions, and other ad service functions as they relate to our website.</div>
    <div class='innerText'>
        <br>Opting out:
        <Br>Users can set preferences for how Google advertises to you using the Google Ad Settings page. Alternatively, you can opt out by visiting the Network Advertising initiative opt out page or permanently using the Google Analytics Opt Out Browser
        add on.</div><span id='calOppa'></span>
    <br>
    <div class='blueText'><strong>California Online Privacy Protection Act</strong>
    </div>
    <br />
    <div class='innerText'>CalOPPA is the first state law in the nation to require commercial websites and online services to post a privacy policy. The law's reach stretches well beyond California to require a person or company in the United States (and conceivably the world)
        that operates websites collecting personally identifiable information from California consumers to post a conspicuous privacy policy on its website stating exactly the information being collected and those individuals with whom it is being shared,
        and to comply with this policy. - See more at: http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf
        <br>
    </div>
    <div class='innerText'>
        <br><strong>According to CalOPPA we agree to the following:</strong>
    </div>
    <div class='innerText'>Users can visit our site anonymously</div>
    <div class='innerText'>Once this privacy policy is created, we will add a link to it on our home page, or as a minimum on the first significant page after entering our website.</div>
    <div class='innerText'>Our Privacy Policy link includes the word 'Privacy', and can be easily be found on the page specified above.</div>
    <div class='innerText'>
        <br>Users will be notified of any privacy policy changes:</div>
    <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> On our Privacy Policy Page</div>
    <div class='innerText'>Users are able to change their personal information:</div>
    <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> By logging in to their account</div>
    <div class='innerText'>
        <br><strong>How does our site handle do not track signals?</strong>
    </div>
    <div class='innerText'>We honor do not track signals and do not track, plant cookies, or use advertising when a Do Not Track (DNT) browser mechanism is in place.</div>
    <div class='innerText'>
        <br><strong>Does our site allow third party behavioral tracking?</strong>
    </div>
    <div class='innerText'>It's also important to note that we do not allow third party behavioral tracking</div><span id='coppAct'></span>
    <br>
    <div class='blueText'><strong>COPPA (Children Online Privacy Protection Act)</strong>
    </div>
    <br />
    <div class='innerText'>When it comes to the collection of personal information from children under 13, the Children's Online Privacy Protection Act (COPPA) puts parents in control. The Federal Trade Commission, the nation's consumer protection agency, enforces the COPPA
        Rule, which spells out what operators of websites and online services must do to protect children's privacy and safety online.
        <br>
        <br>
    </div>
    <div class='innerText'>We do not specifically market to children under 13.</div><span id='ftcFip'></span>
    <br>
    <div class='blueText'><strong>Fair Information Practices</strong>
    </div>
    <br />
    <div class='innerText'>The Fair Information Practices Principles form the backbone of privacy law in the United States and the concepts they include have played a significant role in the development of data protection laws around the globe. Understanding the Fair Information
        Practice Principles and how they should be implemented is critical to comply with the various privacy laws that protect personal information.
        <br>
        <br>
    </div>
    <div class='innerText'><strong>In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur:</strong>
    </div>
    <div class='innerText'>We will notify the users via email</div>
    <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> Within 7 business days</div>
    <div class='innerText'>We will notify the users via in site notification</div>
    <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> Within 7 business days</div>
    <div class='innerText'>
        <br>We also agree to the individual redress principle, which requires that individuals have a right to pursue legally enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals
        have enforceable rights against data users, but also that individuals have recourse to courts or a government agency to investigate and/or prosecute non-compliance by data processors.</div><span id='canSpam'></span>
    <br>
    <div class='blueText'><strong>CAN SPAM Act</strong>
    </div>
    <br />
    <div class='innerText'>The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.
        <br>
        <br>
    </div>
    <div class='innerText'><strong>We collect your email address in order to:</strong>
    </div>
    <div class='innerText'>
        <br><strong>To be in accordance with CANSPAM we agree to the following:</strong>
    </div>
    <div class='innerText'><strong><br>If at any time you would like to unsubscribe from receiving future emails, you can email us at</strong>
    </div>and we will promptly remove you from <strong>ALL</strong> correspondence.</div>
<br><span id='ourCon'></span>
<br>
        </div>
    </div>
    <!--Footer-->
    <ng-include src="'<%=basePath%>templates/footer.html'" onload="basePath = '<%=basePath%>'"></ng-include>
    <!-- Libraries used in this app -->
    <script type="text/javascript" src="<%=basePath%>bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-xeditable/dist/js/xeditable.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/ng-grid/ng-grid-2.0.14.min.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/lodash/dist/lodash.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/restangular/dist/restangular.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-ui-calendar/src/calendar.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/fullcalendar/fullcalendar.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/fullcalendar/gcal.js"></script>
    <script type="text/javascript" src="<%=basePath%>js/angular-datepicker-master/dist/index.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/ng-table/dist/ng-table.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/ng-table-export/ng-table-export.js"></script>
    <script src="<%=basePath%>bower_components/ng-context-menu/dist/ng-context-menu.js"></script>
    <script src="<%=basePath%>bower_components/wiz-validation/wizValidation/wizValidation.js"></script>
    <script src="<%=basePath%>bower_components/angular-ui-notification/dist/angular-ui-notification.min.js"></script>
    <script src="<%=basePath%>bower_components/satellizer/satellizer.js"></script>
    <!-- Lib Ends -->


    <!-- Local file dependencies-->
    <script type="text/javascript" src="<%=basePath%>js/app.js"></script>
    <script type="text/javascript" src="<%=basePath%>js/nav.js"></script>
    <script type="text/javascript" src="<%=basePath%>js/LoginController.js"></script>
    

    <!--script type="text/javascript" src="js/modules/directives/"></script-->
</body>

</html>