<!DOCTYPE html>
<html ng-app>

<head>
    <title>Terms | Sensemagik Studio</title>
    <meta name="description" content="Sensemagik studio allows you to create image and video augmented reality online" />
    <meta name="keywords" content="augmented reality, AR in chennai, augmented reality company, augmented reality company chennai,Augmented reality in india,image augmentation, video augmentation,create augmented reality online" />
    <meta name="author" content="metatags generator">
    <meta name="robots" content="index, follow">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>css/style.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>css/loginstyle.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/angular-ui/build/angular-ui.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/angular-xeditable/dist/css/xeditable.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/ng-grid/ng-grid.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>js/angular-datepicker-master/dist/index.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/fullcalendar/fullcalendar.css" />
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="<%=basePath%>bower_components/ng-table/dist/ng-table.css">
    <link rel='stylesheet' type="text/css" href='<%=basePath%>bower_components/angular-ui-notification/dist/angular-ui-notification.min.css'>
    <link rel='stylesheet' type="text/css" href='<%=basePath%>css/font-awesome/css/font-awesome.css'>
    <link rel='stylesheet' type="text/css" href='<%=basePath%>lib/plans/css/colorfultpt.css'>
    <style>
        .titles{
            font-weight:bold;
        }
        p{
            font-size:18px;
        }
    </style>
</head>
<!--Navbar-->

<body class="login-body">
    <nav class="navbar navbar-default login-navbar" style="margin-bottom: 0px !important; background: rgba(0,0,0,0.5) !important; ">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" style="color: white;" href="/"><span style="font-weight: bolder;">SENSEMAGIK</span> Studio <sup style="color:orange;font-weight:bold;">BETA</sup></a>
            </div>
            <div class="navbar-right">
                <h4><a style="color:white !important;" href="/login" class="fa fa-arrow-circle-left"> Back to home</a></h4>
            </div>

        </div>
    </nav>

    <!--Signup Part-->
    <div class="row" style="min-height: 100px;background:url(<%=basePath%>/img/editor/editorbg1.png) #38033C;color:white; text-align:center;font-weight:bolder">
            <h2 style="font-weight:bolder;">TERMS</h2>
        </div>
    <div class="container-fluid" style="background:white;padding:50px;">
        <div class="row">

            <p>Thank you for choosing SenseMagik. This is an agreement between you (if signing as an individual or the legal entity you represent) (Hereinafter called "You") which term shall mean and include its executors, assigns, administrators and legal representatives and SenseMagik Technologies Private limited. (Hereinafter called "SenseMagik" that governs your rights to use the services identified in the below mentioned agreement. You should read the entire Agreement carefully because all of the terms are important and together create a legal agreement that, once accepted by you, applies to you. If you do not agree to these terms DO NOT SIGN UP and DO NOT USE THE SERVICES.</p>
            <br />
            <p class="titles">1. DEFINITIONS</p>

            <p>1.1 "Party" or "Parties" shall mean the SenseMagik or Subscriber or both based on the context.</p>

            <p>1.2 "Agreement", "this Agreement", "hereto", "herein", "hereby", "hereunder" and similar expressions refer to this Agreement and not to any particular Article, Section or other portion hereof, and include any and every instrument supplemental or ancillary to or in implement hereof.</p>

            <p>1.3 "Content" shall mean videos, photos, images, audio, music, sounds, graphics, special effects, images, logos, branding, marks and other files, information and content, including, without limitation, flash animation and flash files.</p>

            <p>1.4 "Subscription plan" shall mean the then existing subscription plans for use of SenseMagik services.</p>

            <p>1.5 "Videos" shall mean animated videos created using SenseMagik services by Subscriber or uploaded by SenseMagik depending on the context.</p>

            <p>1.6 "Content" shall mean the content made available by SenseMagik or the videos created by subscriber using SenseMagik services depending on the context.</p>

            <p>1.7 "Services" shall mean SenseMagik software, content, applications and services, including services or software that allow you to stream, download, view or use certain digital content such as music, video, animated characters, applications and other content that SenseMagik makes available from time to time.</p>
            <br />
            <p class="titles">2. SCOPE OF AGREEMENT, ACCEPTANCE AND AMENDMENT</p>

            <p>2.1 This Agreement applies to SenseMagik software, content, applications and services, including services or software that allow you to stream, download, view or use certain digital content such as music, video, animated characters, applications and other content that SenseMagik makes available from time to time (Hereinafter called the "Services"). The Services may be accessed from anywhere online.</p>

            <p>2.2 AGE</p>

            <p>By using the Services, you represent that you have reached the age of "majority" where you live and agree to be bound by this Agreement or you are the parent or legal guardian of a minor that has an account associated with yours and you are accepting this Agreement on their behalf. A SenseMagik account is necessary to use the Services. You may need to accept other terms of use and provide additional information in order to use your SenseMagik account with other SenseMagik services.</p>

            <p>2.3 ACCEPTANCE OF AGREEMENT</p>

            <p>By using or accessing the Services, or by agreeing to these terms where the option is made available to you in the user interface, you agree to abide by this Agreement without modification by you. If you do not agree, you may not use the Services</p>

            <p>2.4 ELECTRONIC CONTRACTING</p>

            <p>Your use of the Services under this agreement includes the ability to enter into agreements and/or to make transactions electronically. YOU ACKNOWLEDGE THAT YOUR ELECTRONIC SUBMISSIONS CONSTITUTE YOUR AGREEMENT AND INTENT TO BE BOUND BY AND TO PAY FOR SUCH SUBSCRIPTIONS AND TRANSACTIONS. YOUR AGREEMENT AND INTENT TO BE BOUND BY ELECTRONIC SUBMISSIONS APPLIES TO ALL RECORDS RELATING TO ALL TRANSACTIONS YOU ENTER INTO ON THIS SITE, INCLUDING NOTICES OF CANCELLATION, POLICIES, CONTRACTS, AND ANY OTHER APPLICATIONS. You shall be solely responsible to have necessary hardware and software that is required to retain electronic records that you may require. SenseMagik shall not be held responsible for any typographical errors.</p>

            <p>2.5 AMENDMENT</p>

            <p>From time to time, SenseMagik may change or amend these terms. SenseMagik will notify you, either through the user interface, in an email notification, or through other reasonable means. Your use of the Services after the date the change becomes effective will be your consent to the changed terms. If you do not agree to the changes, you must stop using the Services and cancel any paid Services by following the instructions in section 6. Otherwise, the new terms will apply to you.</p>
            <br />
            <p class="titles">3. GOOD CONTRACTING PRACTICES</p>

            <p>3.1 You must not use the services provided by SenseMagik for any of the following:</p>

            <p>a) Use the Services to harm, threaten, or harass another person, organization etc;</p>

            <p>b) Damage, disable, overburden, or impair the Services (or any network or Authorized Device connected to the Services);</p>

            <p>c) Assign, resell, or redistribute any part of the Services or access to the Services, including the sale or purchase of an account;</p>

            <p>d) Not provide accurate and correct information at the time of registration or signing up for a new account</p>

            <p>e) Share your account username and password or otherwise authorize a third party to access or use the Services on your behalf without prior approval from SenseMagik;</p>

            <p>f) Enable or use any unauthorized third party applications to access the Services;</p>

            <p>g) Use the Services or any content on the Services for commercial purposes (except the Agency version of subscription);</p>

            <p>h) Use or attempt to use any unauthorized means to modify, reroute, or gain access to the Services;</p>

            <p>i) Use any automated process or service (such as a bot, a spider, periodic caching of information stored by SenseMagik) to access or use the Services, or to copy or scrape or erase data from the Services;</p>

            <p>j) Obtain (or try to obtain) any data from the Services or related hardware, except the data that SenseMagik intend to make available to you; or use the Services or related hardware to design, develop, or update unauthorized software or software application;</p>

            <p>k) Use unauthorized software or hardware to access the Services or modify an Authorized Device in any unauthorized way (e.g., through unauthorized repairs, unauthorized upgrades, or unauthorized downloads). You agree that we have the right to send data, applications or other content to any software or hardware that you are using to access the Services for the purpose of detecting an unauthorized modification and/or disabling the modified device; or</p>

            <p>l) Except to the extent expressly permitted by applicable law notwithstanding this prohibition attempt to disassemble, decompile, create derivative works of, reverse engineer, modify, further sublicense, distribute, or use for other purposes the Services, animated characters, application, or other content available or accessible through the Services, or any hardware associated with the Services or with an Authorized Device. If you do, SenseMagik may cancel your account and your ability to access the Services, and pursue other legal remedies.</p>

            <p>m) SenseMagik may take any legal action that deem appropriate against users who violate our systems or network security, this Agreement or any additional terms incorporated or referenced in it. Such users may also incur criminal or civil liability</p>
            <br />
            <p class="titles">4. YOUR ACCOUNT, CONTENT, SUBSCRIPTIONS AND LICENSE</p>

            <p>4.1 As a registered user of SenseMagik's Service, you may establish an account (Hereinafter called "Account"). Don't reveal your Account information to any third party. You shall be solely responsible for maintaining the confidentiality and security of your Account and for all activities that occur on or through your Account, and agree to immediately notify SenseMagik of any security breach of your Account. SenseMagik shall not be responsible for any losses arising out of the unauthorized use of your Account</p>

            <p>4.2 You agree to provide accurate and complete information when you register with, and as you use, the Service, and you agree to update your Registration Data to keep it accurate and complete. You agree that SenseMagik may store and use the Registration Data you provide for use in maintaining and billing fees to your Account.</p>

            <p>4.3 Should SenseMagik suspect that such information is untrue, inaccurate, not current or incomplete, SenseMagik reserves the right to suspend or terminate your use of the Services.</p>

            <p>4.4 CONTENT</p>

            <p>a) SenseMagik reserves the right to monitor your information, content and your videos and to remove or disable your content and your videos that SenseMagik in good faith determines to be illegal, harmful, offensive, creating liability for SenseMagik or its service providers, or otherwise in violation of this agreement or SenseMagik's acceptable use or operating policies or those of any third party service provider.</p>

            <p>b) you hereby grant SenseMagik a non-exclusive, royalty-free, transferable license, with all the rights to sublicense, to use, reproduce, display, perform and create derivative works of your content to perform this agreement, including to store, offer and provide your videos.</p>

            <p>4.5 SUBSCRIPTIONS</p>

            <p>SenseMagik provides Free account and Paid account. The terms of subscriptions are as mentioned below:</p>

            <p>a) Free account:</p>

            <p>Free subscription is offered to you when you register for an account with SenseMagik. Notwithstanding anything in this agreement to the contrary:</p>

            <ul>
            <li><p>You may use SenseMagik service for personal as well as commercial use;</p>

            </li>
            <li><p>You may be able to use only a basic version of the SenseMagik service;</p>

            </li>
            <li><p>SenseMagik has no obligatory duty to provide any services under this subscription;</p>

            </li>
            <li><p>You may upgrade your account to Paid account by paying prescribed subscription fees;</p>

            </li>
            </ul>

            <p>b) Paid account:</p>

            <p>Paid account is offered to you on payment of prescribed subscription fees (For more details on Subscription plans <a href="http://www.animaker.com/pricing" >click here</a>) for a fixed period of time, you shall be entitled to full functionality service of SenseMagik during the subscription term.</p>

            <ul>
            <li><p>You may use SenseMagik service for personal, commercial or internal business use based on plans;</p>

            </li>
            <li><p>You may advertise your videos or allow viewing for any revenue;</p>

            </li>
            <li><p>You may publish your videos on social Service like Facebook or any means other than for Broadcasting or viewing on satellite or cable television with prior permission of SenseMagik;</p>

            </li>
            <li><p>SenseMagik has no obligatory duty to provide any services under this subscription;</p>

            </li>
            <li><p>You may downgrade from Paid account only on the expiry of your subscription;</p>

            </li>
            </ul>

            <p>4.6 LICENSE</p>

            <p>SenseMagik grants you a non-exclusive right to access and use SenseMagik service and a perpetual license to distribute the videos made by you subject to the terms and conditions set forth in this agreement, your subscription plan and limitations imposed by your free account or applicable Subscription Plan.</p>
            <br />
            <p class="titles">5. PAYMENT, TAXES AND REFUND POLICY</p>

            <p>5.1 PAYMENT AND TAXES</p>

            <p>a) You agree that you will pay for subscription plan chosen by you for use of SenseMagik service. SenseMagik may charge your payment method for any additional amounts (including any taxes and late fees, as applicable) that may be accrued by or in connection with your Account. YOU ARE RESPONSIBLE FOR THE TIMELY PAYMENT OF ALL FEES AND FOR PROVIDING SENSEMAGIK WITH A VALID PAYMENT METHOD FOR PAYMENT OF ALL FEES.</p>

            <p>b) All fees are payable in advance, non-refundable in US Dollars.</p>

            <p>c) All fees, taxes and any other charges shall be billed to your address or where applicable your business, company or organization address.</p>

            <p>d) Payment shall be made via Mastercard, Visa card and you hereby authorize SenseMagik to charge your credit card and store information of your credit card.</p>

            <p>e) SenseMagik hereby declares and commits that the credit card information stored shall only be used for payment of subscription plans. SenseMagik shall be held liable to compensate if the credit card information has been leaked out or used for any unauthorized use.</p>

            <p>f) You credit card shall be billed in advance on monthly, quarterly or yearly basis depending on the subscription plan you choose.</p>

            <p>g) Your total price will include the price of the subscription plan plus any applicable sales tax; such sales tax is based on the bill-to address and the sales tax rate in effect at the time you purchase the subscription plan.</p>

            <p>h) Your subscription will renew automatically, unless SenseMagik terminates it or you terminate this Agreement pursuant to Section 5 or downgrade your subscription to a free account. You must cancel your subscription before it renews in order to avoid billing of subscription fees for the renewal term.</p>

            <p>i) To downgrade your subscription to a free account, you can use change of plan in My account page. The change will become effective at the end of your subscription period. You must continue to pay all fees that come due during the remainder of your subscription.</p>

            <p>j) If you fail to timely pay the applicable fees, SenseMagik may suspend or terminate your access to either the SenseMagik service or certain features of the SenseMagik Service by downgrading you service to a free account. You agree to promptly pay SenseMagik in the event of any refusal of your credit card issuer to pay any amount to SenseMagik for any reason. You agree to pay all costs of collection, including attorneys' fees and costs, on any outstanding balance. In the event you fail to pay any amount when due, SenseMagik may suspend or terminate Your access to the SenseMagik Service and delete Your Videos.</p>

            <p>k) Any amounts not paid when due are subject to an interest charge at a rate of 1.5% or the maximum rate permitted by law, whichever is less.</p>

            <p>l) You are responsible for, and will indemnify and hold SenseMagik harmless from, payment of all taxes (other than taxes based on SenseMagik's net income), fees, duties, and other governmental charges, and any related penalties and interest, arising from the payment of fees to SenseMagik under this Agreement or the delivery or license of the SenseMagik Service or use of the SenseMagik Service or provision of any related services. You will make all payments to SenseMagik free and clear of, and without reduction for, any withholding taxes; any such taxes imposed on payments of fees to SenseMagik will be Your sole responsibility, and You agree to provide SenseMagik with official receipts issued by the appropriate taxing authority, or such other evidence as SenseMagik may reasonably request, to establish that such taxes have been paid.</p>

            <p>5.2 REFUND</p>

            <p>a) If the service becomes unavailable at anytime because of technical problems or there is unreasonable delay in providing access to service, your exclusive and sole remedy is refund of the price paid without any interest.</p>

            <p>b) There shall be no refund for partial months of service, upgrade or unused months.</p>

            <p>c) Prices for all the services offered by SenseMagik may change at any time, and the Services do not provide price protection or refunds in the event of a price reduction or promotional offering</p>
            <br />
            <p class="titles">6. TERM AND TERMINATION</p>

            <p>6.1 This agreement begins and binds upon you on the day you successfully register with SenseMagik and continue till the term of the subscription ends depending upon the subscription plan you choose.</p>

            <p>6.2 If you give a notice of non-renewal of Paid account to SenseMagik, your account will by default be downgraded to Free account.</p>

            <p>6.3 SenseMagik may terminate this agreement at any time if you breach any of the terms and conditions set out in this agreement without giving prior notice.</p>

            <p>6.4 SenseMagik reserves the right to change or discontinue any of the services of SenseMagik at any time by giving prior notice to you.</p>

            <p>6.5 In the event of termination or expiration of this Agreement, you must immediately cease all use of the SenseMagik Service and, except for the license to distribute Your Videos in the manner authorized by your Subscription Plan, all of the licenses granted to you hereunder will terminate. Additionally, SenseMagik may, at its option, block your access to the Services and/or delete Your Content and Your Videos. The definitions and rights, duties and obligations of the parties that by their nature continue and shall survive any termination or expiration of this Agreement.</p>

            <p>6.6 Should you wish to terminate this Agreement, you must send your notice of termination to: sensemagik@gmail.com. In the event of your termination pursuant to this Section, this Agreement will terminate at the end of then-current term. You must continue to pay all fees that come due during the remainder of this Agreement.</p>
            <br />
            <p class="titles">7. INTELLECTUAL PROPERTY</p>

            <p>7.1 You agree that the SenseMagik Service, including but not limited to SenseMagik Products, graphics, user interface, audio clips, video clips, editorial content, and the scripts and software used to implement the SenseMagik Service, contains proprietary information and material that is owned by SenseMagik and/or its licensors, and is protected by applicable intellectual property and other laws, including but not limited to copyright. You agree that you will not use such proprietary information or materials in any way whatsoever except for use of the SenseMagik Service in compliance with this Agreement. No portion of the SenseMagik Service may be reproduced in any form or by any means, except as expressly permitted in these terms. You agree not to modify, rent, lease, loan, sell, distribute, or create derivative works based on the SenseMagik Service in any manner, and you shall not exploit the SenseMagik Service in any unauthorized way whatsoever, including, but not limited to, by trespass.</p>

            <p>7.2 Notwithstanding any other provision of this Agreement, SenseMagik and its licensors reserve the right to change, suspend, remove, or disable access to any SenseMagik Products, content, or other materials comprising a part of the SenseMagik Service at any time without notice. In no event will SenseMagik be liable for making these changes. SenseMagik may also impose limits on the use of or access to certain features or portions of the SenseMagik Service, in any case and without notice or liability.</p>

            <p>7.3 All copyrights in and to the SenseMagik Service (including the compilation of content, postings, links to other Internet resources, and descriptions of those resources) and related software are owned by SenseMagik and/or its licensors, who reserve all their rights in law and equity. THE USE OF THE SOFTWARE OR ANY PART OF THE SENSEMAGIK SERVICE, EXCEPT FOR USE OF THE SENSEMAGIK SERVICE AS PERMITTED IN THIS AGREEMENT, IS STRICTLY PROHIBITED AND INFRINGES ON THE INTELLECTUAL PROPERTY RIGHTS OF OTHERS AND MAY SUBJECT YOU TO CIVIL AND CRIMINAL PENALTIES, INCLUDING POSSIBLE MONETARY DAMAGES, FOR COPYRIGHT AND OTHER INTELLECTUAL PROPERTY INFRINGEMENT.</p>

            <p>7.4 SenseMagik, SenseMagik logo, and other SenseMagik trademarks, service marks, graphics, and logos used in connection with the SenseMagik Service are trademarks of SenseMagik Inc. in the India, U.S., and/or other countries. Other trademarks, service marks, graphics, and logos used in connection with the SenseMagik Service may be the trademarks of their respective owners. You are granted no right or license with respect to any of the aforesaid trademarks and any use of such trademarks.</p>

            <p>7.5 As an Account holder of the SenseMagik Service in good standing, you may be provided with access to download certain videos created by you using SenseMagik services. Such access is provided as an accommodation only, and SenseMagik does not warrant, and will not have any liability or responsibility for, such art or your use thereof. You may access videos for which you are the lawful owner of a legal copy. Access is provided for personal and commercial use depending upon your subscription plan. You agree that you will not use SenseMagik services in any manner that would infringe or violate this Agreement or the rights of any other party, and that SenseMagik is not in any way responsible for any such use by you.</p>
            <br />
            <p class="titles">8. OWNERSHIP</p>

            <p>8.1 Except for the licenses granted to you by this agreement, you shall retain all right, title and interest, including all related intellectual property rights, in and to your content and SenseMagik retains all right, title, and interest including all related Intellectual property rights in and to the SenseMagik services, your videos excluding the content created by you and any other software, literature made available under this agreement and all modifications and derivative works of any and all of the foregoing works (hereinafter called as "Derivative works").</p>

            <p>8.2 You agree to assign and hereby assign all right, title and interest including all related Intellectual property right, in and to the Derivative works. You hereby agree to waive and never assert your right such as moral right to the extent permitted by law.</p>

            <p>8.3 SenseMagik retains all rights not expressly granted to you under this Agreement. You do not have any implied rights.</p>

            <p>8.4 Your rights with respect to your Videos are further detailed in your subscription plan. In the event of a conflict between this Agreement and any subscription plan, this Agreement will govern and control.</p>
            <br />
            <p class="titles">9. CONFIDENTIALITY</p>

            <p>You hereby acknowledge and agree that all information, written and oral, concerning SenseMagik services furnished from time to time to you, including the Subject Documents, is provided on a confidential basis. You further acknowledge and agree that it will not disclose such information, other than where such disclosure is required by law or where such information is already available to the public other than as a result of disclosure by SenseMagik, to anyone other than the SenseMagik's officers, directors, employees, legal counsel, accountants, or authorized agents or advisors, who will agree in writing to be bound by the provisions of this Section</p>
            <br />
            <p class="titles">10. DISCLAIMER OF WARRANTIES, LIABILITY LIMITATION</p>

            <p>10.1 SENSEMAGIK DOES NOT GUARANTEE, REPRESENT, OR WARRANT THAT YOUR USE OF THE SENSEMAGIK SERVICE WILL BE UNINTERRUPTED OR ERROR-FREE, AND YOU AGREE THAT FROM TIME TO TIME SENSEMAGIK MAY REMOVE THE SENSEMAGIK SERVICE FOR INDEFINITE PERIODS OF TIME, OR CANCEL THE SENSEMAGIK SERVICE AT ANY TIME, WITHOUT NOTICE TO YOU.</p>

            <p>10.2 YOU EXPRESSLY AGREE THAT YOUR USE OF, OR INABILITY TO USE, THE SENSEMAGIK SERVICE IS AT YOUR SOLE RISK. THE SENSEMAGIK SERVICE AND ALL PRODUCTS AND SERVICES DELIVERED TO YOU THROUGH THE SENSEMAGIK SERVICE ARE (EXCEPT AS EXPRESSLY STATED BY SENSEMAGIK) PROVIDED "AS IS" AND "AS AVAILABLE" FOR YOUR USE, WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS, STATUTORY OR IMPLIED, INCLUDING ALL IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NONINFRINGEMENT. BECAUSE SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES, THE ABOVE EXCLUSION OF IMPLIED WARRANTIES MAY NOT APPLY TO YOU.</p>

            <p>10.3 IN NO CASE SHALL SENSEMAGIK, ITS DIRECTORS, OFFICERS, EMPLOYEES, AFFILIATES, AGENTS, CONTRACTORS, OR LICENSORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, PUNITIVE, SPECIAL, OR CONSEQUENTIAL DAMAGES ARISING FROM YOUR USE OF ANY OF THE SENSEMAGIK SERVICE OR FOR ANY OTHER CLAIM RELATED IN ANY WAY TO YOUR USE OF THE SENSEMAGIK SERVICE, INCLUDING, BUT NOT LIMITED TO, ANY ERRORS OR OMISSIONS IN ANY CONTENT, OR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF THE USE OF ANY CONTENT (OR PRODUCT) POSTED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE VIA THE SENSEMAGIK SERVICE, EVEN IF ADVISED OF THEIR POSSIBILITY. BECAUSE SOME STATES OR JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR THE LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, IN SUCH STATES OR JURISDICTIONS, SENSEMAGIK'S LIABILITY SHALL BE LIMITED TO THE EXTENT PERMITTED BY LAW.</p>

            <p>10.4 SENSEMAGIK SHALL USE REASONABLE EFFORTS TO PROTECT INFORMATION SUBMITTED BY YOU IN CONNECTION WITH THE SENSEMAGIK SERVICE, BUT YOU AGREE THAT YOUR SUBMISSION OF SUCH INFORMATION IS AT YOUR SOLE RISK, AND SENSEMAGIK HEREBY DISCLAIMS ANY AND ALL LIABILITY TO YOU FOR ANY LOSS OR LIABILITY RELATING TO SUCH INFORMATION IN ANY WAY.</p>

            <p>10.5 SENSEMAGIK DOES NOT REPRESENT OR GUARANTEE THAT THE SENSEMAGIK SERVICE WILL BE FREE FROM LOSS, CORRUPTION, ATTACK, VIRUSES, INTERFERENCE, HACKING, OR OTHER SECURITY INTRUSION, AND SENSEMAGIK DISCLAIMS ANY LIABILITY RELATING THERETO. SOME PRODUCTS CAN BE DOWNLOADED ONLY ONCE; AFTER BEING DOWNLOADED, THEY CANNOT BE REPLACED IF LOST FOR ANY REASON. YOU SHALL BE RESPONSIBLE FOR BACKING UP YOUR OWN CONTENT.</p>

            <p class="titles">11. WAIVER AND INDEMNITY</p>

            <p>11.1 By using the SenseMagik service, you agree, to the extent permitted by law, to indemnify and hold SenseMagik, its directors, officers, employees, affiliates, agents, contractors, and licensors harmless with respect to any claims arising out of your breach of this agreement, your use of the SenseMagik service, or any action taken by SenseMagik as part of its investigation of a suspected violation of this agreement or as a result of its finding or decision that a violation of this agreement has occurred. this means that you cannot sue or recover any damages from SenseMagik, its directors, officers, employees, affiliates, agents, contractors, and licensors as a result of its decision to remove or refuse to process any information or content, to warn you, to suspend or terminate your access to the SenseMagik service, or to take any other action during the investigation of a suspected violation or as a result of SenseMagik's conclusion that a violation of this agreement has occurred. This waiver and indemnity provision applies to all violations described in or contemplated by this agreement.</p>
            <br />
            <p class="titles">12. OTHERS</p>

            <p>12.1 ASSIGNMENT</p>

            <p>Without prior consent of SenseMagik you may not transfer or assign your rights granted under this Agreement, in whole or in part, except in connection with Merger and Acquisition or sale of all or substantial assets to which this agreement relates. You agree to inform SenseMagik of other party involved in any Merger or Acquisition. SenseMagik may freely transfer or assign its rights under this agreement. If you purchase a "Transfer Rights" license or if otherwise expressly authorized by your Paid account or higher subscription, you may assign or otherwise transfer the right to distribute your videos to third parties, subject to you following the procedures and terms outlined by SenseMagik for the transfer and the assignee separately agreeing with you in writing to be bound by this Agreement. Upon such an assignment or transfer, you may not retain any rights to use that Video further.</p>

            <p>12.2 SUCCESSORS</p>

            <p>The provisions of the Agreement shall be binding upon and shall inure to the benefit of the Parties hereto, their heirs, administrators, successors and assigns.</p>

            <p>12.3 WAIVER</p>

            <p>No waiver by either party of any default shall be deemed as a waiver of prior or subsequent default of the same of other provisions of this Agreement</p>

            <p>12.4 SEVERABILITY</p>

            <p>If any term, clause or provision hereof is held invalid or unenforceable by a court of competent jurisdiction, such invalidity shall not affect the validity or operation of any other term, clause or provision and such invalid term, clause or provision shall be deemed to be severed from the Agreement.</p>

            <p>12.5 INTEGRATION</p>

            <p>This Agreement constitutes the entire understanding of the Parties, and revokes and supersedes all prior agreements between the Parties and is intended as a final expression of their Agreement. This Agreement shall take precedence over any other documents which may conflict with this Agreement.</p>

            <p>12.6 FORCE MAJEURE</p>

            <p>The performance of any part of this Agreement by the parties shall be excused to the extent that such performance is hindered, delayed, or made impractical by flood, fire, war, or riot or any other cause beyond the reasonable control of either party. Upon the occurrence of any such event the party whose performance is affected shall notify the other party of within 30 days of such occurrence.</p>

            <br />
        </div>
    </div>
    
    <!--Footer-->

    <ng-include src="'<%=basePath%>templates/footer.html'" onload="basePath = '<%=basePath%>'"></ng-include>
    <!-- Libraries used in this app -->
    <script type="text/javascript" src="<%=basePath%>bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-xeditable/dist/js/xeditable.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/ng-grid/ng-grid-2.0.14.min.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/lodash/dist/lodash.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/restangular/dist/restangular.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/angular-ui-calendar/src/calendar.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/fullcalendar/fullcalendar.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/fullcalendar/gcal.js"></script>
    <script type="text/javascript" src="<%=basePath%>js/angular-datepicker-master/dist/index.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/ng-table/dist/ng-table.js"></script>
    <script type="text/javascript" src="<%=basePath%>bower_components/ng-table-export/ng-table-export.js"></script>
    <script src="<%=basePath%>bower_components/ng-context-menu/dist/ng-context-menu.js"></script>
    <script src="<%=basePath%>bower_components/wiz-validation/wizValidation/wizValidation.js"></script>
    <script src="<%=basePath%>bower_components/angular-ui-notification/dist/angular-ui-notification.min.js"></script>
    <script src="<%=basePath%>bower_components/satellizer/satellizer.js"></script>
    <!-- Lib Ends -->


    <!-- Local file dependencies-->
    <script type="text/javascript" src="<%=basePath%>js/app.js"></script>
    <script type="text/javascript" src="<%=basePath%>js/nav.js"></script>
    <script type="text/javascript" src="<%=basePath%>js/LoginController.js"></script>
    

    <!--script type="text/javascript" src="js/modules/directives/"></script-->
</body>

</html>