<style>
/*
	.plan-heading{
		min-height: 150px;
		border: 1px solid black;
		width: 100%;
		text-align: center;
	}
	.plan-heading-1{
		background: -webkit-linear-gradient(left,white 0%,whitesmoke 90%);
	}
	.plan-heading-2{
		background: -webkit-linear-gradient(left,whitesmoke 0%,wheat 90%);
	}
	.plan-heading-3{
		background: -webkit-linear-gradient(left,wheat 0%,white 90%);
	}*/
	.pricing-row div{
		min-height: 300px;
	}
	.pricing div, span, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	abbr, address, cite, code,
	del, dfn, em, img, ins, kbd, q, samp,
	small, strong, sub, sup, var,
	b, i,dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section, summary,
	time, mark, audio, video {
	   
	    padding:0;
	    border:0;
	    outline:0;
	    vertical-align:baseline;
	    background:transparent;
	}
	.name h1{
		margin: 0;
		padding: 0;
	}
</style>
<div class="row" style="min-height: 100px;background:url({{basePath}}/img/editor/editorbg.png) #ED4D13;color:white; text-align:center;font-weight:bolder">
	<h2 style="font-weight:bolder;"><span class="fa fa-dollar" style="color:white !important;"></span> Pricing</h2>
</div>
<div class="container-fluid pricing" style="min-height: 500px;padding-top:20px;background: #fff;">
	<div class="wrapper-colorful">
	  <ul class="basic">
	    <li class="icon"></li>
	    <li class="name"><h1>Free</h1></li>
	    <li class="price-col"><div class="cost"><sup class="valuta">$</sup>0<span class="mounthly">/mo</span></div></li>
	    <li class="description-range">5GB Disk Space</li>
	    <li class="description-range">100GB Bandwidth</li>
	    <li class="description-range">25 Email Accounts</li>
	    <li class="description-range">5 Domains</li>
	    <li class="description-range">No encryption</li>
	    <li class="description-range">Analystics</li>
	    <li class="description-range">Unlimited subdomains</li>
	    <li class="purchase"><a href="#">Purchase now</a></li>
	  </ul>
	  <ul class="premium">
	    <li class="icon"></li>
	    <li class="name"><h1>Bronze</h1></li>
	    <li class="price-col"><div class="cost"><sup class="valuta">$</sup>19<span class="mounthly">/mo</span></div></li>
	    <li class="description-range">10GB Disk Space</li>
	    <li class="description-range">150GB Bandwidth</li>
	    <li class="description-range">55 Email Accounts</li>
	    <li class="description-range">15 Domains</li>
	    <li class="description-range">SSL encryption</li>
	    <li class="description-range">Analystics</li>
	    <li class="description-range">Unlimited subdomains</li>
	    <li class="purchase"><a href="#">Purchase now</a></li>
	  </ul>
	  <ul class="plus">
	    <li class="icon"></li>
	    <li class="name"><h1>Silver</h1></li>
	    <li class="price-col"><div class="cost"><sup class="valuta">$</sup>27<span class="mounthly">/mo</span></div></li>
	    <li class="description-range">15GB Disk Space</li>
	    <li class="description-range">200GB Bandwidth</li>
	    <li class="description-range">75 Email Accounts</li>
	    <li class="description-range">35 Domains</li>
	    <li class="description-range">SSL encryption</li>
	    <li class="description-range">Analystics</li>
	    <li class="description-range">Unlimited subdomains</li>
	    <li class="purchase"><a href="#">Purchase now</a></li>
	  </ul>
	  <ul class="business">
	    <li class="icon"></li>
	    <li class="name"><h1>Gold</h1></li>
	    <li class="price-col"><div class="cost"><sup class="valuta">$</sup>29<span class="mounthly">/mo</span></div></li>
	    <li class="description-range">25GB Disk Space</li>
	    <li class="description-range">500GB Bandwidth</li>
	    <li class="description-range">95 Email Accounts</li>
	    <li class="description-range">75 Domains</li>
	    <li class="description-range">SSL encryption</li>
	    <li class="description-range">Analystics</li>
	    <li class="description-range">Unlimited subdomains</li>
	    <li class="purchase"><a href="#">Purchase now</a></li>
	  </ul>
	  <div style="clear:both;"></div>
	</div>

</div>